[2022-07-15 16:34] o771e opened #263 "Is there any documentation of how to create nextjs drupal project in docker4drupal or docker containers?"
I have managed to accomplish all steps of "Get started", I added into docker-compose:
[code]

I created folder app/ so my file structure looks like this:
[code]
I enter php container, run node server but I can not see anything at `http://localhost:3000/` or `drupal.docker.localhost:3000`

I edited my traefik like so:
[code]
What am I doing wrong?

[2022-07-15 17:00] o771e commented on #261
When you run "npx create-next-app" what app name do you use?

[2022-07-15 17:25] o771e opened #264 "field_media_image is not a valid relationship field name"
I tried Drupal 9.4.2 and the latest basic starter project.

![image](https://user-images.githubusercontent.com/88319069/179276507-219aa743-4a94-49af-9d83-570c4232e771.png)

[2022-07-18 07:02] shadcn commented on #262
I did not know that. I'll update the docs to add yarn commands. Thank you.

[2022-07-18 07:03] shadcn commented on #263
@o771e I'm not familiar with docker4drupal. Can you try the #nextjs channel on Drupal Slack? You might find other people that can help.

[2022-07-18 07:22] shadcn commented on #264
The basic-starter is set to pull from content from https://cms.next-drupal.org (for quick start).

You can remove the fields and include when pulling from your own site.

[2022-07-18 10:10] kanchamk commented on #261
I used **next_drupal**,  **next**, **drupal_next** as app name, do I need to follow any naming conventions?

[2022-07-18 12:23] kanchamk commented on #261
Working fine now after hours of debugging
Fix: Upgraded my node version to its latest i.e 16

[2022-07-18 12:23] #261 closed

[2022-07-18 15:51] harumijang commented on #93
I've been running into this error when running `yarn build` for prod mode as well

[2022-07-18 16:22] shadcn commented on #93
OK. Good to know. Let me know if you hit this issue again.

[2022-07-26 21:47] backlineint opened #268 "[next-drupal-basic-starter] TypeScript Errors in Preview API Route"
Steps to duplicate:
* Create Next for Drupal Project as outlined here: https://next-drupal.org/learn/quick-start/create-nexts-project, connecting to a Drupal Backend as configured in the documentation.
* run `yarn dev` and confirm that site functions.
* run `yarn build` which throws the following Type error:

===

yarn build
yarn run v1.22.18
$ next build
info  - Loaded env from /Users/brianperry/

[2022-07-27 08:57] shadcn commented on #255
Done. See https://next-drupal.org/docs/known-issues

[2022-07-27 08:57] #255 closed

[2022-07-27 09:19] shadcn commented on #264
We've decided to update the basic-starter to make it work with a vanilla Drupal install instead of a custom one.

This should fix this error.

Thanks for reporting.

[2022-07-27 09:19] #264 closed

[2022-07-27 09:23] shadcn commented on #268
We've upgraded the `next` version in the starter and fixed the issue. Thank you.

[2022-07-27 09:23] #268 closed

[2022-08-01 08:41] Kroonax opened #271 "Preview mode in Drupal has two different states"
Hello, I am facing a weird behavior in Drupal :

When I click the node title directly in the `/admin/content` list, I correctly access the preview page with the preview iframe in it. But when I try to access it from inside the node (preview button), the Drupal preview is not displayed at all, only the default "Drupal" preview.

I noticed that it only happens on one of our sites, on the one that is

[2022-08-01 09:10] shadcn commented on #271
Do you mean the default Drupal preview button? This is not supported out the box in next-drupal. There's a few workaround to make it work. See also https://www.drupal.org/project/jsonapi_node_preview

The `/node/preview/node-id/full` path does not render the iframe preview by default.

[2022-08-01 09:15] Kroonax commented on #271
Why is it working on the first website then ? It does work using the `/node/preview/node-id/full` path so what could be the reason ?

[2022-08-01 14:14] shadcn commented on #271
Hmm you mean you can see the iframe preview at `node/preview/uuid/full`?

[2022-08-01 14:27] Kroonax commented on #271
Exactly, as weird as it sounds it does show on that page.

[2022-08-03 20:02] simon-olsen commented on #236
Just dropping this here in case anyone else needs help with this. I don't have any Paragraph Type permissions added to my Drupal site. I was able to access my Paragraph and the Media asset within it with the following:

My paragraphs field is **Body variation** with a Paragraph Type of **Image and body text** which has an image, a select field for image position (above, left or right) and the _Bod

[2022-08-06 14:18] violabg opened #274 "DrupalNode type definition missing body"
DrupalNode type definition missing is body

[2022-08-06 15:44] webchick opened #275 "Hard-coded reference to "field_image" causes 400 error when using Umami"
I'm trying to play around with this project, and set up a local replica of the [demo](https://demo.next-drupal.org/) which seems to be having problems atm. Using Drupal 9.4.5 and attempting to install the Umami profile.

I followed along with your [very helpful getting started documentation](https://next-drupal.org/learn/quick-start), and all was going well until [Start Development Server](https:/

[2022-08-06 17:16] shadcn commented on #275
Hey Angie 👋

Are you using the basic starter?

So the basic starter is configured to work with a vanilla Drupal (which has an Article type with `field_image`).

If you want to test the Umami profile, we have a Umami example [here]( https://github.com/chapter-three/next-drupal/tree/main/examples/example-umami) and a guide on how to run it locally: https://next-drupal.org/guides/umami-demo

The Umam

[2022-08-06 18:14] webchick commented on #275
Oh hey, thanks so much for the quick response! :D When you select "Standard" things do indeed seem to work! I'll try the Umami demo shortly.

If you're interested, I created PR #276 to add your helpful pointers to the getting started guide for the next person who tries to do this.

[2022-08-06 18:14] #275 closed

[2022-08-07 18:59] webchick opened #277 "Issues with Umami demo guide"
Hi, I'm back! ;)

This time, trying to run through https://next-drupal.org/guides/umami-demo.

Where I ultimately get stuck (which is weird, since that didn't happen with the quickstart guide) is:

[code]

What happened before that is:

[code]

I found https://stackoverflow.com/questions/56617209/the-engine-node-is-incompatible-with-this-module which directed to add an argument to tell yarn to ign

[2022-08-08 00:29] webchick commented on #277
Ok, figured out (I think) that this is because I was not the LTS version of Node.js. Doing:

[code]

...got me a bit closer.

Now the problem is:

[code]

[2022-08-08 06:30] shadcn commented on #277
Looks like some env variables are missing or not configured. What's in your `.env.local` file?

[2022-08-08 06:32] shadcn commented on #277
This was a recent change in how `next-i18next` handles config validation. You can safely remove `localPath` from `next-i18next.config.js`.

https://github.com/chapter-three/next-example-umami/blob/9330daeefdf3fb5568491517a0af0318c06de89a/next-i18next.config.js#L9

[2022-08-08 06:46] Jussiles opened #278 "Cache key expiration time"
Hi, thanks for great work with Next-drupal!

I’m implementing Redis caching for our project and was wondering could it be possible to have support for setting cache key expiration time? Is the any cache related enhancements coming in the near future?

[2022-08-08 06:49] shadcn commented on #278
Hi.

We have started working on cache implementation. You can provide a custom cache via the `cache` option.

[code]

See also https://github.com/chapter-three/next-drupal/tree/main/examples/example-custom-cache

Can you elaborate the cache key expiration time please?

[2022-08-08 06:53] shadcn commented on #274
Hi. Thanks for the feedback.

The reason we don't have a body field on the `DrupalNode` is because not all node types have a body field.

Example we have some node types using paragraphs and we generally remove the `body` field.

With that said, you can extend the interface and add your own field pretty easily.

[code]

Then you can use it as follows:

[code]

Hope this helps.

[2022-08-08 07:17] Jussiles commented on #278
I believe I’m familiar with the code above. Now it seems for me that e.g. getMenu caches the menu only on build time. I would like to be able to cache menu also in run time because it can be that content editors change the menu. Using [Redis cache expiration time](https://redis.io/commands/set/) would be enough to keep it updated frequently.

With [ioredis](https://redis.io/commands/set/) it could

[2022-08-08 07:32] shadcn commented on #278
I think it depends how you're handling the menus. If `getMenu` is called in `getStaticProps`, the only way to update the menu at runtime would be using on-demand ISR to revalidate the page.

This does not work as expected though because a menu expands several (if not all) pages on the site, so you end up having to revalidate everything.

The way we're handling this right now (for sites with menus

[2022-08-08 08:12] Jussiles commented on #278
Thanks for the info and ideas! This far I was just using ISR but now I started to think about implementing on-demand ISR. It is still experimental but will it be not experimental anymore in the future?

[2022-08-08 08:41] shaxaaa opened #279 "Having the same path alias for different next.js microsites"
Hi guys,

First of all, great work! We are doing a PoC if the next module is a good fit for us and everything seems to be working so far. One thing we weren't able to see though is if we can have the same alias for multiple next.js sites. For example we have 3 presentation sites and all 3 of them should have a page aliased "/contacts" but still the node is different. We are thinking of prefexing t

[2022-08-08 08:58] alex-ahumada commented on #279
We've solved a similar requirement in our project using Next.js rewrites:
https://nextjs.org/docs/api-reference/next.config.js/rewrites

[2022-08-08 10:13] shadcn commented on #279
Yes like @alex-ahumada said, you can do this using Next.js rewrites.

Let's say you have 3 microsites on Drupal, each with their own contact page:

![Untitled-2022-03-23-1048-2-2](https://user-images.githubusercontent.com/124599/183395175-12dc7801-545e-4301-8ce8-4e3ac5e67a95.png)

In your `next.config.js`, you can use `rewrites` to map `/contact` to `/microsite-a/contact`:

[code]

With the config

[2022-08-08 10:19] shadcn commented on #278
Next.js `12.2` announced stable revalidation API. We're working on the [Drupal](https://drupal.org/project/next) end now to make it stable in the next release.

[2022-08-08 10:21] shadcn commented on #259
@nishud16 Did you figure this out?

[2022-08-08 13:50] nishud16 commented on #259
@shadcn Yes the fix with path prefix worked for me. Earlier it wasn’t working due to some config issue at drupal end.

[2022-08-08 13:50] #259 closed

[2022-08-09 04:32] shaxaaa commented on #279
@shadcn curries if you are using pathauto for prefixing the pages with the microsites in your example and what happens afterwards when your are building your sitemaps, real time SEOs in Drupal with Yoast and etc.

One more question that I'm exploring is potentially different enabled languages per microsite and different translations per microsite.

[2022-08-12 19:55] jeyram opened #280 "Path translation in Umami demo does not follow getPathsFromContext or buildPathsFromResources and got a 404 error"
Hi, I've found an  issue with the path's translation. Drupal set both  [node:title] languages, but when I switch between them in the Next SSR, it doesn't find the "/en/[node:source:title]-Spanish path" and generates a 404.

The problem is also present  in your demo site (https://demo.next-drupal.org/es/recipes/bizcochos-veganos-de-chocolate-y-nueces) as shown below
![issue-umami-demo](https://www.

[2022-08-12 20:03] jeyram commented on #280
Hi, I've found an  issue with the path's translation. Drupal set both  [node:title] languages, but when I switch between them in the Next SSR, it doesn't find the "/en/[node:source:tilte]-Spanish path" and generates a 404.

The problem is also present  in your demo site (https://demo.next-drupal.org/es/recipes/bizcochos-veganos-de-chocolate-y-nueces) as shown below
![issue-umami-demo](https://www.

[2022-08-17 14:54] ref-thomasledoux1 opened #281 "Add mechanism to fetch next pages automatically"
Hi,

We often want to fetch a resource collection which contains more than 50 (default JSON API limit?) resources. At the moment `getResourceCollection()` gives back the first 50 resources by default, and doesn't give a way to fetch the next pages automatically. Do you think it would be possible to provide a mechanism for this? I know I can write a recursive function to handle this, but would be n

[2022-08-22 08:36] shadcn commented on #280
You're right.

For the Umami demo, we updated the path aliases to `[node:source:title]`. By sharing the path (with the `locale` prefix), we get automatic handling for localized routes on the Next.js side.

<img width="706" alt="S744jDF4" src="https://user-images.githubusercontent.com/124599/185877260-969fc901-6ee9-4b38-8783-16c61a84e335.png">

(It looks like we need to fix the CTA link in the fron

[2022-08-22 08:55] shadcn commented on #280
Update: I fixed the path for the front page CTA. Thank you.

[2022-08-22 17:55] jrockowitz opened #282 "NextEntityTypeConfig is not deleted when its correspond entity type is deleted."
**Steps to reproduce**

- Create a plain vanilla standard instance of Drupal with the Article content type.
- Install the Next.js module
- Configure Next.js Entity Type for Content: Article (node.article) - /admin/config/services/next/entity-types/add
- Delete the Article content type - /admin/structure/types/manage/article/delete
- View 'Next.js entity types' page - /admin/config/services/next/en

[2022-08-24 16:03] devtim123 commented on #259
@nishud16 can i ask you how you configured drupal to get this to work? for me this is not working and i try to figure out why. looking into the function "getResourceFromContext" it will actually add the prefix to subrequest query like "/router/translate-path?path=${path}" and ${path} have the prefix configured in the option paramter. But Drupal Backend has no clue about the prefix, because alias i

[2022-08-24 16:58] shadcn commented on #282
Confirmed this is a bug. Thanks for the suggested fix. Looking into it.

Happy to have you here @jrockowitz :)

[2022-08-24 17:28] shadcn commented on #259
@devtim123 The `pathPrefix` option is used when your `[...slug].tsx` is nested under a directory in Next.js

## Example

Let's say you have an `Article` content type in Drupal with the following path pattern `/blog/[node:title]`.

Your article nodes will have path aliases as follows:

- `/blog/article-one`
- `/blog/article-two`

There are two ways you can fetch and render these pages on Next.js:

[2022-08-25 08:00] Kerchik opened #283 "Preview for translated nodes does not work"
Preview works fine for nodes, that were created in the DeafultLocale, but when I try to Preview nodes in other languages, it returns me 404.
Iframe src loooks like this:
http://site.local/api/preview?secret=key&slug=/en/jaunumi/eng&locale=en&defaultLocale=lv&resourceVersion=rel%3Alatest-version

Also i found out, that for some reason in [...slug] file context.locale is equal to 'LV', and not to 'E

[2022-08-25 08:15] devtim123 commented on #283
For me i was also wondering if language was working fine. after reconfigure the language selection in backend of drupal, it was important to set the right order of detection because otherwise subrequests answers in wrong language. for me this order for content translation works fine now:

1. URL
2. Selected Language
3. UserInterface

[2022-08-25 09:03] Kerchik commented on #283
Did I understand you correctly, that I need to change configs in /admin/config/regional/language/detection page?
I tries to change order of "Content language detection":
1) URL
2) Selected language
3) Interface
4) User

But still return 404 . Maybe I made mistake somewhere or chose wrong order ?

[2022-08-25 09:50] taskrider2022 opened #284 "Drupal Preview not working"
Hi,

I install Drupal and a next client on basis of the Marketing/Umani example. The local next.js site will work instantly but if I try to see the preview in the Drupal backend I became an error with the following message.

[code]

In the terminal console it will try to open this path ```http://localhost:3000/api/preview?secret=secret&slug=/home&locale=de&defaultLocale=de&resourceVersion=rel%3Ala

[2022-08-25 14:44] devtim123 commented on #283
yes you understood me correctly. for me that helped. but getting a 404 seems like an other issue i guess. did you set i18n config in next.config correctly?

did you check ticket https://github.com/chapter-three/next-drupal/issues/147 already?

[2022-08-28 07:59] shadcn commented on #284
Can you check if you have the required patches applied? See https://next-drupal.org/learn/quick-start/apply-patches

[2022-08-29 09:46] joshirohit100 opened #285 "Oauth2 authorization not uses/considers the fetcher and getAccessToken() directly calls fetch() method"
https://github.com/chapter-three/next-drupal/blob/main/packages/next-drupal/src/client.ts#L1323 - Directly calls the `fetch()` method while calling drupal api to get the access token and not considers/uses the fetcher if added any.

Use case -

- My drupal / backend url is SSO protected. This means I need to pass some extra param (some code) to url or as cookie to bypass the SSO
- This means, getA

[2022-08-29 10:22] shadcn commented on #285
Ah. Nice catch. We'll fix this. Thank you.

[2022-08-30 12:25] pinoniq opened #286 "defaultLocale missing language prefix"
The defaultLocale of next.js is not always the same as the Drupal one. So removing the language prefix when retreiving paths will give a 404.

What is the reason for removing the prefix from the slug for defaultLocale?
https://github.com/chapter-three/next-drupal/blob/main/packages/next-drupal/src/utils.ts#L117-L120

Drupal can also add the prefix for the defaultLocale, so shouldn't this be a conf

[2022-08-31 06:16] #284 closed

[2022-08-31 08:40] joshirohit100 commented on #285
Pull Request - https://github.com/chapter-three/next-drupal/pull/287

[2022-09-01 10:37] shadcn commented on #286
I see. We assume that the `defaultLocale` on the Next.js site is always the same as the Drupal one.

Hmm, do you mean your Next.js site is pulling non-default content and using it for for defaultLocale?

![Untitled-2022-03-23-1048](https://user-images.githubusercontent.com/124599/187894753-e516248e-3feb-4a9c-a56e-08cd21b87032.png)

[2022-09-03 20:44] MokDevelopment opened #288 "Preview shows 404 for unpublished"
For testing purposes I installed a fresh Drupal instance + basic starter for (Next Drupal 1.4.0).

Also I set up the Bearer Authentication. I followed the guide until the end.

Now I created an article node. Published it and can preview it in Drupal via the Frame.

When I change the status  state to "unpublished" the Iframe shows a 404. ....weird?!

<img width="937" alt="scr1" src="https://user-im

[2022-09-03 21:11] shadcn commented on #288
See `forceIframeSameSiteCookie ` on https://next-drupal.org/docs/configuration

[2022-09-03 21:42] MokDevelopment commented on #288
I do so. Cheers !

[2022-09-03 21:47] MokDevelopment commented on #288
It works. Thank you.

[2022-09-05 17:41] #288 closed

[2022-09-05 17:52] MokDevelopment opened #289 "Propper way to determ preview mode"
I would like to hide layout specific components when showing a page in the iframe preview. Can I find a flag or state in the context of the page, that is opened via the api/preview?

Is there another workaround?
Next.js docs say there is a flag called "isPreview" in the context - this is not the case. Or does this just happen during local development?

[2022-09-08 05:53] shadcn commented on #281
@ref-thomasledoux1 Sorry just seeing this now.

You can get the links object using the `deserialize: false` option.

[code]

`response.links` will have the pagination links.

[2022-09-09 09:01] GeneralBouLi opened #291 "Module version on drupal.org not updated"
Bonjour / Hi,

_https://www.drupal.org/project/next_ is the first work source for all Drupal developer and the module's version page is not update since 1.3.0.
We knew the last security patch because we checked (or a bot) all security fix regularly in find _https://www.drupal.org/sa-contrib-2022-054_.
Can you update the page module ?

[2022-09-09 09:38] shadcn commented on #291
Hi. The `1.3.0` is the latest release (with the security fix).

![l1LPuERZ](https://user-images.githubusercontent.com/124599/189320590-679ac85a-23f0-40dd-ae4e-b6106cebe853.png)

[2022-09-11 20:02] MokDevelopment opened #292 "Since updating I receive a fetch error because resource is null"
I updated:

- drupal/next: 1.2->1.3
- next-drupal: 1.40 -> 1.5.0

Now: When not in preview and trying to access an unpublished node
within the getServerSideProps function the custom error is thrown because resource === null

<img width="875" alt="image" src="https://user-images.githubusercontent.com/80107399/189546190-5e4bb711-ba56-4380-877f-94d2d00b990b.png">

For some reason next-drupal tries no

[2022-09-11 20:11] #292 closed

[2022-09-13 16:51] fnick851 opened #293 "How to retrieve taxonomy via ID (or just retrieve taxonomy in general)"
Hi, I have defined a taxonomy "education level" with terms like "elementary school", "middle school", etc.

I use `[getResourceCollectionFromContext](https://next-drupal.org/docs/reference/getresourcecollectionfromcontext)` to retrieve a collection of a content type which references to one or more this taxonomy as a field. But the result only gives me `id`, and `drupal internal target id`, as foll

[2022-09-13 17:00] shadcn commented on #293
@fnick851 `getResourceCollectionFromContext` is the right way to retrieve a collection of terms.

However it looks like the `Education Level` terms are not publicly visible on your site. Do you have access control or some permissions on the taxonomy terms?

[2022-09-13 17:11] fnick851 commented on #293
@shadcn  Yes I do have permissions. I am developing the Drupal site too. How can I best set it up?

[2022-09-13 17:12] shadcn commented on #293
If you open `/jsonapi/taxonomy_term/education_level` in a browser (as a non-logged in user), do you see the taxonomy terms with the fields?

[2022-09-13 17:17] fnick851 commented on #293
@shadcn Yes -
[code]

[2022-09-13 18:35] fnick851 commented on #293
@shadcn thanks. So is this the best way to retrieve taxonomy for a content type?

[2022-09-14 09:00] Kerchik opened #294 "context.preview returns undefined"
I tried to implement simmillar logic to this ticket https://github.com/chapter-three/next-drupal/issues/23 .
But no matter what i do, context.preview is undefined.

I also have configured preview.ts file:
[code]

Because of this, I cannot make preview work for unpublished content.

[2022-09-14 09:07] shadcn commented on #293
@fnick851 Yes. What does the code look like? Do you have something like the following?

[code]

[2022-09-14 09:09] shadcn commented on #294
@Kerchik Is this on local? It's probably the cookie not being set when in an iframe. Can you try the following where you create the `DrupalClient`?

[code]

From the docs:

You can read more about this here: https://next-drupal.org/docs/configuration#forceiframesamesitecookie

[2022-09-14 09:23] Kerchik commented on #294
@shadcn Yes it happens on local, but even when I add forceIframeSameSiteCookie preopert context.preview still returns undefined:

[code]

[2022-09-14 11:17] shadcn commented on #294
Hmm, what happens if you copy the iframe URL and open it in a new tab? Does it enable preview?

[2022-09-14 11:32] Kerchik commented on #294
@shadcn No, context.preview is undefined

[2022-09-14 13:39] fnick851 commented on #293
@shadcn Yes, that's pretty much what I have. Thank you!

[2022-09-14 13:39] #293 closed

[2022-09-15 11:06] devtim123 commented on #233
Yes this works, but can be little slow on client browser because json:api-documentation is quite big.

also redoc is an option, but performance is issue as well there.

for swagger-ui this patch here can be helpful the have filter option avaiable: https://www.drupal.org/project/openapi_ui_swagger/issues/3259746

what also would be nice if types can be generated with orval or something else...

[2022-09-19 10:03] taskrider2022 opened #295 "failed to load include fields on production mode by blocks"
Hi,

I load blocks with with getResourceObjectFromContext in the getStaticProps

` const [footerContact] = await drupal.getResourceCollectionFromContext<any>(
    'block_content--footer',
    context,
    {
      params: getParams({ name: 'block_content--footer' })
        .addInclude(['field_form'])
        .addFilter('info', 'footer-contact')
        .getQueryObject(),
    }
  );`

This is a nor

[2022-09-22 10:58] shadcn commented on #295
Hmm. Is there any difference, say permissions, on your prod site vs the dev one? If the relationship `field_form` exists and the Next.js site has access to it, it should behave the same way on both prod and dev.

[2022-09-22 14:25] fnick851 opened #296 "Why "getStaticProps" runs when I add new content to Drupal"
Doesn't "getStaticProps" only run once during build time?

Then why if I add content to Drupal in production, refresh the page, the new data will show on the page? (I call getResourceFromContext in getStaticProps.) "getStaticProps" shouldn't run after it is deployed and the new data will not be fetched. No?

Could you help me understand how it works?

[2022-09-22 15:51] fnick851 commented on #296
@shadcn
Thanks a lot for so many information!

The on-demand ISR seems magical. Does `next-drupal` have this built in?
I assume it's not and the developer needs to implement one of these strategies.

[2022-09-22 16:20] shadcn commented on #296
Yes `next-drupal` has on-demand ISR built in. See the guide at https://next-drupal.org/guides/on-demand-revalidation

[2022-09-22 16:48] fnick851 commented on #296
@shadcn
Awesome. Thanks!

[2022-09-22 16:48] #296 closed

[2022-09-25 20:25] MokDevelopment opened #297 "Revalidating should be usable for other routes only"
I got a ssr blog page.
I cannot use the revalidation as next.js will throw a 500 - also it is not necessary as it is server side rendered. However the homepage cache still needs to be invalidated as it shows the item in a teaser list.

I cannot choose the "/" (homepage path) without trying the same for the entity itself.

<img width="912" alt="image" src="https://user-images.githubusercontent.com/

[2022-09-25 20:33] MokDevelopment opened #298 "Next.js sites should be environment specific or handled as content. (not as configuration)"
I receive error logs as either

1. localhost is not reachable by the production site when revalidating
2. the content does not exists on localhost (testing)
3. editors see the wrong preview

The last one I was able to hack away by creating a custom module that modifies the form. Still kinda ugly.

I understand that seeing "sites" as configuration makes all a bit easier, but it created a lot of iss

[2022-09-26 07:20] theodorosploumis commented on #298
One solution is to **exclude** this config values on every environment. Another one is to use one only environment entry and **override** it on settings.php.

Exclude on config.

[code]

Override (eg for "localhost")

[code]

[2022-09-26 07:44] shadcn commented on #298
@MokDevelopment I was going to suggest what @theodorosploumis said.

Keep your sites configured for your prod environments then in override the values in your `settings.local.php`.

[2022-09-26 07:45] shadcn commented on #297
I see. This makes sense. We're working on stable ISR. We'll consider adding this. Thank you.

[2022-09-26 09:44] YahyaAhmad opened #299 "Is there a way to use subrequests with next-drupal?"
Hello, I was wondering if I can use subrequests while getting resources, for example, using a custom rest resource and getting a resource using 'getResource' function simultaneously. It seems that the subrequests feature is only internal in the package. Is there a way to use any other request while using next-drupal internal functions like 'getResource'?

[2022-09-26 11:11] shadcn commented on #299
You can't use `getResource` in a subrequests but you can use `drupal.fetch` to make subrequests call. It will looks like this:

[code]

[2022-09-26 13:45] #280 closed

[2022-09-26 13:46] #291 closed

[2022-09-26 13:47] shadcn commented on #238
Note: This is fixed in the latest release. Anonymous users now see the live URL and do not see the secret.

[2022-09-26 13:47] #238 closed

[2022-09-26 13:47] #248 closed

[2022-09-26 13:47] #220 closed

[2022-09-26 13:48] #156 closed

[2022-09-26 16:41] mmedinam1600 opened #303 "Filter fields by multiple values (SearchAPI)."
I am using the [SearchAPI](https://next-drupal.org/guides/search-api) guide, along with the [advanced example](https://github.com/chapter-three/next-drupal/blob/main/examples/example-search-api/pages/advanced.tsx).

And modify the input radio to input checkbox, to filter by multiple fields, but I still don't know how to do it.

To filter by multiple fields I have tried sending an:
* Array
* Using

[2022-09-26 17:04] shadcn commented on #303
To use OR conjunction, you will need to use a group.

1. Create a group. Group can have `OR` or `AND` conjunction.
2. Then add filters to the group.

[code]

If you're using [drupal-jsonapi-params](https://github.com/d34dman/drupal-jsonapi-params), this is a bit easier to create:

[code]

[2022-09-26 23:15] #303 closed

[2022-09-28 06:19] iamfredrik opened #307 "Handling node page updates?"
I'm quite new to this so I'm probably doing something wrong as I can't get the production site to fetch node updates. The preview mode works just fine and shows the updates, but when I visit the actual url in a browser window it just shows the old version. I'm using the basic starter so is there some setting I need to change in order to get it to fetch the updated node or do I have to rebuild the

[2022-09-28 06:33] shadcn commented on #307
@iamfredrik did you implement on-demand revalidation?

We have a guide here: https://next-drupal.org/guides/on-demand-revalidation

[2022-09-28 06:59] iamfredrik commented on #307
Thanks, I didn't have the Next Extras module installed and configured. However, is it possible to add a wildcard to the paths setting or do I have to define every path that needs to update separately? I tried adding /* but it didn't work.

[2022-09-28 07:04] shadcn commented on #307
Unfortunately no. Next.js on-demand ISR does not have support for wildcards.

There are a few other ways you can handle dynamic content across pages. Can you tell us more what you're trying to revalidate?

PS: We're looking into a solution for revaliting multiple pages in next-drupal.

[2022-09-28 07:14] iamfredrik commented on #307
Let's say I add a new page with a menu link, then the link won't show up on every page unless I revalidate them all. Without revalidation the link is only visible on the newly created page. Same thing if the link is already on every page and I edit the link, then the change only shows on the edited page. Is there a solution for this?

[2022-09-28 07:39] shadcn commented on #307
If you have menu links that are updated often, you can implement dynamic menus.

I added an example here: https://github.com/shadcn/next-drupal-examples/tree/main/example-dynamic-menus

The menu items will be fetched on the first page hit only, then cached for subsequent navigation.

[2022-09-28 09:22] YahyaAhmad commented on #299
Ok, this is what I needed, thank you @shadcn

[2022-09-28 09:22] #299 closed

[2022-09-28 09:34] iamfredrik commented on #307
Thank you.

[2022-09-28 18:20] fnick851 opened #311 "Proper way to handle secrets when deploying the site"
For the Next.js project, my understanding is, when running locally (npm run dev), the project looks for a .env.local for its needed secrets for local development. But if it is deployed to a server, running in production mode (next build & next start), does it look for another file (e.g. ".env")? Is this part of Next.js' convention, or unique to "next-drupal" libraries?

For the Drupal site, there

[2022-09-30 03:37] apathak18 opened #314 "Drupal 10 compatibility fixes"
While scanning the next contributed module using upgrade status we found total 6 issues in which I have resolved 5 and 1 is remaining.
**@internal** tagged in the annotation of class won't allowed to extend.
Below is the attached screenshot of remaining error.

Reference link: https://www.drupal.org/about/core/policies/core-change-policies/bc-policy#internal

[2022-09-30 17:54] brentrobbins opened #316 "Docs: Unami Demo Local setup suggestion/question"
Would it be more consistent to remove the PHP script and just mention to select the Umami installation profile option when initially setting up Drupal This is how it's handled with the Quick Start. Also when I followed those instructions it messed with my ddev configuration. For example, I was unable to run `ddev exec drush cr` after it's setup with the PHP script.

[2022-10-03 07:07] shadcn commented on #314
Let's move discussion to the PR: https://github.com/chapter-three/next-drupal/pull/313

Closing this. Thank you.

[2022-10-04 08:38] RodrigoTomeES opened #318 "Update changelog with 1.5.0 changed"
Hi,

Could you update the changelog? Please,

Thanks!!

[2022-10-04 10:45] theodorosploumis commented on #92
I found that https://www.npmjs.com/package/drupal-jsonapi-extractor can be very helpful here. Will give it a try and come back soon.

[2022-10-05 14:31] fnick851 opened #319 "How to retrieve file or file path"
A file field will give me this response:
[code]

Could someone teach me how to retrieve the file or file path with this data? Thanks.

[2022-10-05 14:40] shadcn commented on #319
You can do this using an include. It will look like this:

[code]

[2022-10-05 14:56] violabg opened #320 "generating pages only for one locale"
in the context of [...slug]page, is it possible to statically generate (getStaticPaths) only the content on the default locale, and have other locales generated on demand?

another question, we have a site that is localised only for the Next.js label, I'm using next-translate,  but not on content level, on the Drupal side (don't ask why :)).
In Drupal however, every content fallback to the default

[2022-10-05 15:40] fnick851 commented on #319
@shadcn
Thank you!

[2022-10-05 15:40] #319 closed

[2022-10-06 06:29] theodorosploumis opened #321 "Add the hacktoberfest tag on this repository"
Since it is a month of **Hacktoberfest** it would be nice to have this project submitted on #hacktoberfest/
Thanks.

See more on https://hacktoberfest.com/participation.

[2022-10-10 07:07] theodorosploumis commented on #311
1) **env** variables are coming from nextjs. See https://nextjs.org/docs/basic-features/environment-variables#environment-variable-load-order.

2) **Keys** for simple_oauth should be created for every website and (normally) they should not be tracked on git. Also, they are (normally) generated on the private folders file (or at least on a folder not accessible to the public).

[2022-10-10 07:45] theodorosploumis opened #323 "Idea: Create Next API pages to proxy/mimic next-drupal methods"
As far as I can understand, all the `next-drupal` methods are async and return Promises. This disallows using them inside React components unless you use `useEffect` or similar hooks.

Do you believe is is a good idea to create a proxy like API route to handle the async functions? I mean create this inside the `next-drupal` starter kit.

E.g. for method `getResource()` we could have an API route o

[2022-10-10 09:53] spiderneo opened #325 "40 drupal.translatePathFromContext(context) on any path."
Hi,
I'm trying to start using newt-drupal, i follow the tutorial, i'm using a working drupal to test and next-drupal-basic-starter to test it.
Homepage with article from the drupal work fine, but a soon as i click on a link, error 404.
in [...slug].tsx
`let path = await drupal.translatePathFromContext(context)`
return only null, so i can't go further, and i have no idea where to start searching ^^

[2022-10-10 11:47] shadcn commented on #323
I see what you mean. We're actually doing same for most of our sites: using a proxy API route for making `getResource` and `getResourceCollection` calls.

The reason we did not ship this in the package and rather leave it to the dev for implementation is we want the package to be unopinionated and not hardcode the routes.

Maybe we could cover this in a guide instead? The implementation is quite s

[2022-10-10 12:07] shadcn commented on #325
We use a monorepo for developing the packages. The contributing guide might be helpful: https://github.com/chapter-three/next-drupal/blob/main/CONTRIBUTING.md

You could also use something like https://github.com/ds300/patch-package to make changes.

If you see anything that could be improved, feel free to open a PR :)

[2022-10-10 12:11] spiderneo commented on #325
Thank you ;) i'm only at the beginning, but i'll try :D

[2022-10-10 12:41] theodorosploumis commented on #323
That's great. Do you have any link for this discussion?

[2022-10-11 14:52] andyg5000 opened #326 "Support: Explain caching of JWT tokens"
Hi,

We're using your unami example for authentication with Drupal. After doing some debugging, it looks like the cache in the JWT token logic is not specific to the current logged in user. This is causing the same access token to be returned to different user sessions.

Can you confirm if this a bug or if I'm doing something wrong that's leading to the shared cache?

https://github.com/chapter-th

[2022-10-11 19:28] fnick851 opened #327 "Image import issue when build for production"
I import and use image like this in code:
[code]

It works fine for `next dev` or `next build` **on my local macOS**.

But on a Linux server, it is giving me this error:
[code]

What could possibly cause this?

[2022-10-11 19:53] fnick851 commented on #327
It is case sensitivity.

[2022-10-11 19:53] #327 closed

[2022-10-11 21:12] fnick851 opened #328 "Error creating content when "revalidate" is enabled"
I was following this to enable revalidation for a content type: https://next-drupal.org/guides/on-demand-revalidation

But after enabling, when I tried to create a new content, the Drupal site shows me this:
[code]

Do you know how to resolve this?

[2022-10-12 06:11] shadcn commented on #328
Can you confirm if you've configured a plugin for the preview url generator at `/admin/config/services/next/settings`?

![vRZRsNyN](https://user-images.githubusercontent.com/124599/195263711-f45746ce-beba-4fd0-b725-5cd6aeb10f7b.png)

[2022-10-12 06:17] shadcn commented on #326
You're right. This will be a shared cache. I'll fix this. Thank you.

(IIRC there was a bug in next-auth preventing this from working properly. I'll see if I can find the issue and update)

[2022-10-12 14:01] fnick851 commented on #328
@shadcn Thank you! I did not. And I configured one and now it works.

[2022-10-12 14:01] #328 closed

[2022-10-13 02:26] Transformative-JY opened #329 "Changes on URL alias did not revalidate on previous URL"
When URL alias of a page is changed on Drupal, it did not trigger revalidate on the previous URL

Example:
URL alias change from /something/something-here to /something/something-there, revalidate only trigger on the new URL alias /something/something-there, but not the previous URL /something/something-here

This will cause /something/something-here that should show a 404 page still showing the o

[2022-10-13 04:09] back-2-95 commented on #94
I'd say now that we have launched our first next-drupal project I can say my initial thoughts in the issue is false.

I'm not saying one not could use Docker image BUT the main thing is that Drupal (the backend) must be available when that Docker image is build. Our initial problem was that hosting platform was building Drupal AND Next.js images at the same time (aka deployment) and next.js image

[2022-10-13 04:09] #94 closed

[2022-10-13 05:45] shadcn commented on #329
We're looking into this. Thank you for reporting.

[2022-10-13 20:34] twfahey1 commented on #281
Thanks, shadcn! I was able to get this going, notably had to tweak my components that were accessing the data to include `.attributes`, (I'm guessing due to `deserialize`?), but this is how I did it. Would love any feedback on this approach. I have noted the ts-errors - admittedly I haven't dug too much into those, likely an easy solution to clean that up. Notice in my case I included a "max pages

[2022-10-14 08:26] shadcn commented on #318
Done. https://github.com/chapter-three/next-drupal/blob/main/CHANGELOG.md#150

Thank you.

[2022-10-14 08:26] #318 closed

[2022-10-14 08:41] shadcn commented on #316
Agreed. I've updated the guide. https://next-drupal.org/guides/umami-demo

<img width="673" alt="soJndgAT" src="https://user-images.githubusercontent.com/124599/195802888-94ac4e3b-61ec-423a-863f-eb8b0fa7f1bf.png">

Thank you

[2022-10-14 08:41] #316 closed

[2022-10-14 08:43] shadcn commented on #311
@fnick851 did you figure this out?

[2022-10-14 08:43] #314 closed

[2022-10-14 08:44] #307 closed

[2022-10-14 11:53] spiderneo opened #331 "Question about getResourceFromContext and getResourceCollectionFromContext"
Hi,

I try to use **getResourceFromContext** and **getResourceCollectionFromContext**, are there supposed to do the same thing ?

For example, i want to retrieve a specific node by **nid**.
With **getResourceCollectionFromContext**, this is fine, i get an array with the node in it.
[code]

but if i do the same thing with **getResourceFromContext**, i got null response
[code]

[2022-10-14 12:37] fnick851 commented on #311
@shadcn yes I did. Closing.

[2022-10-14 12:37] #311 closed

[2022-10-14 16:52] shadcn commented on #6
See also https://www.chapterthree.com/blog/nextjs-drupal-and-graphql-how-to-use-graphql-next-drupal

[2022-10-14 16:52] #6 closed

[2022-10-15 06:43] shadcn commented on #331
1. `getResourceFromContext` is for fetching **one resource** and it uses the slug and locale values in context.

[code]

2. `getResourceCollectionFromContext` is for fetching **a collection of resources** and it uses the locale value in context.

[code]

### 💡 Tip
- The `filter` param will not work for `getResourceFromContext` since you're only ever returning one resource.
- Use `filter` when you'

[2022-10-15 07:07] spiderneo commented on #331
OK, thank you, this is very clear :)

So the main thing to search for a particular node is his `path` and not his `nid`.

If i understand correctly, this should work ? But it returns `null`

[code]
Even if i take the current path (`slug: ['welcome']`) in Drupal it doesn't work.
Not sur what i do wrong.

[2022-10-15 07:33] shadcn commented on #331
You can use the node `uuid` in `getResource`:

[code]

See https://next-drupal.org/docs/reference/getresource

[2022-10-15 07:40] spiderneo commented on #331
Yes I saw that but sometimes I need to use a `nid` :) i'll do with collection it works fine ;)

I just can't manage to get the node by slug / alias with `getResourceFromContext` which is weird :)

Thank you anyway for your answers and Work on this !  For now i manage to do what i want with this module !

[2022-10-15 07:45] shadcn commented on #331
Yeah a `getResourceCollection` with a `filter` should do the trick.

[code]

[2022-10-16 23:46] KemaneWright commented on #303
I have a similar set up and am using a taxonomy field 'education_level' as a facet and rendering it as checkbox in nextjs. If I select one value my params are
`params = {
  filter: {
    education_level: 27
  }
}`
And the results are filtered properly. If more than one value is selected I map through the array of values and convert it to the following format:
`params = {
  filter: {
    education_

[2022-10-16 23:52] KemaneWright commented on #303
Hi not sure if I should open a new issue or ask this here but I have a similar set up and tried implementing your solution but no luck.

I'm using a taxonomy field 'education_level' as a facet and rendering it as checkbox in Nextjs. The SearchAPI field for education_level is indexed as string and the only facet setting I changed was enabling "Transform entity ID to label"

If I select one value my

[2022-10-17 06:01] suresh-kumar-ogilvy opened #332 "Multi site Support"
Hi Good day

Does this package support multisite drupal installation(separate database)?
In other words, every domain has its own .env file so we can load the different content by site same source code.

Thanks

[2022-10-17 06:19] shadcn commented on #303
Hi @KemaneWright I can't seem to reproduce this. I'm testing with a `property_listing` content type which has a taxonomy reference field called `field_location`.

Here's what my filter looks like:

[code]

I've attached my config for the facet.

![next-drupal test_admin_config_search_facets_location_edit](https://user-images.githubusercontent.com/124599/196102748-dee0b633-97da-4c2e-9e61-f217287168

[2022-10-17 06:21] shadcn commented on #332
Yes. You can use one Drupal back-end and have multiple Next.js front-ends.

All the examples in the /examples dir are actually built from one Drupal site.

[2022-10-17 06:45] suresh-kumar-ogilvy commented on #332
Thanks, @shadcn I Understand. We are thinking of rolling out around 20 sub-sites from one central site. is there a way to load the env config per domain/host? then don't need to set up 20 front-end servers.

[2022-10-17 07:17] shadcn commented on #332
do you mean for the `DrupalClient`?

You should be able to do something like this:

[code]

[2022-10-17 07:41] suresh-kumar-ogilvy commented on #332
yes something like this , based on host

[2022-10-17 09:56] shadcn commented on #332
Yeah you should be able to do this.

Another solution you could explore is having a Next.js site that acts as a server between your clients and Drupal.

All your clients talk to this proxy and this proxy decides what config/data to send based on the host.

![Untitled-2022-10-11-2135](https://user-images.githubusercontent.com/124599/196148307-87a6cc6e-29e5-44ac-b54a-e800ec3d2a9a.png)

[2022-10-17 10:26] suresh-kumar-ogilvy commented on #332
Thank you for the detailed info.
I assume all the next.js "Site x" will send some kind of unique token i.e host  (since all custom domains will be hosted in one instance) to the API server and then the API server connects with drupal.

[2022-10-17 11:24] shadcn commented on #332
Yeah. You can also use the request headers.

[2022-10-17 12:33] shadcn commented on #281
@twfahey1 We just tagged next `1.3.1` with a fix for bypassing the JSON:API page limit.

I've also published a guide here: https://next-drupal.org/guides/page-limit

In your case, let's say you want 100 `media--remote_video`, it would look something like this:

[code]

Can you update to your Next.js module `1.3.1` and test?

[2022-10-17 17:03] twfahey1 commented on #281
@shadcn Awesome... working well for me 👍🏻

[2022-10-17 20:26] KemaneWright commented on #303
I see now 'path' has the be the field name from the node not the filter name from facets.
Thank you so much!

[2022-10-18 10:50] suresh-kumar-ogilvy commented on #332
Thank you, since we are using the hostname as a unique key [[...slug]].tsx must use getServerSideProps to fetch the hostname?

is there any other way to fetch the hostname?

I did try this example https://github.com/vercel/examples/tree/main/edge-functions/hostname-rewrites some reason it doesn't support [[...slug].tsx

[2022-10-18 11:07] shadcn commented on #332
@suresh-kumar-ogilvy What does your setup look like? Are you fetching data directly from Drupal?

[2022-10-18 11:12] suresh-kumar-ogilvy commented on #332
yes, created a drupal custom module to get config by hostname
I did try using the API server but couldn't able to fetch the hostname from "Site A" if using getStaticPaths

[2022-10-18 12:12] CsarRamos commented on #168
Hi, I had the same problem but I was able to solve it by implementing the default.services.yml file in my Drupal site. Apparently it was a problem with the CORS Policy. I hope it can be helpful to someone. Cheers

[2022-10-18 12:34] shadcn commented on #168
Awesome. Thanks for sharing the solution @CsarRamos. Appreciate it.

[2022-10-19 11:28] shadcn commented on #332
@sing78 Sure. Can you provide some more details about your architecture? Are you using Drupal in multi-site mode?

[2022-10-19 11:41] sing78 commented on #332
Hi,
I have to create multiple identical sites(same configuration, same theme, same content types but different content and users) with drupal and Next.js.
My first questions is:Do I need to create multiple databases or can I use a single database for all sites and if yes how?
If I use multiple databases, one drupal installation, and many Next.js front ends, how can I accomplish this?
Please provid

[2022-10-19 15:01] theodorosploumis commented on #332
@sing78 What you need is:

- One codebase for the Backend (Drupal code, including configuration)
- One codebase for the Frontend (NextJS) but with different `.env` files for each frontend site
- Multiple databases for each site

In fact, this is a normal Drupal multisite.

The only important thing you have to decide is if every site is going to share the same **Drupal configuration** or not.

[2022-10-19 15:10] sing78 commented on #332
@theodorosploumis
Thanks for the help, that makes sense.
Cheers

[2022-10-20 04:34] suresh-kumar-ogilvy commented on #332
@theodorosploumis
Thanks a lot
This is just a clarification from my side for the below

- One codebase for the Frontend (NextJS) but with different .env files for each frontend site

- [ ] -> Each Frontend side will have its own node instance.

Thanks

[2022-10-20 06:07] theodorosploumis commented on #332
@sing78 You can use https://www.npmjs.com/package/pm2 also which manages NodeJS apps.

[2022-10-20 09:55] theodorosploumis opened #336 "Do we need to allow Anonymous users access the JSONAPI endpoints to make next-drupal work?"
Just a clarification regarding the next-drupal **client** connection.

It seems that if we disable the anonymous access to the JSONAPI resources (e.g. using modules like [jsonapi_permission](https://www.drupal.org/project/jsonapi_permission) or [jsonapi_role_access](https://www.drupal.org/project/jsonapi_role_access)) the connection is not established from the next-drupal client and we get an `Err

[2022-10-20 11:31] shadcn commented on #336
1. Yes. If you're adding access control, you will need to make sure all requests to Drupal is authenticated.
2. You can use one of the methods outlined in https://next-drupal.org/docs/authentication.

However, as a best practice, you want to use anonymous requests for static pages (getStaticProps) and authenticated requests where necessary.

Note: Next.js runs `getStaticPaths` and `getStaticProps`

[2022-10-20 14:59] theodorosploumis commented on #336
We use only **SSR** actually.

I tried to make authenticated requests but there were so many Drupal entity types for the authentication to think of (node, media, paragraphs, menu_links etc) and since Drupal does no have permissions per entity type by default it was a mess.

So we keep the JSONAPI open to anonymous, at least for the basic entity types.

[2022-10-20 15:35] suresh-kumar-ogilvy commented on #332
@theodorosploumis  Thank you

[2022-10-21 06:53] KemaneWright opened #337 "Authenticated user information"
What is the best way to go about getting the currently signed in user's information? Like name, email, and possibly custom fields.

I started at this [issue](https://github.com/chapter-three/next-drupal/issues/222) and built my login flow / authentication exactly like in the example-umami but when trying to get user information from the decoded token user ends up an empty object.
/pages/api/auth/[

[2022-10-21 16:56] jleeui opened #338 "Search not working"
Hello,

I am trying to implement a search page for my website
I have followed this doc https://next-drupal.org/guides/search-api and found this example https://example-search-api.next-drupal.org/
but the demo doesn't seem to be working and when I try the code myself, I am getting a 400 Bad Request error. I followed the file structure from the demo example and hooked up to my Drupal site fine but s

[2022-10-21 17:03] jleeui commented on #338
when I use getSearchIndex like the one shown in the demo
`
const results = await drupal.getSearchIndex<DrupalNode>(
      index as string,
      body
    );
`

it is giving me an error

however, if I use getResourceCollection as such
`
const results = await drupal.getResourceCollection("node--article", {
      params: {
        "fields[node--article]": "title,created", // Fetch the title and creat

[2022-10-24 22:42] joseph-bayer commented on #338
I'm having the same issue - getting a 400 error even on the demo page.
It would be incredible if this was working again.

[2022-10-25 09:26] violabg opened #339 "umami: error creating new article"
when I try to create a new article on the umami demo I get this error, even is they are set on the permission page:

The current user is not permitted to upload a file for this field. The following permissions are required: 'administer media' OR 'create media' OR 'create image media'.

[2022-10-26 12:59] ranx2k commented on #248
Hello

I'm getting the exact same error with my Umami installation - error : Initial locale argument was not passed into serverSideTranslations

I have followed the install guide to the letter. I also have cleared the caches several times. Everything seems to be working but when I click on any node, the error pops up.

@septembre2018 could you please tell me in more detail which permissions were t

[2022-10-26 13:13] andyg5000 commented on #326
After looking into this, `getJWT` is passed `inititalJWT` which appears to be fully populated. Removing the caching logic and returning `initialJWT` whenever it's `accessTokenExpires` aged out seems to work fine.

We're going forward with that for now until we hear back from you :)

[code]

[2022-10-26 13:51] violabg opened #340 "deleteFileResource"
how can we delete a FileResource?
I've tried to do this:

[code]
, but I guess is not for FileResource since I got this error

[code]
do we miss a deleteFileResource method?

[2022-10-26 16:26] ranx2k commented on #248
Thank you for a quick answer. I deleted everything and started from scratch. Everything is working now.

I think that for some reason the required Drupal patches in composer.json failed to apply. That was probably the reason for the error for me.

[2022-10-26 16:34] shadcn commented on #340
@violabg It looks like `body.mediaId` was undefined? Can you confirm?

[2022-10-26 16:36] shadcn commented on #326
@andyg5000 Sorry. Been busy with Next.js conf :)

IIRC I had do to this workaround because of a bug in next-auth. Maybe they fixed it?

I'll update my local example and confirm.

Looking forward to seeing the new site :)

[2022-10-26 16:42] #339 closed

[2022-10-26 16:48] shadcn commented on #339
@violabg Everything should work with Drupal's access control with roles and permissions.

Is this not working as expected?

[2022-10-26 17:01] violabg commented on #339
we had to give permission to authenticated user,
event by using a user with administrator role wasn't enough, for us (using the Drupal umami starter example) the only way was  to give permission to authenticated user, it woks even on anonymous user, but not by roles.
maybe we need to add this module?
https://www.drupal.org/project/jsonapi_role_access

[2022-10-26 17:02] violabg commented on #340
you are write, my mistake. 🤦🏻
sorry about that;

[2022-10-26 17:02] #340 closed

[2022-10-26 19:01] fnick851 opened #341 "Possible ways to hide node pages on Drupal side"
If I create a content type on the Drupal side, it's content will have a node page generated by default like http://site/node/6221

I just need to retrieve data from this node. But when visitor visits this node page on Drupal, they will see an unstyled ugly page. Is there a way to hide these node pages? Thanks.

[2022-10-26 19:09] twfahey1 commented on #341
I’ve personally approached this by keeping the content locked down Drupal side with [node_view_permissions](https://www.drupal.org/project/node_view_permissions) , and only my Next specific configured user role has access to view the specific content types, which generally keeps my /node content unavailable to the public. Curious what others approaches might be.

[2022-10-26 21:36] fnick851 commented on #341
@twfahey1 I think we could also tell Drupal site search engine to not index the node page & create a robots.txt to tell public search engines to not index the page. Effectively, the page is hidden from the public who do not have the URL. But this is just a good-will/soft approach.

[2022-10-27 13:37] shadcn commented on #326
I updated to the latest `next-auth` and I couldn't get this to work. For the reason, I'm always seeing the refresh token as expired. I'll keep looking...

[2022-10-28 07:24] dottodot opened #345 "Secret no longer matches"
I have my own implemention of previews as I'm using graphql and something has changed where the secret sent to api/preview no longer matches what I've set in the module settings. In fact it changes everytime the cache is cleared.

This is what I have in my api/preview

[code]

[2022-10-28 14:39] martdavidson opened #346 "Unable to uninstall module from Drupal"
When trying to uninstall this module, I'm unable to. The reason given is:

[code]

When I visit settings, I am unable to clear the plugin field:

<img width="652" alt="image" src="https://user-images.githubusercontent.com/8870176/198651549-46483cb1-2ae3-4656-b910-c2fd130f368c.png">

There are no entities selected and no sites created. Any advice?

[2022-10-28 15:00] shadcn commented on #346
Hmm I think this might be a bug. We added a safety measure to prevent uninstalling a module with an active URL generator. Looks like we need to check if there's only one generator available.

Do you have access to the code?

We can use a temporary workaround to uninstall the module.

1. Open the file `web/modules/contrib/next/src/NextUninstallValidator.php`
2. Find the `validate` function.
3. Upda

[2022-10-28 16:08] martdavidson commented on #346
Hey - I ended up not needing to uninstall. I was trying to debug something unrelated by reinstalling a few things. So for my own use case, I'm good to go.

Up to you if you'd like to tackle or close this, I'll leave it open - thanks for the quick response, and really enjoying the plugin so far!

[2022-10-28 18:53] sing78 opened #347 "SEO for Next.js-Drupal"
Hi,
I would like to ask,if is this possible to use standard drupal SEO modules with Next.js.
For example,the modules Metatag,Pathauto,XML Sitemap,SEO Checklist.
Any help would be great,
Thanks

[2022-10-29 03:51] solucionti opened #348 "Error when get content"
I am trying to make a request with the following :

[code]

But when checking the console, the information obtained is only:

1.  type
2. id
3. links

If I make the same request using postman, the request gets all infomration.

![kt22AjEqul](https://user-images.githubusercontent.com/9874555/198812509-dd1b2107-9c60-4542-a649-1f419f8aa9ec.png)
![HgYnlskcbb](https://user-images.githubusercontent.com/

[2022-10-29 15:11] solucionti commented on #348
I found the error, at the moment I had the following modules activated:
jsonapi, jsonapi_extras, jsonapi_defaults, jsonapi_image_styles, jsonapi_include, next_jsonapi

Disable all, and only enable next and json api.

That way the problem is solved

[2022-10-29 15:11] #348 closed

[2022-10-30 13:48] devtim123 opened #349 "Redirects not working from NextJS getServerSideProps"
I followed the way the documentation describes how redirects from drupal can be received from translatePathFromContext. Unforunatelly the redirects are always empty, even when there are rediret in drupal from same path i am visiting...

is there some setting i miss, maybe persmissions or something else?

this is the code
[code]

The log is always "undefined".

I was also wondering, in some cases t

[2022-11-01 06:08] shadcn commented on #349
@devtim123 Let me see if I can reproduce this. I'll get back to you.

[2022-11-01 06:09] shadcn commented on #347
You can use the metatag module and pull the meta information using JSON:API. Pathauto works with next-drupal as well.

As for XML Sitemap, there are a few ways you can handle this. You can generate the sitemap on Drupal and point your Next.js site to it.

[2022-11-01 06:11] shadcn commented on #345
@dottodot Which version of the Next.js module are you using? We switched to preview url generators in Next 1.3 which is more secure than using the preview secret.

Any chance you could try this?

[2022-11-01 07:17] sing78 commented on #347
@shadcn Thank you very much

[2022-11-01 08:05] dottodot commented on #345
@shadcn I'm using the latest versions for both drupal and next.

I've tried using
[code]
[code]
but this gives the following error

Failed to load resource: the server responded with a status of 422 (Unprocessable Entity)

[2022-11-02 08:28] dottodot commented on #345
ok found the issue, using https://www.drupal.org/project/require_login so just need to whitelist the /next/preview-url route

[2022-11-02 08:31] shadcn commented on #345
ah ha! I see a lot of headless sites now using this module (we do too). I think we should document the routes to whitelist somewhere. I'll work on this.

[2022-11-02 17:53] dottodot commented on #345
@shadcn yes that sounds good otherwise it require a bit of digging through the src to work it out

[2022-11-03 16:21] martdavidson commented on #349
@devtim123 I can see redirects from the jsonapi when I'm logged into drupal, but anonymous users can't view redirects.

https://www.drupal.org/project/redirect/issues/3073966

I'll check back in once I've tested with authorization.

[2022-11-03 16:25] KemaneWright commented on #337
Hey @shadcn do you have any info or tips on this? I've been searching everywhere and can't find much with a similar set up. I just started looking into different authentication solutions but wanted to try this one more time.

[2022-11-03 16:30] shadcn commented on #337
@KemaneWright Sorry I did not see this issue. You mean `const decoded = jwt_decode(accessToken.access_token);` returns null?

[2022-11-03 16:34] shadcn commented on #337
For the Umami example, I'm using `hook_simple_oauth_private_claims_alter` to add the user details to the payload. Here's my implementation:

I have a custom Drupal module `umami_next`:

[code]

This will add the `email` and `name` to the token.

We then decode this in Next.js using:

[code]

[2022-11-03 19:00] KemaneWright commented on #337
No worries I figured it just got missed in the list of other questions. Awesome this is exactly what I needed! Thank you so much! I don't think there's mention of the custom module in any of the docs/guides

[2022-11-05 10:57] devtim123 commented on #349
@martdavidson and @shadcn after investigating some time, i found some stuff out which i want to summarize here:

note: i have installed some additional modules, which maybe also causing specials permission settings.

my working activated permissions without assign role "admin" to nextjs-consumer:
- content-moderation: display all unpublished content
- content-moderation: see current version
- doma

[2022-11-05 11:42] martdavidson commented on #349
Hey @devtim123 , thanks for the detailed response.

I don't have time this weekend to replicate your work and see what I find but I do want to say I'm also trying to use redirects with a multi-lingual site.

I wonder if disabling translations for path aliases under the translation settings will change anything? That's my only thought at the moment and I haven't tested it - but I will be back at th

[2022-11-07 14:38] yogglio opened #351 "Preview not working for Drupal Commerce Products"
The Iframe preview mode doesn't work for Drupal Commerce Products.
The issue seems to be that Products don't have revisions.
[code]

I tried setting isVersionable to false, but it has no effect:
[code]

[2022-11-07 16:42] shadcn commented on #351
I'll take a look at this and report back. Thank you.

[2022-11-08 07:43] yogglio commented on #351
When I manually remove the 'resourceVersion' URL parameter in the iframe src, then the iframe loads correctly.

[2022-11-08 07:44] shadcn commented on #351
What’s the value of resourceVersion in the query?

[2022-11-08 14:27] yogglio commented on #351
It has no value
[code]

[2022-11-09 06:32] sinyayadynya commented on #286
@shadcn I think that what @pinoniq try to explain is that on Drupal URL language detection configuration (/admin/config/regional/language/detection/url) the default language CAN have a langcode prefix too:
<img width="1033" alt="Screen Shot 2022-11-09 at 12 22 09" src="https://user-images.githubusercontent.com/941179/200755144-389d6dcc-9842-40bc-b5b1-2d68332a3611.png">
And in that case, then all d

[2022-11-09 07:02] shadcn commented on #351
@yogglio I pushed a fix for this in #352

Can you update to the latest dev release and see if it works?

[code]

(I'll keep this issue open for now)

[2022-11-09 07:02] #347 closed

[2022-11-09 07:05] shadcn commented on #341
@fnick851 Another option that we've been using is the [Require Login](https://www.drupal.org/project/require_login) module. You can use this to lock down all pages behind a login.

Note: If you're using this module, you will need to whitelist a few paths:

[code]

[2022-11-09 07:07] shadcn commented on #338
@jleeui Is there anything in the Drupal logs? Can you tell use more about the error?

[2022-11-09 07:08] #331 closed

[2022-11-09 07:09] shadcn commented on #286
@sinyayadynya Any chance you can help me reproduce this? What should I configure on the Drupal site?

[2022-11-09 07:10] shadcn commented on #294
@Kerchik Did you figure this out?

[2022-11-09 08:47] sinyayadynya commented on #286
@shadcn sure I would be glad if I can help. Here is what is needed on the Drupal side config:

- multilingual, with the following core modules enabled: language, config_translation
- adding at least 1 language other than default English
- at /admin/config/regional/language/detection, enabling the 'URL' option and save,
<img width="1101" alt="Screen Shot 2022-11-09 at 14 36 57" src="https://user-im

[2022-11-09 10:53] kamalkech opened #354 "Patches"
Why still need to add those patch, Drupal not fixed yet on the current version ??

https://www.drupal.org/project/subrequests/issues/3049395
https://www.drupal.org/project/decoupled_router/issues/3111456

[2022-11-09 11:29] sinyayadynya commented on #286
I have tried also to add this to the next config:
[code]
But then I will get this error, **with double /en/en/** :

[code]

[2022-11-09 11:31] shadcn commented on #286
What if you use the `/en/jsonapi` as `apiPrefix`? Could this work as a temp solution?

[code]

https://next-drupal.org/docs/configuration#apiprefix

[2022-11-09 17:20] sinyayadynya commented on #286
Unfortunately also getting:

Error: Failed to fetch JSON:API index at http://dev.drupalsite.io/en/en/jsonapi - Unexpected token < in JSON at position 0

with double /en/en/ in the path, when adding `apiPrefix: "/en/jsonapi",` into drupal.ts

(while reverting the previous next config change mentioned in https://github.com/chapter-three/next-drupal/issues/286#issuecomment-1308611254)

It is either t

[2022-11-10 10:12] shadcn commented on #354
Yes. These are not committed yet. For now, we need these to use subrequests and decoupled_router.

[2022-11-10 17:00] sing78 opened #356 "Geosearch with Drupal-Next"
I would like to ask, what to do, so as to have Geosearch in the front end (Next.js) and Drupal as backend similar to these demo sites:

https://react-instantsearch.netlify.app/storybook/?path=/story/geosearch--default
https://react-instantsearch.netlify.app/examples/tourism/?multiRange%5Bperson_capacity%5D=3%3A3&page=1&configure%5BaroundLatLngViaIP%5D=true&refinementList%5Broom_type%5D=

-One poss

[2022-11-10 17:13] yogglio commented on #351
The dev release works for me.
I didn't have to set the `isVersionable` option, it worked automatically which is great.
This is already part of the 1.4 release right?

Thank you very much

[2022-11-10 17:16] shadcn commented on #351
Yes. Tagged and released today.

[2022-11-10 17:16] #351 closed

[2022-11-11 05:33] championlife commented on #97
@shadcn can I please ask which version of simple_oauth you recommend using?

[2022-11-11 05:59] shadcn commented on #97
Version 5.2

[2022-11-11 10:14] renebakx commented on #263
A bit late to the party, but I use Lando as abstraction over Docker composer, and i've created a .lando.yml file that runs both Drupal and NextJS next to each other in a single enviroment.

[code]

This snippet assumes your Drupal site is in the 'backend' directory and the NextJS site is in the frontend directory.

The Environment overrides are just to satisfy my inner lazy child ;)

And for testi

[2022-11-13 16:54] violabg opened #357 "How to create a media with remote video"
I need to create e media of type remote video by passing the youtube url, is it possible?

[2022-11-14 07:47] shadcn commented on #357
Yes.

1. Make sure the role has the **Remote video: Create new media** permission available.
2. Then make the following call:

[code]

[2022-11-14 17:39] violabg commented on #357
great thanks a lot

[2022-11-16 14:41] martdavidson opened #359 "Incomplete type definition for translatePathFromContext"
`translatePathFromContext` says it returns a `Promise<DrupalTranslatedPath>`

If you look at the code for that method, it returns:

[code]

`translatePath` says it also returns a `Promise<DrupalTranslatedPath>`, but in fact can also return null:

[code]
In our app code, with `no-unnecessary-condition` enabled, this causes a problem:

<img width="521" alt="image" src="https://user-images.githubuser

[2022-11-16 15:34] violabg opened #360 "show unpublished content on next js"
We have a page based on a content type, that needs to be visible on next js side, because the user can publish and unpublish it from the front end.
is this possible to activate preview mode on the client by using a specific user even if the we have a static page generated with getStaticProps?

the preview mode in Drupal via iframe is working, I need it on the front end site.

[2022-11-16 17:38] shadcn commented on #360
Do you have user authentication on the Next.js site?

[2022-11-16 17:41] shadcn commented on #359
Hmmm this does look like a bug. Let me look into it.

I wonder if I missed this because I have strict mode turned off.

[2022-11-16 17:44] violabg commented on #360
Yes I do.
I was able to solve it by switching to getServerSideProps and passing the user that create the content, but I wonder if there is a solution using getStaticProps and preview.

[2022-11-16 17:55] shadcn commented on #360
I think you could solve this with Preview URLs or using a custom page and getServerSideProps.

1. When you view a page in Drupal, there's a `View` button on top of the iframe. You can click to open the preview on the Next.js site. This URL is generated by a preview url generator. You could use these URLs to share with the front-end team for content review. The preview URLs have an expiration date

[2022-11-16 18:58] violabg commented on #360
Thank you very much, always very helpfull

[2022-11-17 14:39] devtim123 commented on #349
FYI: i have updated the next-drupal module to 1.4.0 and also the npm package to 1.5.0 and redirects are working fine now, even if they have a tranlation on it.

[2022-11-23 18:13] engageintellect opened #366 "Won't build in Vercel, or manually."
Love this template, and would like to use it for a personal project. Just noticed it's not building using the Vercel deploy option, or locally building.

Here's the output from vercel.
[code]

[2022-11-24 10:39] iamfredrik opened #367 "Block translations not working"
I'm trying to access the translation of a custom block, but I get 'Internal Server Error' when switching locale. I use the following code, but it only works with locale set to same as defaultLocale. Actually, changing defaultLocale has no effect either, it only fetches "en". Any idea what's wrong?

[code]

[2022-11-25 09:38] taskrider2022 opened #368 "Type Error after update from next 13.0.3 to 13.0.5 with NextApiResponse"
In the latest version of next (13.0.5) they removed the `unstable_revalidate` function from the `NextApiResponse` interface.

I became so now a compile error if I use the preview mode of next-drupal, because it has next in version 12 as dependency.
The following code create this error, I think that `drupal.preview` check this type with the dependency.

[code]

[code]

[2022-11-25 22:13] mmedinam1600 opened #369 "Cannot use filter contains"
I am following the tutorial using SearchAPI with solr.
https://next-drupal.org/docs/reference/getsearch

I am using the following function via the next api:

[code]

Everything works fine for me, except when I want to add a filter to the search with the 'CONTAINS' operator.

I am using [JSONAPIParams](https://www.npmjs.com/package/drupal-jsonapi-params) to build the following filter:

[code]

In d

[2022-11-28 11:01] yogglio commented on #351
We discovered another issue with resourceVersion in the preview.

Steps to reproduce:
- open a Content Type in Preview Mode, which supports revisions
- While in Preview Mode navigate to a Product (which doesn't support revisions)
- Fails to load with error message:
[code]

The URL parameters from the json API call, when navigating from node to product page:
```fields%5Bproduct--voucher%5D=title%2C

[2022-11-28 13:01] maverickdude opened #370 "Revalidation failing if setting trailingSlash to true in next.config.js"
Hi team,

The website has trailing slash enabled by setting below in next.config.js
`trailingSlash: true`

This and everything else has been working fine.

But recently I updated the Drupal module to 1.4 and afterwards the revalidation kept failing.

This is failing:
URL: {{url}}/api/revalidate?slug=/news/test-article&secret=secret
Error: `{
    "message": "Failed to revalidate /news/test-article/

[2022-11-28 15:17] shadcn commented on #351
Hmm interesting. I tested this when we added the fix for above. Here's a test I added:

https://github.com/chapter-three/next-drupal/blob/846b1463dc0e899d501e8b6b2611e2b6ff617067/modules/next/tests/src/Kernel/Entity/NextSiteTest.php#L65-L70

Did I miss something? Can you open a new issue please? I'll follow up.

[2022-11-28 15:43] shadcn commented on #369
I tried to reproduce this and can confirm I can see this too. I'll look into it and report back.

[2022-11-28 15:46] shadcn commented on #369
OK found it. This is from the `jsonapi_search_api` module.

[code]

Let me see how we can implement fuzzy search.

[2022-11-28 15:57] shadcn commented on #369
You can use **Fulltext** field type for your index. This will fuzzy match all titles containing your keyword.

![kj2BnhAu](https://user-images.githubusercontent.com/124599/204322719-5060dd16-d28d-462b-b4c8-80679304a059.png)

[code]

[2022-11-28 15:58] shadcn commented on #368
I'm working on adding support for Next.js 13 this week. I'll update here when done. Thank you.

[2022-11-28 16:03] shadcn commented on #366
@engageintellect You need to add the environment variables to connect your Next.js site to your Drupal site. See https://next-drupal.org/docs/environment-variables

When deploying to Vercel, you need to add the variables in your project settings.

<img width="636" alt="rdgj0cgX" src="https://user-images.githubusercontent.com/124599/204324466-78c18110-4e35-4de5-9226-92fadad3f03a.png">

[2022-11-28 16:08] mmedinam1600 commented on #369
Thank you very much, I will try the proposed solution. I have been trying for days to come up with a solution.

[2022-11-28 16:18] shadcn commented on #367
@iamfredrik I can't reproduce this. See https://codesandbox.io/s/xenodochial-hooks-y8luhs?file=/pages/index.tsx

Anything in your Drupal logs for some context?

Thank you

[2022-11-28 16:27] shadcn commented on #370
I see. I wonder if you could add the trailingSlash in `pages/api/revalidate.ts`

[code]

We are upgrading the revalidation feature and we're going to consider trailing slashes. Thank you.

[2022-11-28 16:30] martdavidson commented on #286
Just came across this as webforms requires `Interface text language detection` of `url` to serve the translated form: https://www.drupal.org/project/webform/issues/3175374

Enabling that of course raises this issue where `next-drupal` is trying to fetch `${NEXT_PUBLIC_DRUPAL_BASE_URL}/jsonapi` instead of `${NEXT_PUBLIC_DRUPAL_BASE_URL}/en-ca/jsonapi`. The former 404s.

Anyway, I think my issue is

[2022-11-29 00:02] mmedinam1600 commented on #369
It worked perfectly, in case it is useful to someone else: A facet can not be created with the Fulltext type, just have the field you want to filter in the index is enough.

[2022-11-29 00:02] #369 closed

[2022-11-29 07:10] yogglio opened #371 "Preview error when Navigating from Versionable Entity to Non-Versionable Entity"
This is a follow up of #351.

Steps to reproduce:

- Open a Entity in Preview Mode, which supports revisions
- While in Preview Mode navigate to an Entity which doesn't support revisions
- Fails to load with error message:
[code]
The URL parameters from the json API call, when navigating from node to product page:
`fields%5Bproduct--voucher%5D=title%2Cstatus%2Cfield_description%2Cfield_image%2Cdef

[2022-11-29 07:17] yogglio commented on #351
Hi @shadcn
I created a new Issue and added some clarifications there. I think the test is not covering when you first open a node which contains `resourceVersion` and then navigate to a user entity.
The `resourceVersion` parameter is getting passed on somehow

[2022-11-29 07:25] iamfredrik commented on #367
I can't reproduce it either and I have no idea what was wrong previously. I spent hours trying to figure out what was wrong, but strangely it just started working by itself.

Thank you

[2022-11-29 10:48] shadcn commented on #371
Thanks for the clear steps. I've been able to reproduce this. I can confirm the bug.

This is what's happening:

1. When you visit the preview of a versionable entity, we're setting the `resourceVersion` in the previewData:

[code]

2. When you navigate to another entity, say a non-versionable one, the `resourceVersion` is still around in the `previewData`. The following code in `DrupalClient.getR

[2022-11-30 13:14] shadcn commented on #286
You can now install experiment releases from PRs. See https://github.com/chapter-three/next-drupal/pull/362#issuecomment-1332019345

<img width="968" alt="d315kZ2T" src="https://user-images.githubusercontent.com/124599/204805308-6c6f2cae-8688-43bf-97e2-be93f6fb2806.png">

@martdavidson Can you check out one of those releases and see if this fixes your issue?

You can now set a `defaultLocale` on t

[2022-11-30 13:55] martdavidson commented on #286
@shadcn I think I just added to confusion in this thread, my issues might have been unrelated. If I run into issues again I'll check this out to see if it lines up - thanks 🙏

[2022-11-30 17:57] martdavidson commented on #279
@shaxaaa Did you explore this approach anymore? I'm about to dive into this with a multilingual multi-frontend single drupal install.

Also curious if it breaks ISR.

[2022-11-30 20:05] maverickdude commented on #370
Thanks for the quick reply. It worked!

However this (and preview of unpublished article + revalidation on publishing a node which was previously unpublished) worked on one of the staging that is on EC2 instance but not on Vercel, despite having same package versions. I know it must be some error at my end but do you know if these works on Vercel?