[2021-02-11 23:24] itamair opened #1 "I cannot Submit and make Article work both in Marketing and Blog example."
Great project, with great instructions and documentation.
Everything works as expected in my first installation and attempt,
but the Article content types, that cannot be submitted both in the Marketing and Blog examples.
It returns "404 | This page could not be found." ...
May be I missed some crucial settings? (but I successfully completed all the Readme.md steps ... )

<img width="1773" alt="Sc

[2021-02-12 03:24] arshad commented on #1
Can you check if the Article entity type is using the entity reference field resolver? See `/admin/config/services/next/entity-types/node.article/edit`

[2021-02-12 08:28] itamair commented on #1
After default installing all I found this settings (and it wasn't working as described above):
<img width="1403" alt="Screenshot 2021-02-12 at 09 27 41" src="https://user-images.githubusercontent.com/1429859/107745454-a03c1e00-6d14-11eb-92ba-02f770a94c66.png">

[2021-02-12 08:31] itamair commented on #1
Then I changed to this:
<img width="1403" alt="Screenshot 2021-02-12 at 09 27 41" src="https://user-images.githubusercontent.com/1429859/107745577-cfeb2600-6d14-11eb-8bf4-03898618c99c.png">

and now everything is breaking even worse, when I try to submit an article, also one of the existing:

<img width="1321" alt="Screenshot 2021-02-12 at 09 30 12" src="https://user-images.githubusercontent.com/1

[2021-02-12 08:38] arshad commented on #1
It looks like the seed db in the repo is not up to date. I'll fix this. Can you try editing the node (from /admin/content), select a site and see if it works. Thank you.

[2021-02-12 09:07] arshad commented on #1
Looks like `DRUPAL_SITE_ID` was missing from the `.env.example` files. I fixed it. Should be ok now. Can you `git pull` and re-run the following commands again?

[code]

Then `yarn dev` and visit http://localhost:8080/blog/business-painting-operation-pick-support-land-time-manager

[2021-02-12 10:16] itamair commented on #1
Amaziiin! Looks working fine. Thanks a lot!!!
Just last question. I can see that the "Measure pattern produce difficult guess base" is being correctly published in the "Example Marketing" next.js frontend site. But how is it possible to get the internal next.js route of it ... (and directly access it)?

[2021-02-12 10:16] itamair commented on #1
fee free to close this with your last comment ...

[2021-02-12 10:44] itamair commented on #1
Last note. It seems that versioned files in this folder: examples/drupal-site/database changes some way after `yarn dev` ...

[2021-02-12 12:00] arshad commented on #1
In the **dev** version of the module, we added links to view the status of the content and a direct link to view it on the site (if it is published).

<img width="1719" alt="Measure_pattern_produce_difficult_guess_base___Next_js___Drupal" src="https://user-images.githubusercontent.com/124599/107765365-22dfd000-6d4b-11eb-8aa3-f4a3ae11948c.png">

You can test this:

1. Copy `modules/next` into `exam

[2021-02-12 13:39] itamair commented on #1
Nice!!! (super nice ... )
Last note. what about those versioned files in this folder: examples/drupal-site/database that change some way after yarn dev ... ? Am I right?

[2021-02-12 16:34] arshad commented on #1
Ah, the only reason the database is versioned is to make it easier to run the demo. You start with a pre-installed Drupal with content type and fields configured. It's showing as changed when you run the demo because it's updated when you logged in (user last timestamp, and cache values..etc).

In a real world application, your database would be hosted and not versioned :)

I'll go ahead and mark

[2021-02-12 16:34] #1 closed

[2021-02-12 18:22] itamair commented on #1
Sure. Super Great Job Arshad! I will go deeper into this ... and open new issues eventually.

[2021-05-05 15:52] mrchristophy opened #2 "Oauth: The resource owner or authorization server denied the request"
I'm very new to Oauth so please bear with me if I have something terribly wrong, but I cannot get the oauth/token route to work, after following all the steps. I always get the response:

[code]

With logs in the Drupal backend:
`League\OAuth2\Server\Exception\OAuthServerException: The resource owner or authorization server denied the request. in League\OAuth2\Server\Exception\OAuthServerException

[2021-05-05 16:21] arshad commented on #2
No worries. This is very early alpha and I know there's a lot to configure to get this working properly (we're working on making this simpler).

Let's do a quick preflight check.

Are your environment variables configured and properly loaded?

You need the following:

[code]

You can test this by `console.log(process.env)` in `_app.jsx`.

[2021-05-06 00:07] mrchristophy commented on #2
It's weird, when I run the app I see the following:

`info  - Loaded env from /../nextjs/next/.env.local`

And:

[code]

But when I try to console log process.env it's empty. Not really anything to do with this package I know, but frustrating...

In any case, it appears to have everything correct even though I can't console.log(), here are the headers being sent on the oauth/token call:

[code]

T

[2021-05-06 00:14] mrchristophy commented on #2
I also just tried running my drupal site on localhost:1234 instead of the lando url incase it's a domain issue to no avail (both running on https)

[2021-05-06 00:27] mrchristophy commented on #2
EDIT: It's working! I was using getStaticProps() completely wrong, I need to read up on how to use Nextjs :)

Still not sure why I can't console.log the process.env though???

[2021-05-14 18:20] sybercoda opened #3 "Vercel shows internal server error for next-drupal node module"
14:00:51.677 | Error: Internal Server Error
-- | --
14:00:51.677 | at /vercel/path0/node_modules/next-drupal/dist/index.js:86:19
14:00:51.677 | at processTicksAndRejections (internal/process/task_queues.js:93:5)
14:00:51.677 | at async getStaticPaths (/vercel/path0/.next/server/pages/blog/[...slug].js:3196:17)
14:00:51.678 | at async buildStaticPaths (/vercel/path0/node_modules/next/dist/build/uti

[2021-05-15 06:19] arshad commented on #3
Can you give me a bit more info? I'll take a look at `next-drupal/dist/index.js:86:19` but more context would be helpful. Thanks.

[2021-05-20 09:47] sybercoda commented on #3
@arshad The error is appearing in Vercel build log, as provided below. Please let me know if you anything here indicative of something I did wrong on my side.

13:59:34.834  	Cloning gitlab.com/quest-king/test-site (Branch: master, Commit: 2964140)
13:59:44.293  	Cloning completed: 9.460s
13:59:45.220  	Analyzing source code...
13:59:46.704  	Installing build runtime...
13:59:48.744  	Build runtim

[2021-05-21 16:43] sybercoda commented on #3
Closing this issue out as I believe issue was due to pushing .next directory to vercel

[2021-05-21 16:43] #3 closed

[2021-05-21 16:44] sybercoda opened #4 "TypeError: Cannot read property 'some' of undefined"
Any assistance on why 'some' is undefined?

TypeError: Cannot read property 'some' of undefined
    at filter (webpack-internal:///./pages/index.tsx:71:41)
    at Array.filter (<anonymous>)
    at /Sites/next-drupal/examples/example-blog/node_modules/next-drupal/dist/index.js:124:29
    at processTicksAndRejections (node:internal/process/task_queues:93:5)
    at async getStaticProps (webpack-inter

[2021-05-21 19:00] arshad commented on #4
Can you share the code snippet where you're using `some`? Thanks.

[2021-05-24 02:28] sybercoda commented on #4
Line #79 on the [...slug].tsx file linked below.
https://github.com/arshad/next-drupal/blob/master/examples/example-blog/pages/blog/%5B...slug%5D.tsx

Note that it's a type error, as shown below. My guess is that "getEntityFromContext", which is using JSON.parse, is returning entity as an object but entity should be an array to use some() method.

TypeError: _entity$field_site.some is not a functi

[2021-07-09 20:07] testevez opened #5 "Create next-app is giving me errors (while executing quick-start steps)"
`npx create-next-app -e https://github.com/arshad/next-drupal-basic-starter ` results is errors.

`Downloading files from repo https://github.com/arshad/next-drupal-basic-starter. This might take a moment.

Installing packages. This might take a couple of minutes.

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: basic-starter@0.3.9
npm

[2021-07-09 20:20] testevez commented on #5
Using `npx create-next-app` without parameters resolved the issue.

[2021-07-09 20:20] #5 closed

[2021-07-10 10:59] dottodot opened #6 "Graphql"
Hello, just looking into using this module but I'll be using graphql rather than the rest api. Just wanted to check if it will work in particular with Incremental Static Regeneration.

[2021-07-10 18:46] arshad commented on #6
Yes. The Next [module](https://www.drupal.org/project/next) works with both JSON API and GraphQL.

The [next-drupal](https://github.com/chapter-three/next-drupal/tree/main/packages/next-drupal) however works only with JSON API right now.

[2021-07-14 17:31] sabbir-hossain opened #7 "Error: 500 Service unavailable"
I'm new to drupal and trying to setup drupal with next.js. I have followed every steps from [https://next-drupal.org/docs/quick-start](url). I haven't found any issue while configuring **drupal** and **next.js**. But when I try to run my next.js project I get the following error:

[code]
I'm using **windows** and **xampp**. I setup my drupal in htdocs like following structure.

[code]
My environme

[2021-07-16 18:38] arshad commented on #7
A `500` error might be something on the Drupal end. Can you check if `/jsonapi` path is reachable on your Drupal site?

[2021-07-20 11:53] arborgwebadmin opened #8 "Unauthorized on when using preview"
I first want to start by thanking you for an amazing job on this module.
I'm getting an error when I set DRUPAL_CLIENT_ID, DRUPAL_CLIENT_SECRET and  DRUPAL_PREVIEW_SECRET.

`{ Error: Unauthorized
    at /home/superhetja/next/fristundir/node_modules/next-drupal/dist/index.js:24:15
    at process._tickCallback (internal/process/next_tick.js:68:7) type: 'Error' }`

The Error doesn't tell me a lot and

[2021-07-20 18:16] arshad commented on #8
OK let's see. Can you verify if the DRUPAL_CLIENT_ID and DRUPAL_CLIENT_SECRET are correct?

Is this happening on preview only (i.e when you access a node from the Drupal admin)? Does it fail with the same error when you visit a page on the Next.js site?

[2021-07-26 11:08] sabbir-hossain commented on #7
@arshad yes, it is reachable.

[2021-07-28 07:55] arshad commented on #7
Anything in the Drupal logs?

[2021-07-30 10:42] iliamrv opened #9 "Cannot read property 'default_langcode' of undefined"
hi,

I use Drupal 9.2.2 and Next.js module. The problem after I install and configure next-drupal package and go to node page, I see the next message:

"Cannot read property 'default_langcode' of undefined"

It is possible that JSON doesn't provide data that next-drupal request. How can I resolve this issue? Thanks

[2021-07-30 15:20] arshad commented on #9
Let's check a few things.

- Have you configured a preview route?
- Is path aliases configured for the node type?
- Have you applied the path for subrequests.module? See https://next-drupal.org/docs/quick-start#apply-patch

[2021-08-09 20:35] je34429 commented on #9
hey there, having the same issue, I'm trying to run the project without typescript, only js but I can't find the problem

[2021-08-10 04:58] arshad commented on #9
Can you tell me more about the error message? Which line..etc?

[2021-08-11 07:39] arshad commented on #9
We just tagged a new release with a potential fix. Can you pull the latest `next-drupal` and try again? Thank you.

[2021-08-11 13:31] je34429 commented on #9
thank you very much man I managed to solve the problem with a different config on drupal, not sure why but reinstalling and reconfiguring modules fixed the problem. Anyway I will definitely try out this new release.

best regards

[2021-08-11 20:57] itamair opened #12 "Update examples/drupal-site/composer.lock with composer update"
It looks the examples/drupal-site/composer.lock is not updated with last HEAD of the "drupal/next": "1.0.x-dev" repo.
Probably the "composer update" should be run into the examples/drupal-site/ folder ,

[2021-08-11 20:58] arshad commented on #12
Ah. Thanks for the heads up. I’ll push a fix.

[2021-08-11 22:28] itamair opened #13 "Unable to resolve dependency tree on "npx create-next-app ...""
On the HEAD of the "main" branch of this repo, using node v16.6.2, as soon as I run:

`npx create-next-app -e https://github.com/arshad/next-drupal-basic-starter`

I receive the following BLOCKING error:

[code]

What am I doing wrong?

[2021-08-11 22:41] arshad commented on #13
Are you using npm 7? Can you try: `npm install --legacy-peer-deps `?

[2021-08-12 12:52] #12 closed

[2021-08-12 13:18] arshad commented on #9
Awesome. I'm going to close this issue. Feel free to reopen or create a new one if you have any question. Thank you.

[2021-08-12 13:18] #9 closed

[2021-08-12 13:19] arshad commented on #2
Marking this issue as closed. Thank you.

[2021-08-12 13:19] #2 closed

[2021-08-12 13:20] arshad commented on #4
This code is outdated now. We've updated the API in the recent releases. Marking this is closed. Thank you.

[2021-08-12 13:20] #4 closed

[2021-08-12 13:20] arshad commented on #7
@sabbir-hossain Did you figure this out?

[2021-08-12 22:10] itamair commented on #13
Yes ... it seems I am using npm 7.20.5.
When I run the `npm install --legacy-peer-deps` it outcomes the following:

[code]

but still when I then run

`npx create-next-app -e https://github.com/arshad/next-drupal-basic-starter`

I receive the same error of above

<img width="798" alt="Screenshot 2021-08-13 at 00 09 30" src="https://user-images.githubusercontent.com/1429859/129276364-05f1a6f8-cea1-

[2021-08-12 22:11] itamair commented on #13
I am a skilled Drupal Developer and composer repo manager ... but I confess I am not mastering all these node/npm js dependencies

[2021-08-12 22:43] itamair commented on #13
No way I also tried the following:

`npm audit fix --force`

then run again:

`npx create-next-app -e https://github.com/arshad/next-drupal-basic-starter`

and still receiving the same error:

[code]
I also attach the eresolve full report file.

[eresolve-report.txt](https://github.com/chapter-three/next-drupal/files/6978908/eresolve-report.txt)

[2021-08-13 05:57] arshad commented on #13
Can you try the following?

1. `npx create-next-app -e https://github.com/arshad/next-drupal-basic-starter`

2. Then `cd` into the app and run `npm install --legacy-peer-deps`.

[2021-08-13 19:20] itamair commented on #13
Thanks a lot @arshad ... your advice and solution worked.
I think that some better documentation might be provided on this step, if a more solid solution and workflow is not going to be committed on this soon (I wonder someone else could hit this same issue of me ... ).

[2021-08-13 19:32] arshad commented on #13
I’m going to put some effort into better docs next week.

I’m also working on more examples.

[2021-08-13 19:37] itamair opened #14 "FetchError: request to https://drupal-site.ddev.site/oauth/token failed, reason: unable to verify the first certificate"
From the Quickstart guide, as soon as I follow the [3. Run Site](https://next-drupal.org/docs/quick-start#3-run-site) steps, I hit the following error on http://localhost:3000:

`FetchError: request to https://drupal-site.ddev.site/oauth/token failed, reason: unable to verify the first certificate`

I cannot realise what is causing this issue (from the Drupal site settings) ...

<img width="980" a

[2021-08-13 19:41] itamair commented on #13
Thanks @ashad. really great work and support from you.
It looks to me that existing NextJs examples (example_blog, example_marketing) are kind of detached from the last next-drupal Git repo enhancements ... it is not clear how to use them.
I had also to figure out by myself how to use the drupal-site example (its versioned configs files import and the next_default_content module ... )

[2021-08-13 19:43] itamair commented on #13
I was able to move forward from this issue (thx again) and now facing this new one: https://github.com/chapter-three/next-drupal/issues/14

I am quite confident that other users could/would benefit from this QA/testing ...

[2021-08-13 19:45] arshad commented on #14
This has to do with the https request.

Since you’re running this on your local you can safely disable this by setting the following in your .env file.

[code]

You won’t have this issue when you deploy to a prod server with a valid certificate.

[2021-08-13 22:18] itamair opened #15 "Server Error: Unauthorized"
As a follow up of this https://github.com/chapter-three/next-drupal/issues/14 resolution, I now hit this error on http://localhost:3000

<img width="1127" alt="Screenshot 2021-08-14 at 00 17 36" src="https://user-images.githubusercontent.com/1429859/129423359-6981d511-615f-4e46-87cf-c32da2a02dc4.png">

[2021-08-13 22:18] itamair commented on #15
Any idea of how to solve this?

[2021-08-13 22:19] itamair commented on #14
Thanks @arshad  ... your workaround looks working.
and now leads me to this new one: https://github.com/chapter-three/next-drupal/issues/15

[2021-08-13 22:19] #14 closed

[2021-08-13 22:20] #13 closed

[2021-08-14 00:27] arshad commented on #15
Can you verify if the DRUPAL_CLIENT_ID and DRUPAL_CLIENT_SECRET are correct?

[2021-08-14 00:29] arshad commented on #15
Any errors in the Drupal logs?

[2021-08-15 10:19] itamair commented on #15
I have setup only 1 user, that is the default one, with the following parameters:
UUID: 87d125fd-2f98-43e7-9ff3-18d1755f8037
New Secret: secret
(last one is stored as Hash in the DB, of course).

<img width="1332" alt="Screenshot 2021-08-15 at 12 10 18" src="https://user-images.githubusercontent.com/1429859/129475102-3759a6c3-c482-4cac-aa4d-ef33cb4d5423.png">

And I am using the following data in

[2021-08-15 16:04] arshad commented on #15
hmm, did you configure a user for the client?

<img width="701" alt="" src="https://user-images.githubusercontent.com/124599/129484807-f9997dc8-47a5-478a-9dda-26cd16f7d534.png">

[2021-08-16 09:08] itamair commented on #15
Yes I did ... the itamair user is administrator and also with "Next site previewer" role ...

<img width="1012" alt="Screenshot 2021-08-16 at 11 06 37" src="https://user-images.githubusercontent.com/1429859/129539506-81522887-9ff8-44e9-ae0f-73f9ae16bd32.png">

<img width="948" alt="Screenshot 2021-08-16 at 11 07 14" src="https://user-images.githubusercontent.com/1429859/129539514-5e09d632-c28f-402

[2021-08-16 09:38] itamair commented on #15
I am concerned there is something wrong with the Oauth module settings (and still don't get what as I am not now able to xdebug it).
But when I visit this GET Route: /oauth/debug
I receive the following outcome:

`{"message":"The used authentication method is not allowed on this route."}`

Should something be properly set on the Rest Resources (/admin/config/services/rest) or somewhere else on JSO

[2021-08-16 10:21] itamair commented on #15
Worth to also mention (may be is relevant to this issue) that still no oauth2 token entity has been created in my Drupal BE, and I don't know how it should be created ...

<img width="1207" alt="Screenshot 2021-08-16 at 12 19 51" src="https://user-images.githubusercontent.com/1429859/129549098-9320b905-939e-4cb6-a258-5b91efabe5fd.png">

[2021-08-16 20:49] itamair commented on #15
Ah! Finally I was able to make (almost) all this working ...
I was totally missing the proper setup of the Oauth module and generation of access tokens ...
Basically I had to properly follow the Quick demo (Password Grant) section of the [OAuth2 module](https://www.drupal.org/project/simple_oauth) and some of its Video Tutorials.

For sake of sharing my findings, after creating a consumer Client A

[2021-08-17 06:07] sabbir-hossain commented on #7
@arshad I have deploy drupal project in cloud. then it is working.

[2021-08-17 06:07] #7 closed

[2021-08-17 06:23] arshad commented on #15
Thanks for the update and the fix @itamair. I'll update the documentation.

If you have any other suggestions on how we can improve the onboarding/setup process, you can ping me.

[2021-08-17 22:06] testevez commented on #15
I have the same issue. I used this thread to get a proper response via Postman. However, the issue remains. I feel like the issue with with the keys, but I am not sure how to fix it. I have tried generating the keys in admin/config/people/simple_oauth as well as via CLI as per the instructions in https://www.drupal.org/project/simple_oauth, neither results in a fix for me. I will be watching this

[2021-09-03 13:52] je34429 opened #17 "Can't get menu inside getStaticProps in index.js"
First of all, great module!

so far I've configured the module without much trouble to fetch content types and get dynamic aliases with pathauto, but when I try running this on my index.js (I'm using js instead of ts):
`const { tree, items } = await getMenu("main")`
`console.log('items',items);`
I get a not found error, and I'm sure the menu exists inside drupal and that its machine name is main s

[2021-09-03 16:10] arshad commented on #17
Do you have the https://www.drupal.org/project/jsonapi_menu_items module installed?

I’ll need to update the docs.

[2021-09-03 16:45] je34429 commented on #17
installing the module solved the problem

thanks a lot!

[2021-09-09 09:23] Kroonax opened #18 "Requests are very slow when building the app"
Hi !

I'm encountering a pretty big issue with next-drupal, the build times are extremely high (on a localhost setup), I tried logging precise times in the built index.js in `node_modules/next-drupal/dist` and for every fetch I am getting between 1500ms and 4000ms which results in pages taking from 5 to 15 seconds to be built when running `next build`.

When I am running these requests myself with

[2021-09-09 18:49] jsheffers commented on #7
I've run into this same issue

Drupal logs show:

```ArgumentCountError: Too few arguments to function Drupal\simple_oauth\Entities\AccessTokenEntity::convertToJWT(), 0 passed in /Path/vendor/league/oauth2-server/src/Entities/Traits/AccessTokenTrait.php on line 78 and exactly 1 expected in Drupal\simple_oauth\Entities\AccessTokenEntity->convertToJWT() (line 21 of /Path/web/modules/contrib/simple_o

[2021-09-10 08:06] #17 closed

[2021-09-10 08:07] arshad commented on #18
Interesting. I'll take a look at this.

How are you testing for the response time?

[2021-09-10 08:09] arshad commented on #7
@jsheffers I think I've seen this before. Does this patch/thread help? https://www.drupal.org/project/simple_oauth/issues/3194635

[2021-09-10 08:30] Kroonax commented on #18
I take timestamps in and out of the requests Promises. I had the opportunity to do the same requests on the client side (project has some functional caveats that need some requests to be done on client). And those requests (including subrequests) take around 150 to 300ms in a local environment.

I don't think it is caused by the overload of the computer at build time as I thought it would be, sinc

[2021-09-10 08:46] arshad commented on #18
Agreed on the `getAccessToken` bypass. We *are* calling this for every request.

[2021-09-10 20:31] jsheffers commented on #7
For me, this was because of PHP 8 and dependency issues. Applying the patch from the following thread to `drupal/simple_oauth` and it fixed this issue.

https://www.drupal.org/project/simple_oauth/issues/3230707

[2021-09-17 12:34] Juc1 commented on #15
Hi all were the docs https://next-drupal.org/docs/quick-start updated or do I need to do extra OAuth2 stuff as mentioned by @itamair ?

[2021-09-17 14:28] shadcn commented on #15
@Juc1 I've not updated the docs yet. Are you facing the same issues?

[2021-09-17 14:59] Juc1 commented on #15
@shadcn yes I am getting "Error:Unauthorised" like itamair's screenshot at the top of this issue.

[2021-09-20 16:26] Kroonax opened #19 "Drupal returning 2000 paths per request maximum"
Hi, I found something quite odd when building an app with more than 2000 paths.

I have 6000 (3000 x 2 languages) nodes of one type (artwork) in my Drupal database but when I'm building the app, only 2000 are actually built when building the pages under `/artworks/[...slug].js`.

Is this a limitation from next-drupal, the next Drupal module or even the subrequests module ? I know that the basic Dr

[2021-09-20 16:39] shadcn commented on #19
You're probably hitting the `1000` max size that the Next.js module sets.

See https://github.com/chapter-three/next-drupal/blob/db2f99c3872a7e46cedcad66650b6f03fd645dbb/modules/next/modules/next_jsonapi/next_jsonapi.services.yml#L1

Can you try overriding this parameter in your sites services.yml file?

[2021-09-21 07:26] Kroonax commented on #19
It _seems_ to be working but I am hitting the 60 seconds timeout when retrieving the nodes now, so the build does not even start, do you know where I can change the timeout value ?

[2021-09-21 07:42] Kroonax commented on #19
OK, there is an experimental flag to add in next.config.js :
`experimental.pageDataCollectionTimeout` is 60 by default, problem solved !

I will have to create a patch on the .yml file to make sure that the value never changes :)

[2021-09-21 07:42] #19 closed

[2021-09-21 11:06] shadcn commented on #19
Do you mean the `next_jsonapi.size_max` value?

You could also look into ISR and only build the most important pages and let the other pages be server rendered.

[2021-09-22 19:23] janoka commented on #15
Hi Guys,
I've the same error:
![CleanShot 2021-09-22 at 21 18 38](https://user-images.githubusercontent.com/2426494/134407816-adf31997-fc39-4f42-ace5-ee23a112c709.png)

I also tested with Postman, and Drupal had generated the Bearer access_token.

It seems to me the client tries to use _Basic authentication_, but _Oauth2_ accept `username` and `passowrd` only in `body`.

[2021-09-23 20:20] Msteimel commented on #7
I'm running into the same issue. I get two of the exact same error in the drupal log. Applying the patch you referenced causes one of the errors to go away.

[2021-09-29 18:46] sakkelaaksonen-siili opened #20 "app builder command in README fails with invalid url"
The app builder command fails with invalid url
[code]

[2021-09-29 19:01] shadcn commented on #20
Can you use `https://github.com/shadcn/next-drupal-basic-starter`? We’re in the process of moving the repo

[2021-09-30 10:29] shadcn commented on #20
Repo created: https://github.com/chapter-three/next-drupal-basic-starter

Can you give it another try?

`npx create-next-app -e https://github.com/chapter-three/next-drupal-basic-starter`

[2021-10-04 13:31] shadcn commented on #15
I noticed this issue when I created a client/consumer before generating keys (private and public) keys.

I fixed this by deleting the consumer and recreating it again.

[2021-10-07 22:16] rilrom opened #23 "Preview a next.js page before publishing"
I've managed to get iframe previews working for latest version and revisions so far.
Is there a way to preview changes of a page before publishing? Clicking the 'preview' button in Drupal does not render an iframe at the moment.
I've had a look through the documentation but nothing really stands out to me. Any guidance would be greatly appreciated.

[2021-10-09 03:16] 42zeroo opened #24 "FetchError 😢 reason: getaddrinfo ENOTFOUND"
Hi! Thanks for publish this awesome project 🗡️

 I wanted to try combination of Drupal + NextJS but i have problem when I'm initializing your example project following the [Instruction here](https://next-drupal.org/docs/quick-start).
After i did all the steps, i recived error from Next.JS:
![Screen1NEXTJSCONSOLE](https://user-images.githubusercontent.com/29521242/136642102-97999c9f-b62e-4192-b88f-

[2021-10-09 09:09] shadcn commented on #23
Unfortunately the way preview works in Drupal, we cannot do preview without saving (we need an actual `entity` that we can pull via JSON API).

The way we handle this right now is to enable `unpublished/draft` node preview.

If you have configured a `DRUPAL_CLIENT_ID` and a `DRUPAL_CLIENT_SECRET`, you can use check for `context.preview` in `getStaticProps` and allow access.

[code]

Let me know if

[2021-10-09 14:19] 42zeroo commented on #24
Thanks for your reply!
Ofc, i can reach ``http://drupal.docker.localhost:8000`` and when i open ``/jsonapi`` i recived normal Drupal JSON Api structure, [what i got is here](https://pastebin.com/uEZHyJgH).

Also when i want to look into preview on Drupal side i have the same error.
![Error](https://user-images.githubusercontent.com/29521242/136661742-9a87dc77-dc91-47c4-a0d6-3bfcf7ed44d7.png)

I ad

[2021-10-09 19:27] Phault opened #25 "Error: JSON:API does not yet support resource versioning for this resource type."
Some Drupal resources do not support revisions such as taxonomy terms (at least in 8.9.6). Hence JSON:API will complain when `resourceVersion` is provided, even if it's set to `rel:latest-version` unfortunately:

[code]

This is an issue when using `getResourceByPath()`. Is there a reason it's explicitly specifying `resourceVersion=rel:latest-version` by default?

[2021-10-10 03:05] rilrom commented on #23
That is very unfortunate.

Your example was helpful however, managed to get unpublished/draft working well.

Thanks very much.

[2021-10-10 03:05] #23 closed

[2021-10-10 21:43] 42zeroo commented on #24
I'm not familliar with Drupal auth api. Can You advice me how to do it? 😶
Do I have to enable anything more after setting up project from tutorial?

[2021-10-12 19:14] demo-Ghost opened #26 "TypeError: The "string" argument must be of type string or an instance of Buffer or ArrayBuffer. Received an instance of Object"
Hi! Thanks for all the work you've put into this project.
I'm following the quick start tutorial and have managed to set things up, after a some setbacks with simple_oauth library.

But, currently, I'm having an issue viewing my blog posts. I can see them at the home page and can also see that all their content is fetched in home page, as a collection. But once I visit a specific one (blog/first-p

[2021-10-12 19:21] shadcn commented on #26
Is this happening in the Drupal preview only? What happens if you visit the post directly?

[2021-10-12 19:26] demo-Ghost commented on #26
You mean from Next.js or in Drupal?

[2021-10-12 19:42] demo-Ghost commented on #26
On the Next site, homepage for the default-starter works great. Plus, I see all the data of the collection.
![image](https://user-images.githubusercontent.com/37753045/137018760-5bac8a3c-c2a4-48e5-afb8-86560bf577eb.png)

but if I click on one of the posts, I get this
![image](https://user-images.githubusercontent.com/37753045/137018905-13db324b-1b7d-4bc3-b5af-407ab5d75a57.png)

[2021-10-14 07:05] sakkelaaksonen-siili opened #27 "Running basic example fails due to peer dependency mismatch on Node 15 and Node 16"
running `npx create-next-app -e https://github.com/chapter-three/next-drupal-basic-starter `

gives the following error on linux (Ubuntu/Mint), on Node 16

[code]

[2021-10-14 12:49] shadcn commented on #27
Ah. I'll fix this. Thanks for catching this.

[2021-10-14 19:02] demo-Ghost commented on #24
Hi! Did you check the video tutorials here https://www.drupal.org/project/simple_oauth?
Check the password grant type tutorial.

Apparently, you have to first send a POST request to
[Drupal Base URL]/oauth/token
like this (in Postman):
![image](https://user-images.githubusercontent.com/37753045/137379515-1055d583-0bea-49f7-b723-576f9fa0a500.png)

And then, if you have debug token permissions from

[2021-10-14 19:58] shadcn commented on #25
This is now fixed. I added a `isVersionable` that you can use to handle revisionable entity types (aka versionable resources).

`isVersionable` is set to false by default so this should work without any config.

For backward compatibility (and since most of the time we're dealing with revisions is for `node`), this would automatically handle revisions if working with `node--` resources.

You can t

[2021-10-18 00:14] 42zeroo commented on #24
Finally after few attempts i went forwards 👯
And I achived... new error 🥇
![image](https://user-images.githubusercontent.com/29521242/137649767-29e9f93b-faa5-4d24-a8c4-6a9d967853a0.png)
`> Build error occurred
Error: Not Found
    at C:\PROJEKTY\reccly-dev-drupal\node_modules\next-drupal\dist\index.js:23:15
    at processTicksAndRejections (internal/process/task_queues.js:95:5)
    at async Promis

[2021-10-18 07:42] shadcn commented on #24
Hmm it looks like it still cannot find your Drupal site. Weird. Can you remove `DRUPAL_CLIENT_ID` and `DRUPAL_CLIENT_SECRET` from your `.env.local` file and try again?

This will skip auth and token generation.

[2021-10-18 08:15] demo-Ghost commented on #26
@shadcn In my case, this is a local environment in Windows, with Xampp.
Other than that, just follow the exact instructions on Quick Start guide https://next-drupal.org/docs/quick-start.
That's about it I think, the repo is the same as the basic starter.

[2021-10-18 08:26] taku3202 commented on #26
I am experiencing the same phenomenon.
[code]

The version I am using is as follows.
- `next-drupal: 0.16.2`
- `next.js` (Drupal Module): [1.0.0-beta5](https://www.drupal.org/project/next/releases/1.0.0-beta5)

I refer to this [code](https://git.drupalcode.org/project/next/-/commit/5700aae60a175ce63b2996d88b30314bedb2ca13),
On the Drupal side, the page loaded successfully by applying the following

[2021-10-18 14:58] Phault commented on #25
Hi again,

Oh wow, I didn't expect such a quick turnaround. I've finally gotten around to testing it and it appears to be working great. Thanks a lot. 🙏

[2021-10-18 14:58] #25 closed

[2021-10-18 15:49] #26 closed

[2021-10-24 16:17] sandeshgit opened #28 "Homepage working fine but the inner page returns Unhandled Runtime Error: Failed to load script: /_next/static/chunks/pages/404.js"
Thank you for the wonderful module.

I followed [these steps from the documentation](https://next-drupal.org/docs/quick-start) after which I was able to access the homepage at http://localhost:3000/. But when I click on the Article Link it shows the following error:

**Unhandled Runtime Error**
_Failed to load script: /_next/static/chunks/pages/404.js_

Versions:
OS: Ubuntu 16.04
Drupal: 8.8.0
Nod

[2021-10-26 11:43] MathiasGmeiner opened #29 "Subrequests: get same results on different request"
For those who have problems to get the node content:

We had the same problem as described in this issue: https://www.drupal.org/project/subrequests/issues/3049395

After applying the patch https://www.drupal.org/files/issues/2019-07-18/change_request_type-63049395-09.patch the results from the subrequests are fine.

Our installations:
Drupal 9.2.7
Subrequests 3.0.3
Next 1.0.0-beta5
PHP 7.3

[2021-10-30 17:59] KojoEnch commented on #15
Had the same issue, tried all of the above solutions : generated token with curl, deleted and recreated consumer...

**I'm using ddev** for Drupal and I could solve it after I filled NEXT_PUBLIC_DRUPAL_BASE_URL and NEXT_IMAGE_DOMAIN  values **with the http url** (eg _http://myblog.site:8008_) instead of the https one (_https://myblog.ddev.site _).

By the way, I stumble then on **Not found** error

[2021-10-31 15:56] shadcn commented on #15
The Next.js JSON:API module list JSON:API module as a dependency. I'll update the docs.

@KojoEnch I've been wanting to try ddev for a while. Are you running both Drupal and the Next.js site on the same setup? Mind sharing your config?

Thanks for the feedback. Appreciate the feedback.

[2021-11-01 11:54] KojoEnch commented on #15
Well, I just use default config. I use ddev most of the time now for a while and recommend it, since it provides a full containerized dev env for each project in less than a minute.

So I made a new fresh install following your quick start guide this morning, and I can confirm that **for ddev users, the install problem comes from the https**. I think node complains for self signed certificates, I'

[2021-11-01 13:05] shadcn commented on #15
@KojoEnch Thank you. I'll add this to the documentation.

[2021-11-01 14:22] KojoEnch commented on #26
I faced the same issue. As per @taku3202 comment, applying Drupal Subrequests patches solved it :

- [Subrequest failed validation ](https://www.drupal.org/project/subrequests/issues/3029570#comment-13151631)
- [Get same results on different request](https://www.drupal.org/project/subrequests/issues/3049395#comment-13187043)

[2021-11-12 20:41] Josh865 opened #40 ""Bad Request" error in Next, but no errors in browser or API client"
Hi,

Thanks for providing this library!

I've followed the Quick Start guide (starting from scratch several times), but I'm continuing to receive a "Bad Request" error in the vanilla index.tsx page. From what I've been able to gather from my console.logging, the URL that gets fetched inside getStaticProps is incomplete, since I only ever see `http://drupal.test/jsonapi`.

However, when I access th

[2021-11-13 07:26] shadcn commented on #40
@Josh865 Any error in the Drupal logs?

[2021-11-13 13:45] Josh865 commented on #40
Nope, nothing in the Drupal logs, unfortunately.

[2021-11-14 16:09] shadcn commented on #40
@Josh865 Can you see if applying the following patches fixes the issue? Add the following under `extra` in your `composer.json` file:

[code]

Even if we're not using the preview, the JSON:API requests are sent as subrequests. We need these two patches.

(I'm also running on Laravel Valet btw)

Let me know if this helps.

[2021-11-14 20:06] simon-olsen opened #41 "Incorrect peer dependency"
`warning " > next-drupal@0.15.0" has incorrect peer dependency "next@^10.0.0".`

I've noticed that the above turns up in my Terminal. Everything seems to run fine, but do I need to adjust anything in my project?

My Next version is the following:

`"next": "^11.1.2",`

[2021-11-15 18:37] Josh865 commented on #40
@shadcn Thanks for the pointer. I applied the patches, but that didn't resolve the issue.

I ran through the quick start guide again, starting with fresh installations of both the Drupal and Next sites (with the Drupal site having the patches you mentioned), and I'm continuing to the get the "Bad Request" error.

I am, however, now getting a php debug entry in the Drupal log: `User deprecated func

[2021-11-17 15:10] trickreich opened #47 "fetch requests fail sometimes"
![image](https://user-images.githubusercontent.com/16644200/142226130-97d48027-5177-4f27-a016-6555b4522f70.png)

![image](https://user-images.githubusercontent.com/16644200/142226259-11113a71-2feb-46b0-b1f4-76a6b6ec2409.png)

Sometimes our fetch requests fail and I have no clue why. It's also not the same request which is failing.
Maybe someone could give me a hint where I could dig deeper.

[2021-11-18 21:51] alain0 commented on #40
I also had bad requests right at the start. I removed the field_image from the includes as this field is not present in my drupal install. Maybe you have a similar problem?

[2021-11-19 15:14] alain0 opened #49 "404s for nodes created in non-default language in multilingual Drupal site"
I've just started with your basic starter and an existing multilingual Drupal site and I am able to fetch all nodes on the index page (with getResourceCollectionFromContext)

But for individual nodes I get 404s for some of them, getResourceFromContext returns null.
I found out that the nodes that can't be found are nodes which were create in the second language of the site instead of the default.

[2021-11-19 15:21] shadcn commented on #49
Sure. Can you share the code for `getResourceFromContext` / `getStaticProps`?

The `example-marketing` site is a multilingual site. You can take a look at the codes here: https://github.com/chapter-three/next-drupal/tree/main/examples/example-marketing

[2021-11-19 15:52] alain0 commented on #49
Thanks, had a quick look at marketing example. I'm not spotting differences I think are relevant for my problem. I saw the params for getResourceFromContext are set with drupal-jsonapi-params so I tried to do that as well, without success.

Code below is from [...slug].tsx. It's almost unchanged from what is in the starter except that I changed the params part (for other node type and now with dru

[2021-11-19 16:07] Josh865 commented on #40
Thanks for the suggestion, @alain0! I gave it a try but, unfortunately, it didn't correct the issue.

[2021-11-19 16:16] shadcn commented on #49
Can you visit one of the translated node paths and see what's in `context`? `console.log(context)`

[2021-11-19 16:25] shadcn commented on #40
Hmm. I was hoping to see something in the Drupal logs.

I tried to reproduce the issue and a `Bad Request` resulted in the following log for me:

[code]

[2021-11-19 16:26] shadcn commented on #49
We are looking for something like this in `context`:

[code]

[2021-11-19 16:36] Josh865 commented on #40
Thanks for checking! I'm not sure what else to try or to share, but it sounds like it must be something idiosyncratic about my setup or else something so obvious I'm not even considering it. I'll keep digging and tinkering and will report back if I'm unable to figure out what's going on.

Unless there's something else you suggest I try, feel free to close this so it's not cluttering up the issues

[2021-11-19 17:28] shadcn commented on #40
I tried with a fresh install but could not reproduce this.

I've created a public Drupal site. Can you update your `.env.local` file with the following and see if it works?

[code]

This is a fresh install with two blog posts.

- Demo: https://dhog8.sse.codesandbox.io/
- Codesandbox: https://codesandbox.io/s/trusting-napier-dhog8

If this works, then we can assume the error is on the Drupal side a

[2021-11-19 18:51] alain0 commented on #49
Thanks for all the help, much appreciated!

So logging context for both working and non working nodes gives undefined locales:

[code]

Something wrong with my Drupal site?

[2021-11-19 18:58] shadcn commented on #49
Do you have i18n configured in `next.config.js`?

https://github.com/chapter-three/next-drupal/blob/ba037c3e48b730e1cfa1a97ab81ef6e78e669512/examples/example-marketing/next.config.js#L2

[2021-11-19 19:13] Josh865 commented on #40
@shadcn That works perfectly! So, I guess the problem is on the Drupal side. I'm not sure what the next step should be, however. As I mentioned before, everything works just fine when navigating through the Drupal site in the browser. Is there any information I can provide that would help locate the issue?

Thanks!

[2021-11-19 19:22] alain0 commented on #49
I didn't. I now have. And issue fixed!
Sorry for not spotting that in the example you've sent me right away...
Thanks!

[2021-11-20 04:57] shadcn commented on #40
What does your Article content type look like? What fields?

[2021-11-20 16:38] shadcn commented on #49
No worries. Happy you got it sorted out. I'm going to close this issue.

If you need help with anything else, you can open a new issue or ping me on [Drupal Slack](https://drupal.slack.com/archives/C01E36BMU72).

[2021-11-20 16:38] #49 closed

[2021-11-20 16:38] shadcn commented on #18
@Kroonax I'm going to mark this as fixed. It not, feel free to re-open.

[2021-11-20 16:38] #18 closed

[2021-11-20 16:40] shadcn commented on #26
@demo-Ghost Did you figure this out?

[2021-11-20 16:40] #28 closed

[2021-11-20 16:41] shadcn commented on #29
I've updated the docs to include the patches: https://next-drupal.org/learn/quick-start/apply-patches

[2021-11-20 16:41] #29 closed

[2021-11-20 16:45] shadcn commented on #47
@trickreich hmm this might be a hard one to debug. How big is the site? What does the build time look like?

[2021-11-20 17:15] Josh865 commented on #40
I haven't added or removed any fields from the standard Article type that comes out of the box with a fresh Drupal install, so it's got:

- Title
- Body
- Tags
- Image
- Publish

I just entered a test title, a sentence in the body, made sure it's published, and saved it.

[2021-11-22 12:45] trickreich commented on #47
@shadcn this is just a one pager therefore just one page in drupal.. sadly there's no option to debug `node-fetch` I think

[2021-11-30 09:01] sakkelaaksonen-siili opened #50 "Example code of getResourceByPath is invalid"
https://next-drupal.org/docs/reference#getresourcebypath

Example uses extra **first** parameter "**type**" , which is  not found in the actual implementation.

[2021-11-30 10:03] shadcn commented on #50
Ah you're right. I'll fix. Thank you.

[2021-11-30 10:14] shadcn commented on #50
Done. https://next-drupal.org/docs/reference#getresourcebypath

Thank you.

[2021-12-01 10:38] #50 closed

[2021-12-05 07:59] himbolion opened #54 "setup using docker?"
Would it be possible to add a Guide on how to set this up using Docker?
I tried to just "Extend" using the .tar.gz file I can download from the drupal.org site, but said file doesn't include it's needed modules.

Having a next-drupal docker image that includes composer, would be neat imo

[2021-12-05 08:09] himbolion commented on #54
I tried to just "Extend" using the .tar.gz file I can download from the drupal.org site, but said file doesn't include it's needed modules

![image](https://user-images.githubusercontent.com/20520193/144738868-a97aad2a-ad58-41b4-b350-cb1a60989e8a.png)

[2021-12-05 08:16] shadcn commented on #54
Can you use composer? It will pull the dependencies for you.

[2021-12-05 20:37] himbolion commented on #54
Ah, it turns out I didn't try using the CLI. composer is already included in the drupal docker image

[2021-12-05 20:37] #54 closed

[2021-12-06 14:52] alain0 opened #56 "getPathsFromContext for taxonomy terms"
Is it possible to use the getPathsFromContext for taxonomy terms?

I'm using it like so:

[code]
This does return an array (with the correct amount of items) but the slugs are undefined:

[code]
I couldn't find the use of getPathsFromContext for taxonomy terms in the examples so maybe it's just not implemented or am I doing something wrong?

[2021-12-06 14:59] shadcn commented on #56
Yes. Any entity type should work.

Did you configure path alias for taxonomy terms?

[2021-12-06 20:13] alain0 commented on #56
I did. And also tried to regenerate aliases, also with deleting all existing aliases beforehand.
I also tried other vocabularies. And also tried passing content without locales. All to no avail..
Do you have any other suggestions?
Thanks in advance!

[2021-12-06 20:53] alain0 commented on #56
I now see the preview in Drupal giving me an error: "Error: the path attribute is missing for entity type taxonomy_term--themes"
When I check the json response (/en/jsonapi/taxonomy_term/themes?fields[taxonomy_term--themes]=path&filter[status]=1), I see the path attribute is indeed missing. I can however add other attributes to the request (like the 'name') and those turn up in the response.
This

[2021-12-06 21:09] alain0 commented on #56
Ok solved. Found the solution here: https://www.drupal.org/project/jsonapi/issues/3012019

In my case running this did the trick:

[code]

[2021-12-06 21:09] #56 closed

[2021-12-06 22:19] shadcn commented on #56
Aha. I’ve been burned more than once by this. I’ll document this for others.

Thank you

[2021-12-14 15:06] Peppe87 commented on #15
I'm starting to test this tool on Drupal 9.3. I'm also using ddev.

The first time I had to do a POST request - [https://github.com/chapter-three/next-drupal/issues/15#issuecomment-899808977](as itamair said in a post above). Subsequently, the next.js site started to work.

It was not necessary for me to use the http url. In other words, `NEXT_PUBLIC_DRUPAL_BASE_URL=https://drupal9-site.ddev.site`

[2021-12-16 00:51] darrenoh commented on #15
I'm seeing new tokens being created every time the front end refreshes. Also seeing this error in the Drupal log:

[2021-12-16 07:24] shadcn commented on #15
@darrenoh this error is a known issue in the Simple OAuth module. See:

- https://www.drupal.org/project/simple_oauth/issues/3197616
- https://www.drupal.org/project/simple_oauth/issues/3230707

Can you create a separate issue to track the token generation issue please?

Thank you

[2021-12-16 11:44] sakkelaaksonen-siili opened #59 "use next/config instead of process.env"
Using process.env in any code will prevent those variables from being passed on to various build and runtime phases if not using .env-files.
use next/config instead so that environment variables can be set and used from actual environment and not just .env-files

[2021-12-16 12:58] shadcn commented on #59
Which of the config would be better a non .env? Can you share an example?

Thank you

[2021-12-16 14:51] sakkelaaksonen-siili commented on #59
Well for example, retrieving the values from a configuration service. The more intricate issue is that when the rendering code(all of the methods in this package are meant to be executed in pages or components) calls process.env directly, it is hard to reliably set the env vars without .env files, which cannot always be included in the repository if there are secrets, between build and server runt

[2021-12-16 14:52] sakkelaaksonen-siili commented on #59
as in which config is better (assuming you mean public or server runtime configs), well that is defined by the call scope of each function. If it can run in browser, it must be public.

[2021-12-16 22:12] simon-olsen opened #60 "Module '"next-drupal"' has no exported member 'DrupalNode'."
I just started a fresh install of `npx create-next-app -e https://github.com/chapter-three/next-drupal-basic-starter` and I'm getting the following problem in my VS Code.

[code]

`Module '"next-drupal"' has no exported member 'DrupalNode'.`

I checked a previous Next-Drupal project I worked on and DrupalNode wasn't being imported there. My current project also seems to work fine.

Is this new? Do

[2021-12-17 09:14] claudiu-cristea commented on #26
I'm getting the same error in preview. My Drupal site base URL is http://localhost:8080/blog/drupal/web

[2021-12-17 09:33] claudiu-cristea commented on #26
Also, applying the patches from https://github.com/chapter-three/next-drupal/issues/26#issuecomment-945509653 didn't help

[2021-12-17 10:08] claudiu-cristea commented on #26
Just for debugging I've replaced the `RouterPathTranslatorSubscriber::cleanSubdirInPath()` method (see https://github.com/chapter-three/next-drupal/issues/26#issuecomment-950711871) with:

[code]

...and it fixes the issue.

Note that I've hardcoded my _base path_ because it seems that I couldn't get it from request. What comes from `$request->getBasePath()` is an empty string. Same is stored in `

[2021-12-17 14:35] claudiu-cristea commented on #26
So this works but don't ask my why :) The Symfony request stored in `$GLOBALS['request']` contains the correct base path information. But I have no idea why they are different...

[code]

[2021-12-17 14:40] claudiu-cristea commented on #26
Ok, so I've reworked https://www.drupal.org/project/decoupled_router/issues/3133873. @demo-Ghost could you try to apply also the https://git.drupalcode.org/project/decoupled_router/-/merge_requests/3.diff patch to `decoupled_router` module and see if fixes the issue? It does for me.

(However, still don't understand why, in `cleanSubdirInPath()`, `$request` and `$GLOBALS['request']` are diverged)

[2021-12-17 20:43] Msteimel opened #61 "It was not possible to parse your key"
I've been running into the following issue below after following the quick start Guide

![Screen Shot 2021-12-17 at 2 34 41 PM](https://user-images.githubusercontent.com/25468002/146604658-20fe1eb6-f9e3-47af-872d-b2fde8278079.png)

I check the drupal logs and get the following error: _Lcobucci\JWT\Signer\InvalidKeyProvided: It was not possible to parse your key, reason: in Lcobucci\JWT\Signer\Inva

[2021-12-18 05:31] shadcn commented on #61
@Msteimel How were the keys generated?

[2021-12-18 05:32] shadcn commented on #60
Can you try updating to `next-drupal 1.0.0`? `DrupalNode` is a type exported by `next-drupal`.

[2021-12-18 16:16] Msteimel commented on #61
@shadcn I followed the steps on the start guide https://next-drupal.org/learn/quick-start/create-consumer

When that didn't work I tried the _openssl_ and get the same error.

[2021-12-18 16:56] diegaco opened #62 "Example of code data fetching"
https://next-drupal.org/docs/data-fetching#advanced-example

The first and second code example are trying to get type from `getResourceFromContext` instead of `getResourceTypeFromContext`

[2021-12-19 06:03] shadcn commented on #62
@diegaco I fixed it. Thank you.

[2021-12-19 06:04] #62 closed

[2021-12-19 17:19] claudiu-cristea opened #63 "Changing the node path alias pattern not reflecteded in next site"
Issue define din title.

[2021-12-19 18:29] claudiu-cristea opened #64 "Control Next site filtering from Drupal"
I've created a Drupal instance to feed 2 next.js sites and configured the entity node > article to be resolved by _entity reference_. Don't know if this is a bug or could be a new feature request. Visiting each site, I see all nodes, regardless of their configured site. Probably I'm missing some tweaks on node.js side. But isn't possible to resolve this transparently, only from Drupal side + site

[2021-12-19 18:39] shadcn commented on #64
You can filter the nodes on the Next.js site by site id. We have some documentation here: https://next-drupal.org/docs/data-fetching/filter-by-site

It’s handled on the Next end right now for flexibility. The data is available to all sites and they get to pick and filter what to display.

However I do see what you mean. Limiting the resources available at the JSON:API might be useful in some cases

[2021-12-19 18:46] claudiu-cristea commented on #64
@shadcn thank you.

I think in all cases. Because we don't want to risk that a site shows, by mistake, content leaked from a different site. Limiting on JSON:API level would be more secure and would also allow to control site filtering from a single point. Somehow, the JSON:API response should be `SiteResolverInterface::getSitesForEntity()` aware.

[2021-12-20 04:50] shadcn commented on #63
Can you give us more details? What was the pattern changed to and what does your getStaticPaths look like?

Thank you

[2021-12-20 04:52] shadcn commented on #61
Let me see if I can try to reproduce this.

Can you add more details about your setup? How are you running Drupal? ddev? Valet…etc?

Thank you

[2021-12-20 04:52] shadcn commented on #60
@simon-olsen is this still an issue?

[2021-12-20 04:53] shadcn commented on #59
I see. I’m take a look at how best we can solve this.

[2021-12-20 07:54] sakkelaaksonen-siili commented on #59
https://github.com/vercel/next.js/discussions/16995
The problem arises especially if you run next outside vercel. Not supporting multiple build env and such is a major problem in the Nextjs ecosystem. Referencing process.env anywhere outside build configs is going to cause trouble to somebody.
I just refactored my own code to set NEXT_PUBLIC_DRUPAL_BASE_URL to getConfig and use it from there.

[2021-12-20 14:26] claudiu-cristea commented on #63
I've changed the Article pattern from `blog/[node:title]` to `[node:title]`. However, after explicitly rebuilding the cache, it did sync. Not a big issue, really, but I still think that some cache tags are missing somewhere. `getStaticPaths` was:

[code]

[2021-12-20 19:27] alain0 opened #66 "addFields() not working for getResourceFromContext()?"
Hi,

In an effort to reduce the amount of data for certain pages (nextjs is giving me warnings :) I'm trying to use **addFields()** on the params I pass to **getResourceCollectionFromContext** and **getResourceFromContext** within getStaticProps. This works fine for **getResourceCollectionFromContext** but for **getResourceFromContext** I keep getting all fields returned for the requested node and

[2021-12-20 19:29] shadcn commented on #66
Can you share the code or just the params/fields part? Thank you.

[2021-12-20 19:37] alain0 commented on #66
Sure:

[code]

[2021-12-20 20:02] alain0 commented on #66
With **getResource** it also works btw:

[code]

[2021-12-20 22:02] simon-olsen commented on #60
Upgrading to `^1.0.0` fixed the issue. Thanks for your help!

[2021-12-20 22:02] #60 closed

[2021-12-21 01:17] Msteimel commented on #61
I'm using Valet.

The keys are located outside the web root.

I originally faced the same issue [has issue #15](https://github.com/chapter-three/next-drupal/issues/15) but that no longer is the case.

I've checked the server logs and don't see errors (but I'm not a server expert by any means).

[2021-12-21 11:00] shadcn commented on #66
You're right. We fixed nested params [here](https://github.com/chapter-three/next-drupal/commit/651d6976f88d3f4097df1c41648412837262df4a) but `getResourceFromContext` does not call this.

Working on a fix...

[2021-12-21 16:53] shadcn commented on #66
Update: I have a fix ready. Adding some tests and I'll push it.

[2021-12-21 19:02] shadcn commented on #66
I just tagged `next-drupal` `1.0.1` with the fix. Can you update and try again? Thank you.

[2021-12-21 19:37] alain0 commented on #66
I can confirm it is now working as expected.

Thanks for your super swift replies and fix!

[2021-12-22 05:36] shadcn commented on #66
Awesome.

Thanks for reporting this bug. This helped me find another one :)

[2021-12-22 05:36] #66 closed

[2021-12-22 17:48] demo-Ghost commented on #26
I'll give it a shot @claudiu-cristea and I'll let you know.

[2021-12-24 17:47] scotthooker commented on #47
Are you on a Mac m1? / Which version of node you using locally?

It seems to work for me now when using nvm 14

[2021-12-24 17:56] scotthooker opened #69 "Node version / NVM/ Mac M1... ECONNREFUSED"
I've spent a good bit of time debugging this random access token problem.

`POST /oauth/token HTTP/1.1
Authorization: Basic MjhlNzQ2MTYtNDBjYy00YjhjLWE2OWUtYmJiMzU4NTk0NDNkOnNlY3JldA==
Content-Type: application/x-www-form-urlencoded;charset=UTF-8`

works fine in postman, terminal etc... but fails inconsistently across a few different sites within node-fetch

I THINK I've narrowed it down to node v

[2021-12-26 21:49] sleepinzombie opened #70 "Error: request to http://localhost:8080/oauth/token failed"
Hello all,

I keep on having this error even though I have made every necessary configuration on Drupal side.
<img width="962" alt="Screenshot 2021-12-27 at 1 47 41 AM" src="https://user-images.githubusercontent.com/39788411/147420777-abb85c00-35a2-44ab-848a-ec5aabb5f046.png">

Please find below my `.env` configuration the Next.js app:
[code]

For information,
My Drupal site is running on: http://

[2021-12-26 22:55] sleepinzombie commented on #70
Weirdly, when I'm using the correct `DRUPAL_CLIENT_ID` and `DRUPAL_CLIENT_SECRET` via Postman, it works fine.

[2021-12-27 15:55] SirJohn96 commented on #70
Assuming the Drupal and Next.js sites are running in separate environments, the issue may be with what localhost points to. 127.0.0.1 will not be the same between the two.

Since the request made by the Next.js site is server-side, when going to localhost, it will point to itself rather than the server (or container) that has the Drupal site.

Postman is likely able to connect due to the fact that

[2021-12-28 05:58] scotthooker commented on #70
Had same issue

https://github.com/chapter-three/next-drupal/issues/69

[2022-01-03 04:47] shadcn commented on #69
@scotthooker did you figure this out? What environment are you running Drupal on (ddev, docker)? I'll see if I can get hold of an M1 machine to test.

[2022-01-03 04:49] shadcn commented on #70
@sleepinzombie did you get it to work?

@SirJohn96 Can you share your `.ddev` config? I don't use DDEV but I'll see if I can reproduce this.

Thanks.

[2022-01-03 22:34] sleepinzombie commented on #70
Hello @shadcn, I will try the solutions provided this week and revert back.
Happy New Year guys!

[2022-01-04 22:24] scotthooker commented on #69
Aye latest of both - pretty sure its node / nvm issues with fetch

[2022-01-04 23:31] scotthooker commented on #70
All works fine for me with ddev, nvm with node (16.13.1) now :)

[2022-01-14 16:43] sleepinzombie commented on #70
Hello all, I was able to get it work. I needed to create a network for my containers in my Docker Compose file.
And add the static IPs to my `trusted_host_patterns` in `settings.php`.

Everything is working fine now.

[2022-01-14 16:54] shadcn commented on #70
@sleepinzombie Great to hear. Thanks for the updates. Appreciate it.

[2022-01-14 16:54] #70 closed

[2022-01-16 20:53] siwinski opened #73 "Next.js 12 support?"
I am trying to add this project to an existing Next.js 12 site but it fails because `next-drupal` defines its `next` dependency requirement as `"next": "^11.0.0"`.  Will Next.js 12 be supported at some point?  If so, is there an ETA?

[2022-01-17 05:55] shadcn commented on #73
Next.js 12 is supported. I'll update the peer dependencies. Thanks for heads up.

[2022-01-17 05:59] shadcn commented on #61
@Msteimel Is this still an issue? Did you figure it out?

[2022-01-17 07:19] sakkelaaksonen-siili commented on #73
:+1:

[2022-01-18 14:32] Msteimel commented on #61
@shadcn I got busy with some other projects. I'll try again with a fresh install when I get a chance.

[2022-01-18 18:12] henlfern opened #74 "Error: Internal server error"
I'm trying to set up a local Drupal installation with this module. Everything works, but when it's time to launch the site, I receive this, and I can't get to wrap my head around it. Any idea what's wrong or what I can do to get the local server up and running?

_Server Error
Error: Internal Server Error
This error happened while generating the page. Any console logs will be displayed in the termi

[2022-01-18 18:16] shadcn commented on #74
Anything in the Drupal logs? A server error is usually something went wrong on the Drupal side. Can you check the log and see? Does the site build?

[2022-01-18 20:15] henlfern commented on #74
Quick answer, thank you.

The Drupal logs gave me enough information to find this issue: https://github.com/chapter-three/next-drupal/issues/15 in which I got the lead of "tokens".
The Quick start guide doesn't go through the tokens, which is a bit sad, because that could have saved me some time debugging.

Looking for a way to get these tokens. I'm just a site-builder, and I haven't found an easy

[2022-01-18 22:22] shadcn commented on #74
did you see the short video guide? https://next-drupal.org/learn/quick-start/create-role

Does this help?

I’ll work on improving the access tokens documentation.

[2022-01-19 06:17] henlfern commented on #74
Yes, the videos are short and great, but the steps with tokens are missing. Perhaps that's a thing that an avid developer knows about, but for me, no. I don't know how to create tokens, and I didn't even know I needed them.

In context. I've been looking at NextJS for some time, but it was only when ChapterThree launched their Next-drupal.org-site that I thought it would be possible for me to star

[2022-01-19 06:28] shadcn commented on #74
I understand. Configuring access token takes some work/configuration right now.

Note that you don't need to manually create the tokens. You create a client/consumer and copy and paste the client id and secret into your `.env` file.

Which part specifically was a blocker for you? I want to improve the docs to make this easier.

Thanks for the feedback.

[2022-01-19 06:37] henlfern commented on #74
It seems like you're describing keys. Am I wrong?
I'm talking about tokens, the ones that should wind up on /admin/config/people/simple_oauth/oauth2_token
After finding https://github.com/chapter-three/next-drupal/issues/15 I came to the conclusion that it's the tokens that are missing and that I lack the knowledge/guides how to generate them to make the stuff work.

Two things made the NextJS jou

[2022-01-19 06:45] shadcn commented on #74
What development environment are you running Drupal on? `Docker`, `ddev`, `Laravel Valet`? I'll see if I can reproduce this issue.

[2022-01-19 20:30] henlfern commented on #74
I'm running XAMPP 8.0.11-2 (which, I must confess I thought would be an obstacle when working with NextJS, but it turned out well).

[2022-01-20 07:03] rilrom opened #75 "getView() expects a string"
This is not a pressing issue as I have found a way around it for now, just curious as to whether the getView function has changed recently or I am doing something wrong.

The code snippet below is located in the example marketing package. Following the same format leavves me with an object yet getView is expecting a string.

[code]

I managed to work around it by using the below snippet:

[code]

[2022-01-20 07:11] shadcn commented on #75
@rilrom Is `field_pcb_view` a views reference field?

In the marketing example, since we're not rendering the actual view in Twig, I'm using a simple **List (text)** field type to reference the view.

<img width="760" alt="View___Next_js___Drupal" src="https://user-images.githubusercontent.com/124599/150290550-acef4210-489c-4440-9e45-6d39fffaeb07.png">

**field_view** returns the `NAME--DISPLAY` w

[2022-01-20 07:13] shadcn commented on #75
Just a quick note (since you're using paragraphs and referencing the marketing example): this example needs updating. The way paragraphs is loaded (via dynamic import) is not the best for SSG.

I'm going to push an updated version soon.

So if you hit any issues or have any questions feel free to ping me here on GitHub or Drupal Slack or [@shadcn](https://twitter.com/shadcn).

Happy to help.

[2022-01-26 01:41] ambercit opened #77 "useMenu CORS in local"
useMenu in layout page

Access to fetch at 'http://local.nextjs.com:8888/jsonapi/menu_items/main' from origin 'http://localhost:3000' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the

[2022-01-26 09:09] shadcn commented on #77
@ambercit Do you have CORS enabled?

- https://www.drupal.org/node/2715637
- https://drupal.stackexchange.com/questions/245903/how-do-i-set-up-cors

[2022-01-27 06:51] besrabasant commented on #74
I do face the same issue.

[2022-01-27 06:53] shadcn commented on #74
@besrabasant Where are you blocked? With the access tokens?

[2022-01-27 07:01] besrabasant commented on #74
Yes, How do I generate them?

[2022-01-28 06:51] besrabasant commented on #74
@shadcn Any probable solution for this issue?

[2022-01-28 06:58] shadcn commented on #74
@besrabasant Can you try the following https://github.com/chapter-three/next-drupal/issues/15#issuecomment-899808977?

Are you on XAMPP as well?

[2022-01-28 07:35] besrabasant commented on #74
I am on laravel valet.

[2022-01-28 07:51] shadcn commented on #74
I’m on Valet as well. Are you on https?

[2022-01-28 11:02] besrabasant commented on #74
No.

[2022-01-28 11:44] shadcn commented on #74
@besrabasant any thing in the drupal logs?

I'm running my site on Valet as well. Here's what I have:

1. Drupal sites running at `http://drupal.test`.
2. Next.js site at `http://localhost:3000`

with the following in my `.env.local`

[code]

[2022-01-28 15:02] besrabasant commented on #74
Here are my env variables
[code]

[2022-01-31 05:57] shadcn commented on #74
@besrabasant I created a tool here to debug the connection. Can you try it and report back? See https://github.com/shadcn/next-drupal-debug

[2022-01-31 06:02] senguendk opened #78 "Preview with moderated content / node revisions not working"
Our Drupal setup is using content moderation and we noticed that draft versions of node cannot be viewed the same as unpublished content. We also noticed that node revisions (used by content moderation) in general cannot be viewed with the nextjs preview feature. Is there any way to make it work?

[2022-01-31 06:07] shadcn commented on #78
Sure. Node revisions are supported by default (except for [nodes with paragraphs](https://www.drupal.org/docs/core-modules-and-themes/core-modules/jsonapi-module/revisions)).

What happens when you visit the revision page? Do you see the `working-copy` or an error page?

[2022-01-31 06:11] senguendk commented on #78
Thank you for the quick reply.

I have nothing I can show but I can try to explain. There is no error. The view page of the draft content just doesn’t show the iFrame preview with the nextjs render. It just shows the default drupal view.

[2022-01-31 06:20] shadcn commented on #78
The iframe preview is there for the published node?

[2022-01-31 06:37] shadcn commented on #78
Ah I found the issue. I'll push a fix. Hold on.

[2022-01-31 06:45] shadcn commented on #78
I pushed a fix. Can you try the latest dev version and let us know?

`composer require 'drupal/next:1.0.x-dev@dev'`

Thank you

[2022-01-31 06:46] shadcn commented on #78
(Didn't mean to close this)

[2022-01-31 08:42] senguendk commented on #78
I just tried it and it did not change. Also, the initial draft does have a preview but it 404s. Once it published it works. When creating another draft version, the preview defaults to the drupal built-in view (see screenshot).
![cm-draft-without-nextjs-preview](https://user-images.githubusercontent.com/1299807/151763033-afe92e4a-a0f9-4bab-8c3c-818c6d225040.JPG)

[2022-01-31 08:50] shadcn commented on #78
What's the path for latest version?

[2022-01-31 09:13] senguendk commented on #78
node/6/latest

[2022-02-01 09:09] shadcn commented on #78
Looking into it.

[2022-02-01 10:48] shadcn opened #81 "Allow modules to hook and alter the site preview"
Right now the site preview is handled inside the HTMLRenderer which by default overwrites the `$build['content]` value.

We do this to remove accessory renderable elements and allow the preview (for instance the iframe) to take over.

For flexibility add a hook to allow modules to alter the preview after it has been assembled.

[2022-02-01 10:51] shadcn commented on #77
@ambercit did you figure this out?

[2022-02-01 12:07] shadcn commented on #78
OK I found the issue and pushed a fix for it. Can you try the latest dev and let me know?

`composer require 'drupal/next:1.0.x-dev@dev'`

[2022-02-01 14:58] ysvahn opened #82 "Path alias pattern causes conflict between live and preview"
Hello !

I'm facing a weird problem :

Setting `blog/[node:title]` as the path alias pattern does not work: On the app, the URL `localhost:3000/blog/slug` resolves to a 404, but `localhost:3000/blog/blog/slug` works but obviously isn't correct.
When I try to access the preview, the resolved URL is `localhost:3000/blog/slug` -> does not work (404)

When setting back the path alias pattern back to `

[2022-02-01 15:14] shadcn commented on #78
Hmm probably something with `latest-version` and `working-copy`. I tested this locally with a published revision and a draft latest revision. I had to go back to the docs to check this one.

These are the lines handling this:

https://github.com/chapter-three/next-drupal/blob/222295ac1f6577ed376dd87e183f9a3b65a59cb8/modules/next/src/Entity/NextSite.php#L151-L169

Can you swap line `157` and `167`

[2022-02-01 15:15] shadcn commented on #82
What does your `getStaticPaths` look like in `pages/[...slug]` and `pages/blog/[...slug]`?

[2022-02-01 15:18] Kroonax commented on #82
pages/[...slug].js :
[code]

pages/blog/[...slug].js :
[code]

A workaround I found is to change project structure to :

[code]

And put all the Blog type logic inside of the "main" [...slug].js but I personally think this solution is kind of ungraceful 😞

[2022-02-01 15:19] shadcn commented on #82
Yeah this is how I usually do it. One [...slug].js to handle all node routes. But you're not limited to that you can use nested paths.

Hold on. I'll send an example.

[2022-02-01 15:39] shadcn commented on #82
### 1. Update `getStaticPaths` in `pages/blog/[...slug].js`

[code]

### 2. Pass in the `prefix` to `getStaticProps`

[code]

We have a `prefix` option we can use here. Unfortunately next does not provide much in `context`. If we had the `dir` info that would be easier.

I think we can add the prefix options to `getPathsFromContext` as well to make this a bit simpler.

Can you give this a try and

[2022-02-01 15:52] Kroonax commented on #82
This is actually pretty clever (even if a little bit clunky) and it works, too !

I totally forgot about the `prefix` option in getResourceFromContext since the context given to `getStaticProps` is so poor.

The `dir` thingy is something Next community has been asking since forever (like conditional rerendering fired by a Back Office for example haha)

You're truly a life saver, thanks a lot !

[2022-02-01 15:52] #82 closed, assigned to nobody

[2022-02-01 17:11] shadcn commented on #81
Done.

https://github.com/chapter-three/next-drupal/blob/222295ac1f6577ed376dd87e183f9a3b65a59cb8/modules/next/next.api.php#L17-L39

[2022-02-01 17:11] #81 closed

[2022-02-02 05:13] senguendk commented on #78
Swapped the lines, but it didn't change anything. Sorry! It still always shows the published version.

[2022-02-02 08:17] shadcn commented on #78
hmm, can you temporarily disable preview mode for this entity type and check if you see the expected version?

[2022-02-02 09:59] senguendk commented on #78
How do I disable Preview mode?

[2022-02-02 10:28] senguendk commented on #78
I figured out a way to disable it. “View” and “Latest version” show the correct content.

[2022-02-02 12:08] shadcn commented on #78
Here's what I have:

https://user-images.githubusercontent.com/124599/152150761-967aa473-2b3f-4d22-998a-62e8457d510b.mp4

[2022-02-02 15:10] senguendk commented on #78
Yeah, looks perfect on your end. Is there anything special I have to do on the nextjs server? I am just using the drupal starter template.

[2022-02-02 17:50] shadcn commented on #78
Nothing special on the Next.js site. Here's the file

https://github.com/chapter-three/next-drupal/blob/cd2ed5c86e23c8c5c364e6094a93033cb955edc0/examples/example-marketing/pages/%5B%5B...slug%5D%5D.tsx#L62-L127

On the Drupal side, I've enabled content_moderation and added `Basic Page` to the *Editorial* workflow.

[2022-02-03 20:37] senguendk commented on #78
Tried pretty much everything, but I cannot get it to work with the basic starter kit/app. Thank you very much for your time and effort.

[2022-02-04 05:15] shadcn commented on #74
@besrabasant any luck?

[2022-02-04 11:35] besrabasant commented on #74
@shadcn I tested the connection with the tool and I see **Connection Established** successfully

![image](https://user-images.githubusercontent.com/13284206/152522365-69dd6ebd-471f-44f6-af55-072a2277a8b5.png)

[2022-02-04 16:03] senguendk commented on #78
We just made a last ditch effort and setup a new Drupal (patches applied) installation and Nextjs-app (your basic starter kit). Unfortunately, the outcome did not change. Revisions are not rendered. Only the latest default/published revision is being rendered.

Again, thank you very much for trying to help us. We would love to give this another shot in the future.

Please let me know if you need m

[2022-02-04 16:21] shadcn commented on #78
Sure. I'm going to see if I can reproduce the issue with the basic starter today.

[2022-02-04 16:36] shadcn commented on #78
@senguendk Yep you were right. I updated the code in the basic starter to handle revision. Check it out.

[code]

And add `import { translatePathFromContext } from "next-drupal"`

Can you replace the code in your `[...slug].tsx` and let me know?

Thank you.

[2022-02-04 17:05] senguendk commented on #78
Thank you for responding so fast. We replaced the code, cleared .next and drupal cache. It did not make a difference unfortunately. It is, as if the "resourceVersion" or "rel" parameters are being ignored. We think so, because if the initial version of a page is a draft (unpublished), it 404s.

[2022-02-04 17:48] shadcn commented on #78
That's unfortunate. You reverted the change we made earlier to `NextSite.php` right?

I'm going to pull a fresh Drupal copy and see if I can reproduce this.

[2022-02-04 18:50] senguendk commented on #78
Yes, we did. I also set up a clean drupal installation myself.

Let me know how it goes. Maybe we ate still doing something wrong.

[2022-02-06 14:49] crackayus09 commented on #15
I faced the same issue. Resolved it by installing `Next.js JSON:API` module. I think they forgot in the doc to mention about this.

[2022-02-06 19:09] solucionti commented on #74
I get the same error here, clean install, I followed all the steps in the guide:
https://next-drupal.org/learn/quick-start/install-drupal
https://next-drupal.org/docs/quick-start

I checked the logs, and I didn't have any type of error.
https://i.imgur.com/lxRywUl.gif

[2022-02-07 06:42] shadcn commented on #74
@solucionti Looking into it. This is a fresh Drupal install?

[2022-02-07 12:06] solucionti commented on #74
Hello, @shadcn  , yes it is a clean installation

[2022-02-07 15:52] je34429 opened #86 "Inverted params on"

[2022-02-07 16:47] je34429 opened #87 "Can't find how to get includes from json api on getResourceByPath"
I'm not sure if I'm doing something wrong but when I use getResourceByPath I can't get the paragraphs that are currently active on this contentType, I only get a reference to their ID but I can't include them the same way I do when using getResourceFromContext with the params object. Would be great to have the params object enabled here to get reference fields or entities like paragraphs the same

[2022-02-07 17:06] shadcn commented on #87
@je34429 Can you add the code for getResourceByPath vs getResourceFromContext please?

[2022-02-07 17:11] shadcn commented on #74
@solucionti @besrabasant I'm pretty sure you've already done this but could you go through the following checklist and make sure everything is set up correctly? (I'm trying to reproduce the bug).

- [ ] [Apply Patches for subrequests and decoupled_router](https://next-drupal.org/learn/quick-start/apply-patches)
- [ ] Enable both **Next.js** and **Next.js JSON:API** modules
- [ ] [Create a role and

[2022-02-07 17:15] besrabasant commented on #74
Yes @solucionti, I have performed all the configurations you have listed above
- [x]  [Apply Patches for subrequests and decoupled_router](https://next-drupal.org/learn/quick-start/apply-patches)
- [x]  Enable both **Next.js** and **Next.js JSON:API** modules
- [x] [Create a role and a user with the proper permissions](https://next-drupal.org/learn/quick-start/create-role)
- [x]  [Create consumer]

[2022-02-07 17:17] je34429 commented on #87
sure!, this works on SSR (getServerSideProps):

const node = await getResourceFromContext('node--page, context, {
    include: `uid,
                    field_a,
                    field_b,
                    field_c,
                    ...
                 `
 });

this doesn't work on ISG (getStaticProps):

const node = await getResourceByPath( "/home", "node--page", {
   include: `uid,

[2022-02-07 17:22] shadcn commented on #87
Ah you know what! This looks like an error in the docs. `getResourceByPath` does not need the type.

[code]

[2022-02-07 17:23] shadcn opened #88 "Update docs for getResourceByPath"
1. https://next-drupal.org/docs/reference#getresourcebypath
2. #87

[2022-02-07 17:25] je34429 commented on #87
OMG!!!!, man you are the best!! thank soooo much!

[2022-02-07 18:12] solucionti commented on #74
Ok, today I will do a clean install. As soon as I have news I will send it to you.

[2022-02-08 02:52] solucionti commented on #74
@shadcn I did a clean installation on two computers, on one it worked without problem, on the other at the time of installation using the command:

npx create-next-app -e https://github.com/chapter-three/next-drupal-basic-starter

I get the following warnign messages:

l v1.22.5
[1/4] Resolving packages...
[2/4] Fetching packages...
info @next/swc-android-arm64@12.0.10: The platform "linux" is inc

[2022-02-08 03:08] solucionti commented on #74
This is the error on the failing computer:
![chrome_1aLVHqtKxn](https://user-images.githubusercontent.com/9874555/152910682-c96ffcd6-175c-4e09-8be3-af0e3ce13399.png)

[2022-02-08 10:34] theodorosploumis opened #89 "Add "Module categories" on D.O. project page"
Minor, but it would be nice if we added tags like "Decoupled", "Third-party Integration", "Javascript uilities" etc on the "Module categories" field on Drupal.org so this module (https://www.drupal.org/project/next) appears on related search on D.O.

Thanks.

[2022-02-08 17:15] shadcn commented on #89
Great idea! I've added the categories. Thank you.

[2022-02-08 17:15] #89 closed

[2022-02-08 17:26] #87 closed

[2022-02-08 17:27] shadcn commented on #88
Done. I've updated the docs. https://next-drupal.org/docs/reference#getresourcebypath

[2022-02-08 17:27] #88 closed

[2022-02-08 17:27] shadcn commented on #86
I've updated the docs. Thank you.

[2022-02-08 17:34] shadcn commented on #40
@Josh865 did you figure this out? OK to close this issue?

[2022-02-08 19:03] Josh865 commented on #40
Thanks for checking back in! Unfortunately, I wasn't able to get it working. I'll close the issue.

[2022-02-09 06:40] ambercit commented on #77
@shadcn we solve by the links you offer，is this will support drupal  layout build later

[2022-02-09 08:23] shadcn commented on #77
@ambercit For Layout Builder we are currently blocked by this issue: [Expose Layout Builder data to REST and JSON:API](https://www.drupal.org/project/drupal/issues/2942975)

[2022-02-14 20:28] Tuestunmanan opened #91 "accessToken is not pass to getResourceByPath in getResourceFromContext (get-resource.ts)"
`diff --git a/node_modules/next-drupal/src/get-resource.ts b/node_modules/next-drupal/src/get-resource.ts
index 6f1182e..e6edda7 100644
--- a/node_modules/next-drupal/src/get-resource.ts
+++ b/node_modules/next-drupal/src/get-resource.ts
@@ -54,6 +54,7 @@ export async function getResourceFromContext<T extends JsonApiResource>(
       resourceVersion: previewData?.resourceVersion,
       ...options

[2022-02-15 08:10] theodorosploumis opened #92 "Using a fake JSON API to test components and allow decoupled design"
I am wondering if we could use a fake JSON API like [json-server](https://www.npmjs.com/package/json-server) with this project so we test the components without a Drupal backend as also as allow frontent designers to create components in a decoupled way.

- Does this make sense?
- Do the "Basic Starter" components support this or they are strongly tighten to the Drupal JSON API?
- What other optio

[2022-02-15 09:54] lauriii commented on #74
I was running into similar problem when installing `next-drupal` on top of `composer.json` from Drupal Core and running PHP 8.0. The problem is caused by having PHP constraint on `composer.json` to require packages that support PHP 7.3.0, while running PHP 8.0 locally. The PHP 7.3.0 constraint in `composer.json` prevents composer from loading Simple OAuth 5.2.0 which is the version that makes the

[2022-02-15 10:13] back-2-95 commented on #74
@lauriii how can it be that we're on same issue within 30mins ??

Just got this thing working apart from Preview.

[2022-02-15 10:31] shadcn commented on #74
Thanks for the update @lauriii  I’ll add this to the docs.

@back-2-95 Let me know if you need help configuring preview.

[2022-02-15 10:33] back-2-95 commented on #74
@shadcn I have just empty iframe, no errors on browser console or output in from `npm run dev`.

![CleanShot 2022-02-15 at 12 32 34](https://user-images.githubusercontent.com/1140272/154044273-919d9e79-48cb-4803-ab12-da44ab344182.png)

[2022-02-15 10:48] lauriii opened #93 "getPathsFromContext() with multiple types prone to deadlocks"
I'm getting following exception fairly consistently when visiting any of the node pages:

[code]

This seems to be caused by how `getPathsFromContext()` is calling `getResourceCollection()` multiple times when multiple types are provided, leading into multiple calls for `buildHeaders()`. I haven't been able to reproduce this when calling `getPathsFromContext()` with a single type.

Reporting here

[2022-02-15 11:17] back-2-95 commented on #74
@shadcn It was Brave browser which blocked the preview iframe!

![CleanShot 2022-02-15 at 13 17 15](https://user-images.githubusercontent.com/1140272/154051559-f099354e-e79b-44f5-b442-c67ba62a3626.png)

[2022-02-15 13:09] back-2-95 opened #94 "Production guidelines"
I tried to emulate creating "production" version of the Next.js part with Dockerfile and Docker Compose.

Was hoping to get some advices/examples on how to deploy next.js of this project to production.

My discoveries so far:

- I cannot use `npm ci --only=production` as `typescript` is in `devDependencies` of `package.json`
- I cannot use `npm run build` in Dockerfile as it tries to load content

[2022-02-15 17:28] shadcn commented on #93
Is this resulting into multiple tokens creating when running `yarn dev`?

I've been looking for a solution for a while now. We implemented an in-memory cache + a larger value for the token expiry. This seems to be working for production.

On dev/build however, Next runs `getStaticPaths` and `getStaticProps` on different workers. The memory cache solution does not work here.

I'll continue looking

[2022-02-15 17:29] shadcn commented on #92
Hmm interesting. I can see this enabling front-end teams to work independently from Drupal. I'll look into this.

[2022-02-16 12:39] shadcn commented on #93
_Just adding some thoughts here..._

I'm wondering if we even need authenticated requests for `getStaticPaths`? Static pages are always non-authenticated.

Authenticated calls are used for rendering unpublished content and revisions in the preview which is a server-side call in `getStaticProps` with `fallback: blocking`.

So do we need to make auth'd call for `getStaticPaths`? 🤔

\cc @robdecker ^^

[2022-02-17 11:50] j4-m opened #95 "getEntityFromRouteMatch returns null on revision routes"
`NextEntityTypeManager::getEntityFromRouteMatch` falsely returns null with Drupal 9.3.6. This is because the parameter taken from the route match is being upcasted to a `Node` but it is being treated as though it is the revision ID:

[code]

[2022-02-17 14:08] shadcn commented on #95
@j4-m Can you try the dev version of `next.module` and see if this fixes it. We made some improvement in #78.

https://github.com/chapter-three/next-drupal/blob/58f1150e750d860cb62b60f28edca3673dbb3c68/modules/next/src/NextEntityTypeManager.php#L64-L89

[2022-02-17 16:21] j4-m commented on #95
Oh nice one @shadcn I will give it a go. The other problem I have just ran into, using Content Moderation if you haven't already guessed, is that when the preview URL includes `rel:latest-version` JSON:API will return the latest version regardless of whether it's published or not but it would seem you have also done some work on that on the dev version...

[2022-02-17 16:33] j4-m opened #96 "Previewing content using Paragraphs"
I've been able to successfully preview updates to content using Paragraphs without the following patches to core:

- https://www.drupal.org/files/issues/2022-01-14/3088239-21.patch
- https://www.drupal.org/files/issues/2022-01-14/3031271-31.patch

I didn't actually use your Composer template but if these patches were added to the `composer.json` it may help others.

[2022-02-17 16:35] j4-m commented on #95
@shadcn the dev release has solved all my problems so I'll sit tight for a new release. Thanks for your help.

[2022-02-17 16:35] #95 closed

[2022-02-17 16:40] j4-m opened #97 "Remove dependency Simple OAuth"
We're, at least for now, not using Simple OAuth, using HTTP Basic Authentication so it would be nice to not have to install the former.

[2022-02-17 17:06] shadcn commented on #97
We're looking into this. We shipped the 1.0 with `simple_oauth` but we're looking into adding support for other authentication methods as well.

[2022-02-17 17:07] shadcn commented on #96
Did you mean **with** the following patches?

I'll test it out.

[2022-02-17 19:00] j4-m commented on #96
I did :)

[2022-02-18 15:50] suzannealdrich opened #98 "Main Menu Not Found"
Hi there,

I'm running into this error:

[code]

On the Drupal side:

[code]

I've checked, and there is a main menu. This is a vanilla Drupal 9 install on Pantheon. I get these errors on localhost, and I also can't make my Next project build on Vercel due to this error.

I tried setting up CORS as recommended in issue #77, but that hasn't resolved my error.

Thanks for all your work on this!

[2022-02-18 15:52] shadcn commented on #98
Hi @suzannealdrich 👋

Do you have the [JSON:API Menu Items](https://www.drupal.org/project/jsonapi_menu_items) installed?

[2022-02-18 15:54] shadcn commented on #98
I updated the basic starter to server render the menus this week. Looks like I'll need to update the documentation.

[2022-02-18 16:09] #77 closed

[2022-02-19 18:27] vattenapa opened #99 "Module dependencies"
Hey, I'm looking at the possibility to adopt this module in our decoupled projects. With the addition of API-based ISR invalidation in Next.js I think consolidating efforts makes sense.

We're using drupal/graphql with queries to handle route matching and permissions. I don't want to enable the modules that this module lists as dependencies, nor do I see why the project has these deps(?)

Does mov

[2022-02-19 23:03] shadcn commented on #99
This has been requested twice this week so we are definitely looking into this.

The idea for the initial release was to make it as easy as we can to get started.

Which modules are you not using?

[2022-02-20 00:39] suzannealdrich commented on #98
I was able to install that module and it works! Woohoo!
I did need to change my `composer.json` file to use `"minimum-stability": "dev",` in order to install that module, though.

[2022-02-20 00:40] suzannealdrich commented on #98
I'll let you close this issue after updating docs. Thanks for the help, @shadcn !

[2022-02-20 12:54] vattenapa commented on #99
The only module we're using that's in the dependencies is `simple_oauth` but technically you shouldn't need that either if you were only exposing public data. Afaik the only thing we need to define in the next module is the preview secret, which is just a string, right?

[2022-02-20 16:57] shadcn commented on #99
If you're only using public data, you're right you don't need `simple_oauth`. However the preview works with unpublished entities and revisions which need authentication (unless this is public too).

`subrequests` and `decoupled_router` are needed as well. On the Next.js site we use `subrequests` to stitch http calls together and `decoupled_router` to translating `path` to `uuid` for JSON:API.

[2022-02-21 08:58] vattenapa commented on #99
This is an implementation detail in your frontend/backend if you're not using `next-drupal`

I saw this when checking the `next-drupal` codebase. However `drupal/next` doesn't need any of these modules to provide it's functionality.

I understand this is how a lot of people use the combination of NPM package + Drupal module. I raised the issue to ask for flexibility in the drupal-module for people

[2022-02-21 10:02] shadcn commented on #99
OK I see what you mean. We do have a `next_jsonapi` sub-module where we could abstract most of the JSON:API functionality.

How are you handling authentication for GraphQL?

(This is good feedback. Appreciate it)

[2022-02-21 11:12] vattenapa commented on #99
We do use `simple_oauth` for authentication in previews (unpublished content/different revisions for editors) as well as user authentication so it's not too much of a different setup.

[2022-02-22 07:36] shadcn commented on #94
Hmm, I don't use docker that often but I'll see if I can get someone on the team to help with this.

Does this example https://github.com/vercel/next.js/tree/canary/examples/with-docker help?

[2022-02-22 12:09] shadcn commented on #96
@j4-m Would it be OK to update this issue title to "Preview revisions with paragraphs" or "Preview paragraph revisions"?

[2022-02-22 12:11] shadcn commented on #78
@senguendk Have you been able to look into this again?

@j4-m has been able to successfully preview revisions with content moderation with the latest dev release?

See https://github.com/chapter-three/next-drupal/issues/95#issuecomment-1043161140

[2022-02-23 15:47] senguendk commented on #78
@shadcn thanks for checking in again. Installed the latest dev release. Did not work unfortunately. Still the same issue.

[2022-02-28 10:08] back-2-95 commented on #94
Maybe this needs to be thinked like:
- Production Drupal must be online
- Build prod image as part of any CI pipeline
- Dockerfile can on build time connect to production Drupal

[2022-03-06 18:02] KojoEnch opened #118 "Fetching data from commerce_order returns always empty result"
I'm trying to retrieve an array of orders filtered by user. I can fetch the data by other means, but not with next-drupal provided functions.

Here's some code :
[code]

In order to debug, I tried several things.
I got the query string from `console.log(ordersParams.getQueryString())` and added it to my JSON API endpoint, and it is filtering properly and returning expected data (mysite/jsonapi/com

[2022-03-06 18:21] shadcn commented on #118
Hmm I tried to reproduce this is a demo store but it seems to be working. Here's my code. I tried with both `getResourceCollectionFromContext` and `getResourceCollection`

[code]

I have a demo store I created from https://github.com/drupalcommerce/demo-project

[2022-03-06 18:22] shadcn commented on #118
I'm using Commerce `8.x-2.29`.

[2022-03-06 18:45] KojoEnch commented on #118
@shadcn thanks a lot for your quick replies! I've just left my laptop, I'll try to update my version of Commerce as I see there's a fresh release, and will check your demo also. Before posting back. By the way this is the only resource I'm having problems with. Thanks again

[2022-03-10 16:32] shadcn commented on #118
@KojoEnch Did you have a chance to look at this again? Did it work?

[2022-03-10 16:33] shadcn opened #121 "Update documentation for view filters"
https://next-drupal.org/docs/reference#getview

[2022-03-10 16:51] shadcn commented on #121
Done.

[2022-03-10 16:51] #121 closed

[2022-03-11 11:37] KojoEnch commented on #118
@shadcn thanks, unfortunately not, I'm stuck. I'm using core 9.2 and I updated to latest Commerce [8.x-2.29](https://www.drupal.org/project/commerce/releases/8.x-2.29). I gave all insane permissions to anonymous user to discard a permission issue.
I have about 35 orders, which I can fetch from `/jsonapi/commerce_order/default`. But
[code]
always return `[]`

This is my composer.json

[code]
I 'm g

[2022-03-11 16:29] henlfern commented on #74
I did a new installation from scratch to see if that could make it work. I followed the guide, but ended up with the exact same error. The missing piece for me are the tokens, and I would really appreciate a guide on how I should create these tokens.
// Adam

[2022-03-11 17:06] shadcn commented on #74
@henlfern hmm and there's nothing in the Drupal logs? `/admin/reports/dblog`? Are you on PHP 7.4?

[2022-03-12 19:18] KojoEnch commented on #118
Right, fortunately the issue did not reproduce on prod environment, so it is probably a certificate problem on localhost or something related to environment ... But I remain confused that it occurs only with `getResourceCollection("commerce_order--default")`.

Thanks again for the time you dedicate to maintain this repo !

[2022-03-12 19:18] #118 closed

[2022-03-15 12:24] nethravathi95 opened #122 "Unexpected token T in JSON at position 0"
<img width="951" alt="image" src="https://user-images.githubusercontent.com/54062543/158370369-a0d02191-fba4-43c6-ae1f-59845287f3c8.png">

Nextjs for drupal Authentication am getting fetch error on
 invalid JSON response body at http://localhost/drupalnextjs/oauth/token reason: Unexpected token T in JSON at position 0.

I googled this issue and find that I should add the User-Agent header to my re

[2022-03-15 12:27] shadcn commented on #122
@nethravathi95 ok let's see. Is there anything in the Drupal logs? Under Reports → Recent log messages?

[2022-03-15 12:34] nethravathi95 commented on #122
![image](https://user-images.githubusercontent.com/54062543/158378603-d15a8c9e-98f8-4d14-8fd5-d5db8b9c9b02.png)

This is my recent log message

[2022-03-15 12:40] shadcn commented on #122
Which php version are you on?

[2022-03-15 12:43] shadcn commented on #122
simple_oauth `5.2.0` requires php `7.4`

[2022-03-15 13:24] nethravathi95 commented on #122
<img width="620" alt="image" src="https://user-images.githubusercontent.com/54062543/158387037-e87a9ba9-9844-4d9f-bd95-fb2a6062dbe3.png">

yes its 7.4 php version am using

[2022-03-15 15:31] shadcn commented on #122
This issue is happening when you're implementing the password grant? or when fetching data in pages?

[2022-03-15 15:35] nethravathi95 commented on #122
This issue happing with the password grant

[2022-03-16 08:03] shadcn commented on #122
@nethravathi95 Can you send us some code sample on the Next.js side? Are you using next-auth?

[2022-03-17 04:39] nethravathi95 commented on #122
@shadcn yes am using next auth

[2022-03-17 05:24] nethravathi95 commented on #122
nextjs.zip
<https://drive.google.com/file/d/1jFf3mUCqTi16Y341bsPHBS7fQ0nqBd9X/view?usp=drive_web>

On Wed, Mar 16, 2022 at 1:33 PM shadcn ***@***.***> wrote:

[2022-03-17 06:45] shadcn commented on #122
@nethravathi95 I was looking into this yesterday and found a few things.

I wrote down a guide here: https://gist.github.com/shadcn/819d842b7b5644f88772f460e223c467

Can you take a look and let me know?

[2022-03-18 15:16] henlfern commented on #74
@shadcn The only thing in the log is a notice that my public key should be 600 or 660 instead of 755 (and when I change it to 600 or 660 the notice changes to a warning stating "does not exist or is not readable", nice catch 22 there).

I'm on PHP 8.0.11.

The terminal (after running npm run dev) says:

[code]
and then
[code]

[2022-03-18 15:19] shadcn commented on #74
@henlfern it worked?

[2022-03-18 15:54] henlfern commented on #74
No, not at all @shadcn  I'm still convinced that it's the tokens that are the problem for my installation, but you never seem to listen to this. Every time I've brought it up you have avoided my questions and prays for a guide on how to add tokens to the installationen. 🤷‍♂️

[2022-03-18 16:49] shadcn commented on #74
I understand. I saw `compiled successfully` and assumed it worked.

I've actually been looking into this and I added a solution for this in the latest `next-drupal`.

Initially we were providing a `CLIENT_ID` and a `CLIENT_SECRET` to next-drupal and it would use this to ask for a token from Drupal. In `next-drupal 1.2.0`, we can set a long-lived token instead of id and secret.

Let's try it out.

[2022-03-21 15:32] nethravathi95 commented on #122
@shadcn This guide is related to Authorization Code Grant which works fine before reporting the issue. I need a solution for the password grant which gives an error called Unexpected token T in JSON at position 0

[2022-03-23 12:22] shadcn opened #129 "Document configuring menus for the basic starter"
Add docs for configuring menus for the basic starter.

Related https://github.com/chapter-three/next-drupal/issues/98

[2022-03-23 12:22] shadcn commented on #98
We have decided to keep the basic starter minimal and document how to add menus support (given menus are not currently supported by Drupal core JSON:API)

https://github.com/chapter-three/next-drupal/issues/129

Closing this for now.

[2022-03-23 12:24] #73 closed

[2022-03-24 10:52] vermario commented on #26
@claudiu-cristea hi! I had the same issue described here, and your last patch fixed it!

[2022-03-24 18:56] #61 closed

[2022-03-24 19:36] shakilahmad46 commented on #15
I followed all the above comments and the quick start guide but still, the issue remains.
![Uploading Screen Shot 2022-03-25 at 12.34.50 AM.png…]()

[2022-03-28 09:58] Elendev opened #131 "Decorates main_content_renderer.html instead of replacing the service"
The Renderer https://github.com/chapter-three/next-drupal/blob/691a4b8bcf747b13e908c3dc4423ff168128d430/modules/next/next.services.yml#L11-L28 replaces the base service for HTML content renderer, which is declared in `core.services.yml`: https://api.drupal.org/api/drupal/core%21core.services.yml/service/main_content_renderer.html/9.3.x

Unfortunately it might not be deterministic: if the Drupal co

[2022-03-28 10:00] Elendev opened #132 "Support Drupal's preview mode"
The routes are currently hard-coded in the HTMLRenderer:
https://github.com/chapter-three/next-drupal/blob/691a4b8bcf747b13e908c3dc4423ff168128d430/modules/next/src/Render/MainContent/HtmlRenderer.php#L98-L103

We should be able to make it configurable (hook? Settings form?) to be able to add preview URLs.

The previews can be made available in the API with the help of the module https://www.drupa

[2022-03-28 12:37] shadcn commented on #131
Makes sense. We are looking into making the HTMLRenderer more flexible in `2.0.0`.

Happy to look into it for a `1.x.x` release if this is a blocker.

[2022-03-28 12:41] shadcn commented on #132
Yep. I had to edit this directly for this demo: https://twitter.com/shadcn/status/1491853030396141568

This could be handled in the `NextPreviewer` plugin or per entity type to be more flexible.

Let's see.

[2022-03-28 12:43] shadcn commented on #132
+1 for configurable per entity type.

[2022-03-28 12:53] shadcn commented on #129
This is covered by https://next-drupal.org/docs/data-fetching/menus

[2022-03-28 12:53] #129 closed

[2022-03-29 09:14] simon-olsen commented on #15
Did you try deleting and [recreating the consumer](https://github.com/chapter-three/next-drupal/issues/15#issuecomment-939373902)?

[2022-03-30 13:07] violabg opened #135 "compatibility with react native"
I was wondering is this can be used in a react native application, since it uses Drupal as an headless css, would it be possible to query Drupal apis, using some of next-drupal methods, like:

getResource
getResourceByPath
getResourceCollection
getMenu
translatePath
getView

[2022-03-30 13:09] violabg commented on #6
are you planning on implementing GraphQL for next-drupal?

[2022-03-30 13:14] shadcn commented on #6
Not for now. However we are following @jmolivas work on schema generation and will decide on how best to support it.

[2022-03-30 13:43] violabg commented on #135
great news

[2022-03-31 09:19] theodorosploumis commented on #15
I had the same issue as above.
For me the problem was the **usage of `http` instead of `https`**. The Drupal site was using `https` and the call with `http` was only redirected to `https` with a GET request. So POST requests to `http` were not allowed!

The Drupal error log was:

[code]

I also think that the tool from https://github.com/shadcn/next-drupal-debug should be included on the main repo

[2022-04-01 15:14] ansdb opened #136 "The block fetched without img just title and alt, tha same for taxonomy (no taxonomy name)?"
Hi

I've created a block in **Drupal** then try to fetch its content _(3 image fields with title and alt + taxonomy term)_ I've got the following data structure and I've got just **title** and **alt** no **_img_** the same goes for **taxonomy term** no **taxonomy name**

I've used `getResource('block_content--basic', 'uid')` method to fetch the block.

[code]

Please if someone can help because th

[2022-04-01 15:21] shadcn commented on #136
You can fetch additional data (relationships or entity references in Drupal) using the "include" params.

[code]

What is the name of the image field you want to fetch? `field_drupal_association_members `?

[2022-04-01 15:29] ansdb commented on #136
Thank you so much @shadcn this fixed the problem I didn't know about **params** argument before :smile:

Thanks a lot for your prompt help :+1:

[2022-04-01 15:29] #136 closed

[2022-04-01 15:33] shadcn commented on #136
Quick note: when you include the `field_badges` it will fetch **all** the fields for the terms. You probably care about a few fields only. You can do so as follows:

[code]

[2022-04-01 15:50] ansdb commented on #136
Yes this is amazing didn't know about it, thank you so much for letting me know about this ability as well, I really appreciate your help.

Thanks a million :pray:

[2022-04-03 05:50] fnick851 commented on #74
@shadcn Thanks, this worked for me. Do you think next-drupal is ready for production use?

[2022-04-03 05:59] shadcn commented on #74
@fnick851 Yes it is. We shipped `1.0.0` a few months ago and we have been using it on several production sites.

[2022-04-03 09:34] TheRuslan commented on #74
Yes, we also use it in production without any problems.

[2022-04-03 17:21] TheRuslan commented on #136
Is that possible to use with drupal-jsonapi-params?

[2022-04-03 17:23] shadcn commented on #136
@TheRuslan Yes. See https://next-drupal.org/docs/guides/jsonapi-params

[2022-04-03 18:50] fnick851 opened #137 "Search API docs?"
It seems like the docs for Search API is 404: https://next-drupal.org/docs/search-api
I found it on this page: https://example-search-api.next-drupal.org/

[2022-04-04 06:24] shadcn commented on #137
Looks like this was not documented. I've fixed it.

See https://next-drupal.org/docs/guides/search-api

If you need any help implementing Search API, feel free to create an issue. Happy to help.

[2022-04-04 06:24] #137 closed

[2022-04-04 15:10] shadcn commented on #131
Fixed by https://github.com/chapter-three/next-drupal/pull/138

[2022-04-05 08:27] Elendev commented on #132
We've been able to make the Drupal preview work on our project, but for that we had to do some important changes in the way the module works.

The main change is that we don't use the `slug` anymore for preview (either for revisions, or for the view of the node), but instead the URL for Next's preview mode contains the Entity type, the Entity bundle and the UUID.

### HtmlRenderer
We've replaced t

[2022-04-05 08:32] shadcn commented on #132
@Elendev This looks similar to the changes I had to do to make the POC work (regarding the handling of slug for the entity).

Can you link me to the issue please?

If you would like to work on this, I'd be happy to review and collab. Let's open a PR and hash out a way forward.

Appreciate all the help you're putting into making the project better.

Thank you

[2022-04-05 13:39] Elendev commented on #132
@shadcn sorry I haven't been clear, we have reported those changes on our NextJS by bypassing the existing package. I'll see with my colleague if it's easy to re-integrate in the base module.

In the meantime, I'll find time to propose some PR with improvements to allow more flexibility, and in the end be able to include the preview capability directly in the module 👍

[2022-04-05 15:31] theodorosploumis opened #145 "Question about deletion of folder "example-ssr""
I was using the `example-ssr` as an example for SSR development (https://github.com/chapter-three/next-drupal/tree/main/examples/example-ssr). It seems that the whole folder was deleted last week.

Is the same functionality included on another example?
Thanks.

[2022-04-05 15:33] shadcn commented on #145
@theodorosploumis the example was not complete. We are working on a new one. Anything you would like to see in SSR example?

[2022-04-05 15:35] shadcn commented on #145
@theodorosploumis I added the example here if you'd like to see it: https://github.com/shadcn/next-drupal-examples/tree/main/example-ssr

[2022-04-05 15:37] theodorosploumis commented on #145
Thanks for the quick response @shadcn!

I am trying to use the `getServerSideProps` method for Pages. I managed to make this work but your example has a lot of information about conditions inside the function.

[2022-04-05 21:18] simon-olsen opened #146 "Drupal site preview of a specific route (instead of [...slug].tsx)"
Hi! Working on a Next Drupal site for a client https://ro-digital.vercel.app/

Of course, the Home page `index.tsx` is a fairly customised page, but my client can still edit the main chunk of content via Drupal.

The page is a Basic Page and I have set up Site Preview for Basic Page entities.

Is there a way that I can configure it so when he looks at the _Home_ Basic Page, it previews the home pa

[2022-04-06 06:30] shadcn commented on #146
I see. So you want the `/home` on Drupal to show the `index.tsx` page from Next.js?

[2022-04-06 06:46] shadcn commented on #146
You can use the `hook_next_site_preview_alter` to do this.

Here's an example where I'm showing the preview for `/about` on the `/home` page.

[code]

[2022-04-07 13:07] theRuslan opened #147 "When multiple locales (in Next.js) getPathsFromContext() creates 404 paths for untranslated (in Drupal) nodes."
When multiple locales (in Next.js) getPathsFromContext() creates 404 paths for untranslated (in Drupal) nodes.

[2022-04-08 06:05] shadcn commented on #147
Can you share the `next.config.js`?

[2022-04-08 08:45] marcvangend opened #148 "Preview mode bar crashes frontend after adding new content"
### Context
To evaluate next-drupal, I followed the [quick start instructions](https://next-drupal.org/learn/quick-start). This was a pretty smooth process (thanks) so I continued adding some content while running the frontend with `npm run dev`. Then I wondered how next-drupal handles new content while running in production, so I ran `npm run preview` (which is short for `next build && next start

[2022-04-08 11:04] shadcn commented on #148
Looks like a bug. I've been able to reproduce this. Looking into it. Thank you.

[2022-04-08 11:44] shadcn commented on #148
It looks like this is a bug as reported (and marked as bug) here: https://github.com/vercel/next.js/issues/29483

Instead of using the `Link` component we can use a simple `a` tag to clear the preview.

(However, using `a` instead of `Link` will be a Eslint warning, so we can disable it for this line for now).

See below for example:

[code]

[2022-04-10 12:41] shivkashyap opened #150 ""Failed to fetch resource" while accessing individual article"
![image](https://user-images.githubusercontent.com/10047627/162618573-8b333c2d-6cf0-438b-a579-f9161e2988e4.png)

http://192.168.0.43:8032/jsonapi/node/article/ed039135-19a5-49d0-9ff3-569d258b83e0 link works and json data is returned.

[2022-04-10 12:54] shadcn commented on #150
Anything in the Drupal logs?

[2022-04-10 13:19] shivkashyap commented on #150
No error on drupal side.

[2022-04-10 13:23] shadcn commented on #150
Can you confirm if you have the client id and secret configured?

Did you apply the patches for subrequests and decoupled_router?

https://next-drupal.org/learn/quick-start/apply-patches

[2022-04-10 13:42] shivkashyap commented on #150
This is what I have in .env.local file

NEXT_PUBLIC_DRUPAL_BASE_URL=http://192.168.0.43:8032
NEXT_IMAGE_DOMAIN=192.168.0.43
DRUPAL_SITE_ID=blog
DRUPAL_FRONT_PAGE=/node
DRUPAL_PREVIEW_SECRET=2c1bca1_1
DRUPAL_CLIENT_ID=29ccfcca-cedc-4045-a1a2-d4d7d7c8a5aa
DRUPAL_CLIENT_SECRET=2c1bca1_1

[2022-04-10 13:43] shivkashyap commented on #150
This is my composer.son file:

{
    "name": "drupal-composer/drupal-project",
    "description": "Project template for Drupal 9 projects with Composer",
    "type": "project",
    "license": "GPL-2.0-or-later",
    "authors": [
        {
            "name": "",
            "role": ""
        }
    ],
    "repositories": [
        {
            "type": "composer",
            "url": "https://packa

[2022-04-10 14:10] shivkashyap commented on #150
OK. I think fixed it. I had patches entry in composer.json wrong. New composer.json

{
    "name": "drupal-composer/drupal-project",
    "description": "Project template for Drupal 9 projects with Composer",
    "type": "project",
    "license": "GPL-2.0-or-later",
    "authors": [
        {
            "name": "",
            "role": ""
        }
    ],
    "repositories": [
        {

[2022-04-10 14:13] shivkashyap commented on #150
Thanks a lot for your prompt replies. I am closing this issue.

[2022-04-10 14:13] #150 closed

[2022-04-11 09:38] #145 closed

[2022-04-11 17:31] fnick851 opened #151 "Approaches to implement search autocomplete suggestions"
While user is typing, I want it to suggest terms in a dropdown that can autocomplete. On the Next.js side, I think it's just a typical debounced input field.

But is there any support for this feature in `next-drupal`? And how to configure for on the Drupal side?

Thanks.

(Please let me know if Issues is not the place for such discussions. If the discussion is open, I'll probably post there.)

[2022-04-11 20:53] fnick851 opened #152 "Docker container communication during build step"
Hi, on the doc page for environment variables: https://next-drupal.org/docs/environment-variables, I can see `NEXT_PUBLIC_DRUPAL_BASE_URL` is needed by Next.js. I believe Next.js will use this URL during build time to fetch some data from the Drupal instance, right?

So given that, here is my situation:
Our setup will authenticate all network requests to containers in non-PROD environments, using

[2022-04-12 06:05] shadcn commented on #151
Yes. You can use a simple debounced field and an API route for filtering.

Here's an example: `/pages/api/autocomplete.ts`

[code]

You can now make a post request to this route to get articles containing `search` keywords.

[2022-04-12 06:08] shadcn commented on #152
@fnick851 I see what you mean but I don't use Kubernetes and I'm afraid I can't be of much help here. Are you on Slack? Maybe someone from the Next.js can help? https://drupal.slack.com/archives/C01E36BMU72

[2022-04-12 09:12] TheRuslan commented on #147
Yes. And I also use next-i18next for i18n. Here is both configs.

next.config.js:
[code]

next-i18next.config.js:
[code]

[2022-04-12 09:19] TheRuslan commented on #147
I will try to reproduce this issue on clean next/drupal setup with the same language configuration.

[2022-04-12 09:48] shadcn commented on #147
@TheRuslan what does the pattern (path alias) for the node type looks like?

You should use `[node:source:title]` so that Next.js can automatically create the paths.

![path-alias-page](https://user-images.githubusercontent.com/124599/162932224-c96ab816-41f4-45f4-9a40-9adb2aef95ce.jpg)

[2022-04-12 12:35] bandita0907 opened #153 "FetchError: request to https://localhost/drupal-9.2/jsonapi failed, reason: certificate has expired."
![image](https://user-images.githubusercontent.com/102651724/162962860-10d8ee93-63fb-4008-81dd-0cee5281d9bd.png)

I followed all the steps  from ( https://next-drupal.org/learn/quick-start/) but after running the development server, I am getting this error. Can anyone help with the solution, what needs to be done.

[2022-04-12 12:37] shadcn commented on #153
Do you need `https`? You can use `http` on localhost.

[2022-04-12 13:04] bandita0907 commented on #153
Thank you @shadcn , it got solved.

[2022-04-12 13:04] #153 closed

[2022-04-12 13:29] bandita0907 opened #154 "Server Error: Error: resource of type taxonomy_term--team not found."
![image](https://user-images.githubusercontent.com/102651724/162972945-891e4cc0-e3a8-4b6d-97a3-81aeb080215e.png)

I have used (npx create-next-app -e https://github.com/chapter-three/next-drupal/tree/main/examples/example-webform) command to get the webform and followed (https://next-drupal.org/docs/guides/webform) for the installation. When i run the development server , i am getting this issue.

[2022-04-12 14:58] shadcn commented on #154
@bandita0907 The page is looking for a `teams` vocabulary to load the options. Have you created this on the Drupal side?

1. Visit `/admin/structure/taxonomy`.
2. Add a vocabulary named **Team**.
3. Add some terms.
4. Then run the Next.js site again.5.

![vocabulary-team](https://user-images.githubusercontent.com/124599/162992042-5b87b085-0a39-4928-8699-a351bb8a01f1.jpg)

[2022-04-12 16:08] bandita0907 commented on #154
Thank you so much for helping :) it got solved

[2022-04-12 16:43] shadcn opened #155 "getResourceFromContext returns null when using sparse fieldset for resource type"
[code]

The code above (on a Drupal site with translation enabled) will return null because of the bug here:

https://github.com/chapter-three/next-drupal/blob/4022f6250a82e5cfb345824e7eb790cfba944595/packages/next-drupal/src/get-resource.ts#L59-L67

Solution: Always include `default_langcode` for the resource (until this is resolved in decoupled_router).

[2022-04-12 17:37] shadcn commented on #154
@caroline-dsouza This looks like a different error. It looks like the next.js site cannot find the Drupal site. Can you check if you got everything configured as per the quick start?

[2022-04-12 18:24] fnick851 commented on #152
@shadcn
I will check the Next.js side too, thanks.

But I think it is more related to `next-drupal`. Basically, whatever I put in `getStaticProps` need to access the backend Docker container via an inter-container network (`getStaticProps` runs at build time). So it cannot use the same `NEXT_PUBLIC_DRUPAL_BASE_URL ` value.

Is there a way to specify a different network address value for these meth

[2022-04-12 22:17] fnick851 commented on #151
@shadcn Thank you! I think this actually solves the problem in https://github.com/chapter-three/next-drupal/issues/152

With this pattern, I don't need the Docker container to accept client side (browser) requests. It can always be server to server.

[2022-04-12 22:20] fnick851 commented on #151
@shadcn
What will happen if I call `getResourceCollection` on the client side? It won't work right?

[2022-04-13 01:14] shadcn commented on #151
`getResourceCollection` is meant to run on `node`. It contains your `client_id` and `client_secret` and makes auth calls to your Drupal site so you don't want to do that in the browser :)

(Using it in `getStaticProps/getServerSideProps` or API routes means Next.js can properly tree shake it when bundling your JavaScript)

[2022-04-13 03:21] fnick851 commented on #151
@shadcn Thanks!

[2022-04-13 03:21] #151 closed

[2022-04-13 03:22] fnick851 commented on #152
It turns out I can build Next.js API to replay requests server to server. So there is no need to expose Drupal backend container to public.

https://github.com/chapter-three/next-drupal/issues/151

[2022-04-13 03:22] #152 closed

[2022-04-13 13:49] TheRuslan commented on #147
@shadcn I used [node:title] and tried [node:source:title]. I think in this case it doesn't matter.

I made an example with 2 nodes:
- **1 product** which is **translated** node with the **russian original** and **english translation**
- **1 blog post** which is **untranslated** node with the **russian original only**

In accordance with next-drupal documentation here https://next-drupal.org/docs/r

[2022-04-13 14:17] mikaelkundert opened #156 "How to configure HTTP credentials while using OAuth authentication?"
In our testing environments we tend to hide our Drupal from public internet, so it wont disclosure anything or get indexed by Google.

While eventually we want to use OAuth authentication, we want to use additionally HTTP authentication. How do we inject in our credentials in NextJS side?

We tried already by setting our base domains with `https://username:password@example.com` which didn't work o

[2022-04-13 14:19] shadcn commented on #156
Have you looked into using the password grant? https://next-drupal.org/docs/authentication/password-grant

[2022-04-13 14:47] shadcn commented on #147
We could. I'll look into it.

For now, I think what you could do is use two different calls for paths.

[code]

Can you give this a try and let me know?

[2022-04-13 15:33] fnick851 commented on #151
@shadcn Could you share some thoughts on why this is using `getResourceCollection ` but not the Search API (https://next-drupal.org/docs/guides/search-api)?

[2022-04-13 15:43] shadcn commented on #151
@fnick851 The original question did not mention Search API so I went with the easiest solution :)

You can totally replace `getResourceCollection` with `getSearchIndex` with filters.

[2022-04-13 21:58] fnick851 commented on #151
@shadcn Thanks. Still curious what is the difference (on the Drupal side) between `getResourceCollection` with `getSearchIndex`?

I guess what makes "search" a search if just querying and looking up with `getResourceCollection` kind of does the same thing?

[2022-04-13 22:43] shadcn commented on #151
`getSearchIndex` uses Search API: https://www.drupal.org/project/search_api

[2022-04-14 05:11] juhov commented on #156
I'll chime in here as I work in the project with @mikaelkundert.

So the problem in our case is on server side. For example when `getPathsFromContext()` is fetching data from JSON:API - it can't get past Drupal's basic auth.

In the deployed environments it's easy to allow server to server communication past basic auth, but we are doing builds in Circle CI and that gets a bit tricky.

By the way,

[2022-04-14 05:55] shadcn commented on #156
@juhov I see. Would a pluggable auth system solve your issue? As in bring your own auth headers?

[2022-04-14 06:10] juhov commented on #156
That sound good. But is it a problem that next-drupal and our custom header collide? In this basic auth case we would need add `Authorization: Basic <credentials>` and next-drupal will add `Authorization: Bearer <token>`.

[2022-04-14 07:45] mikaelkundert commented on #156
According to [this StackOverflow answer](https://stackoverflow.com/questions/3761845/multiple-authentication-schemes-for-http-authorization-header), supporting multiple authorization schemes is not supported.

I think we might need to do some tricks in our Drupal hosting side, to partially use Bearer scheme on some URL's and Basic scheme on rest of the URL's :thinking:

[2022-04-14 07:56] shadcn commented on #156
@mikaelkundert @juhov are you on Drupal Slack? Can we chat say in 30 minutes?

[2022-04-14 08:10] mikaelkundert commented on #156
Yeah sure, I'm on it. Not sure about @juhov.

[2022-04-14 09:41] theodorosploumis opened #157 "Proper way to get all Nodes for all Content types."
Function `getPathsFromContext` fetches all the entity paths. I would like to do something similar and get all the entities of an entity type (eg all Nodes).

The functions `getResourceCollectionFromContext` and `getResourceCollection` do not allow multiple `types` as arguments so a solution is to make a loop and call one of these for each Content type.

Is there a better solution than a loop? Or t

[2022-04-14 09:48] shadcn commented on #157
@theodorosploumis Yeah. `getPathsFromContext` uses a loop as well.

You could so something like this:

[code]

[2022-04-15 12:22] trickreich opened #158 "DRUPAL_FRONT_PAGE for second locale not working"
fixed it with following snippet:

[code]

[2022-04-15 12:23] trickreich commented on #158
next.config.js i18n
[code]

[2022-04-15 18:05] fnick851 opened #159 "Best practices for retrieving files in a content type"
Files could be a PDF, Excel, Word, of images, that are attached to a content type.

I'm curious what would be the best practice way to retrieve these from a content type? Could some one share a code snippets?

The reason I ask is till due to issue mentioned here: https://github.com/chapter-three/next-drupal/issues/152 I don't have direct client to Drupal access for non-PROD environments. So I prob

[2022-04-15 19:05] rfmarcelino opened #160 "... failed, reason: unable to verify the first certificate"
Just dropping this as a suggestion to add to docs.
I'm using ddev and by default it's exporting the URL with https causing:
"... failed, reason: unable to verify the first certificate"
Make sure that the NEXT_PUBLIC_DRUPAL_BASE_URL added on is using **http** and not **https** (unless you're running the Next app with https.

[2022-04-16 06:14] shadcn commented on #160
Thanks @rfmarcelino

If, and only if, you're running against a local Drupal install, you can also use `NODE_TLS_REJECT_UNAUTHORIZED=0` in your `.env.local` file and use `https`.

**Note: only use this for local dev servers and not against production sites.**

[2022-04-18 06:24] EustaceCheng opened #161 "next-drupal-basic-starter get 400 bad request"
According quick start, I was working decouple Drupal with Nextjs and JSONAPI, and stuck.

    pages/index.tsx (43:16) @ async getStaticProps

    41 |   context
    42 | ): Promise<GetStaticPropsResult<IndexPageProps>> {

       |                ^
    44 |     'node--article',
    45 |     context,
    46 |     {

And I try to find error on next-drupal, I found that 'src/utils.ts::getJsonApiIndex'

[2022-04-18 07:09] shadcn commented on #161
Hmm what are you running your Drupal site on? Valet? ddev?

[2022-04-18 07:20] EustaceCheng commented on #161
Laravel Valet 2.18.4

[2022-04-18 07:28] shadcn commented on #161
Yeah I'm on Laravel Valet and I've definitely seen this. Can you try updating Valet and check? It looks like there was a fix committed recenlty: https://github.com/laravel/valet/pull/1218

[2022-04-18 08:20] EustaceCheng commented on #161
I upgrade valet to 3.1.3, and rebuild drupal, it works. thanks!
Is there has preview before submit add-content form?

[2022-04-18 09:37] shadcn commented on #161
@EustaceCheng You mean when editing content? Right now you can save and preview draft. The native Drupal preview is not supported yet but we are looking into it here #132

[2022-04-18 09:37] shadcn commented on #146
@simon-olsen did this work?

[2022-04-18 12:16] EustaceCheng commented on #161
Thanks for your reply.

[2022-04-18 14:35] theodorosploumis opened #162 "Get getResourceByPath for Drupal Media"
I am trying to display a normal NextJS page to display single **Drupal Media** under path `/media/[mid].tsx`.

I am trying to get the entity using `const entity = await getResourceByPath(`/media/${mid}`);` but I always get a 404 error.

The issue is solved only if I **enable** the option `[x] Allow users to access media items at /media/{id}` under Media Settings on the Drupal CMS (`/admin/config/m

[2022-04-18 22:11] fnick851 opened #166 "How to retrieve DRUPAL_CLIENT_ID and DRUPAL_CLIENT_SECRET"
One can retrieve this from /admin/config/services/next/sites/nextjs_site/env:
NEXT_PUBLIC_DRUPAL_BASE_URL=http://localhost:xxxx
NEXT_IMAGE_DOMAIN=localhost
DRUPAL_SITE_ID=nextjs_site
DRUPAL_FRONT_PAGE=/node
DRUPAL_PREVIEW_SECRET=xxxxxxxxx
DRUPAL_CLIENT_ID=Retrieve this from /admin/config/services/consumer
DRUPAL_CLIENT_SECRET=Retrieve this from /admin/config/services/consumer

As seen above, it re

[2022-04-19 03:51] #161 closed

[2022-04-19 12:23] shadcn commented on #166
@fnick851

1. When you visit `/admin/config/services/consumer`, the `DRUPAL_CLIENT_ID` is the **UUID**
<img width="599" alt="Consumer_entities___Chapter_Three" src="https://user-images.githubusercontent.com/124599/164002552-9aaf6b16-9ccd-40e0-bf1b-77781a4b3e27.png">

2. The `DRUPAL_CLIENT_SECRET` is the secret provided under **New Secret** when creating the client.
<img width="720" alt="Edit_Next_

[2022-04-19 17:47] fnick851 commented on #166
@shadcn
And when creating the client, we should note down the New Secret we put in right? Probably a dumb question, because it seems there's no way to retrieve this.

[2022-04-19 17:50] fnick851 opened #167 "Invalid eslint config file from https://github.com/chapter-three/next-drupal-basic-starter"
Hi, the project created with `npx create-next-app -e https://github.com/chapter-three/next-drupal-basic-starter` contains an eslint config file with a name `eslintrc.json`. But it should be `.eslintrc.json`. So it won't be recognized.

Is this intentional or an error?

[2022-04-19 17:56] bandita0907 opened #168 "TypeError: Failed to fetch"
I followed the https://next-drupal.org/docs/guides/webform . After filling up the form ,i am unable to submit the form , getting the error like this.
![image](https://user-images.githubusercontent.com/102651724/164066077-322c4589-c68c-4213-9b96-20744f27c34d.png)
Could anyone help on this what steps needs to be followed for this.

[2022-04-19 18:35] shadcn commented on #167
@fnick851 Yes this is an error. I'll fix. Thank you :)

[2022-04-19 18:36] shadcn commented on #168
When does this happen? Right after you click submit?

[2022-04-19 18:37] shadcn commented on #166
@fnick851 Yes. Simple OAuth module does not allow this value to be retrieved. You can note it down when you set it. If you forgot you can always set a new secret.

[2022-04-19 18:45] shadcn commented on #167
Fixed. Thank you.

[2022-04-19 18:45] #167 closed

[2022-04-19 18:49] #166 closed

[2022-04-20 05:07] bandita0907 commented on #168
Yes after click on submit

On Wed, Apr 20, 2022, 00:06 shadcn ***@***.***> wrote:

[2022-04-20 13:26] kdejaeger opened #169 "Configured oauth , but no filtered content?"
Hello,

I followed the steps described on https://next-drupal.org/ to install nextjs in drupal and added a username/password oauth login, like in the examples projects.

Now when I do a getResourceCollection call, I get all the content, not the content applicable to the rights of the logged in user. Am I missing something or is this going to be supported in the future?

[2022-04-20 13:28] shadcn commented on #169
@kdejaeger How are you configuring the auth?

[2022-04-20 13:34] kdejaeger commented on #169
We used this: https://github.com/chapter-three/next-drupal/blob/main/examples/example-auth/pages/api/auth/%5B...nextauth%5D.ts

[2022-04-21 13:29] shadcn commented on #169
@kdejaeger I created an example here: https://github.com/shadcn/next-drupal-examples/tree/main/example-crud with some links to pages showing the implementation.

Here's how it works.

1. We're using next-auth for authentication using the Password Grant.
2. The user logs in and we get an access token which we can use for authenticated calls to Drupal.
3. We set the token using: `drupal.auth = () =>

[2022-04-21 16:40] shadcn commented on #162
I see. I think we could document the permissions required for the entity types shipped in core.

[2022-04-21 16:42] shadcn commented on #159
Yeah if you don't have client access you would need API routes or server side. You could stream it via API route. Let me see.

[2022-04-21 16:48] shadcn commented on #159
Something like this could work:

[code]

You can then serve files through that api route: `https://next-site.com/api/files/path/to/file.pdf`

[2022-04-22 16:44] je34429 opened #171 "when using ISR NEXT won't allow to reuse old alias without rebuilding the entire app"
I have an app built in with ISR (getStaticProps + getStaticPaths and revalidate) it uses the [slug] method to render all contents so my pages directory is quite simple:

index.js and [slug].js

everything works fine until I disable a node, say I have a node called foo in /foo and I rename its alias to /foo2, I will be able to see the node at /foo2 after a few seconds depending on the revalidation

[2022-04-22 17:42] MichaelCastelbuono opened #172 "getResourceFromContext throws error on certain URLs"
I got the `Failed to fetch resource: ...` error on a url where I presume the error has to do with a `urlencode` issue. The url in my test was `/library/Faculty&Staff`. The `getResourceFromContext` function threw the error, with the jsonapi endpoint that it supposedly could not reach, which I was able to load manually in my browser. After removing the `&` from the url, so that it read `/library/Fac

[2022-04-22 17:54] shadcn commented on #172
Yes. Agreed. It should still work. I just tested and confirmed this is a bug.

I'll push a fix. A quick `encodeURIComponent` before assembling the route seems to fix it but I'd like to make sure it's a proper fix.

[code]

I'll update here.

Thanks for reporting. Appreciate it.

[2022-04-22 17:58] shadcn commented on #171
Interesting. Do you have on-demand revalidation on for this content type? It looks like when revalidation is called (hook_entity_update), it does not have context of the path alias changed and this is messing the cache on the next.js side.

I'll try to reproduce this and get back to you.

[2022-04-22 18:04] MichaelCastelbuono commented on #172
Thanks for the response and the great work on this project. We're testing out the idea of using this by taking an existing production website with ~1,000 pages. So far that's the only error we've encountered and everything's been really nice to work with. Looking forward to using it on upcoming projects.

[2022-04-22 18:19] shadcn commented on #172
Thanks.

We’re also running a few 1000+ pages sites with it. Ping here if you have any questions.

PS: Try the DrupalClient. This is where we’ll be focusing future work: https://next-drupal.org/docs/client

[2022-04-22 18:38] je34429 commented on #171
Hi, thanks for your quick answer, yeah my fetching flow is as follows:
[code]

[2022-04-25 01:33] shadcn commented on #168
@bandita0907 I've not been able to reproduce this but I found this thread with some helpful answers. Can you give it a try? https://stackoverflow.com/questions/49343024/getting-typeerror-failed-to-fetch-when-the-request-hasnt-actually-failed

[2022-04-25 02:14] shadcn commented on #172
This is now fixed in `1.3.1`: https://github.com/chapter-three/next-drupal/blob/main/CHANGELOG.md#131

Thank you.

[2022-04-25 12:52] MichaelCastelbuono commented on #172
Thanks! I confirmed it works for me after pulling `1.3.1`. I am curious about the fix. How come no action is needed when `slug` is not an array? Is that an edge case for the `/` or empty string url?

[2022-04-25 13:07] MichaelCastelbuono opened #178 "Support for On-Demand Revalidation"
Are you planning to add support for this [next.js feature](https://nextjs.org/docs/basic-features/data-fetching/incremental-static-regeneration#on-demand-revalidation-beta) so that when a page is updated the change can be instantly seen on the static site?

*Update*
Oops sorry I see you have a few issues about it https://github.com/chapter-three/next-drupal/issues/171 and https://github.com/chapte

[2022-04-25 13:48] MichaelCastelbuono opened #179 "Republishing a page continues to show 404"
I'm using ISR (with a 10 second revalidate for testing), and running on a next.js build (next build + next start). I have a test page that shows properly at first. I then unpublished it (which works and shows a 404) but publishing the page again continues to show a 404 until I restart the entire next server. Once I restart the server the page shows properly again. Any thoughts? Is this possibly so

[2022-04-25 14:17] shadcn commented on #178
@MichaelCastelbuono Yes. It's supported but not documented yet because we're still figuring out the best way to handle this. It's also still `unstable_` in Next.js

For now you can implement on-demand revalidation as follows:

1. Enable the `next_extras` module.
2. Visit `/admin/config/services/next/entity-types` and click edit next to an entity type.
3. Under **Experimental** are the settings for

[2022-04-25 14:19] shadcn commented on #179
Let me try to reproduce this.

1. Publish a node. Check if live on next site.
2. Unpublish node. Check if 404 on next site.
3. Republish node. Check if live on next site.

[2022-04-25 14:54] MichaelCastelbuono commented on #178
Awesome, that works. Also, whatever is going on here with revalidation fixes my other issue I posted https://github.com/chapter-three/next-drupal/issues/179.

[2022-04-25 14:59] shadcn commented on #178
Ah so on-demand fixes #179?

[2022-04-25 15:03] MichaelCastelbuono commented on #178
Correct, on-demand fixed that issue for me.

[2022-04-26 06:54] shadcn commented on #178
I've updated the docs and added on-demand revalidation: https://next-drupal.org/docs/guides/on-demand-revalidation

[2022-04-26 08:43] bandita0907 commented on #168
Hi Shadcn, this problem only occurs in client side on submit , and on server it works fine.. Could you let me know why it is appearing and how it can be solved?

[2022-04-26 09:23] shadcn commented on #168
@bandita0907 Can you share the client side code? I'll try to reproduce the issue.

[2022-04-26 10:50] TheRuslan opened #180 "(experimental DrupalClient) "Error: Not Found" from drupal.translatePathFromContext()"
Switching to the new experimental DrupalClient and I faced such behaviour on 404 page (e.g. https://.../some-not-existing-page)

_[...slug].tsx_
[code]

This throws "Error: Not Found" and IF statement don't work so it leads us to 500 Internal Server Error instead of returning next.js 404 page.

<img width="756" alt="Screenshot 2022-04-26 at 15 37 22" src="https://user-images.githubusercontent.com/

[2022-04-26 16:26] shadcn commented on #180
I wonder if we should make this configurable. As in if you have debug on, we throw errors otherwise it fails safely with 404 (which is what you expect).

[2022-04-27 23:59] aprice42 commented on #161
@shadcn I also ran into this issue and updating laravel to 3.1.3 fixed it for me too.

As I was experiencing this error I was wishing for a common "gotchas" section in the tutorial. And IMO this issue would be a nice addition (or maybe there are not so many valet users out there?). In any case, it would have saved me a few hours of digging around. 😉

[2022-04-28 09:12] kdejaeger commented on #169
Thanks, we are using this client now.

[2022-04-28 10:26] kdejaeger opened #185 "Mistake in auth example"
https://github.com/chapter-three/next-drupal/blob/main/examples/example-auth/pages/api/auth/%5B...nextauth%5D.ts

Hello, I think in this example -> refreshAccessToken method

[code]
needs to be replaced with
[code]

We started a new project. Followed the next.js tutorial and ended up with a 'default consumer'.
Then added Oauth and added a second consumer by following guides.

And now we just delet

[2022-04-28 12:20] shadcn commented on #185
You're right. Nice catch. Thank you.

[2022-04-28 12:27] shadcn commented on #178
@je34429 Can you confirm if revalidation worked for you as well?

[2022-04-28 12:28] shadcn commented on #185
I pushed a fix and also updated the docs. https://next-drupal.org/docs/authentication/refresh-token

Thank you

[2022-04-28 12:28] #185 closed

[2022-04-28 12:34] je34429 commented on #178
Hi, no I couldn't use it because moving from next 11 to 12 wasn't viable for the project. but I found out that in my case when I didn't find a node I was returning an object {notFound: true} without revalidation:10 so when next didn't find the HTML of a certain route it would generate a static only once. eventually, it would get outdated and won't revalidate again, not sure why or how that works,

[2022-04-28 13:11] shadcn commented on #185
@kdejaeger This is the hook I'm using as well. See https://next-drupal.org/docs/authentication/authorization-code-grant#additional-information

[2022-04-28 13:46] kdejaeger commented on #185
I think we're using it differently. We login and logout on our own frontend / sending the requests to drupal. So we removed the second provider with `async profile(profile)`.

I guess in that case we need to add a call to /oauth/userinfo in the session callback.

[2022-05-04 09:53] theodorosploumis opened #190 "Fetch data for config_pages."
I am using module https://www.drupal.org/project/config_pages and I am looking to get data from the config_pages instances. I found a similar example at https://github.com/chapter-three/next-drupal/issues/118.

I want to fetch data inside a Component and not in a Page.

I tried to use `getResourceCollection` inside a `useEffect` hook but I get a `Could not fetch` error.

Thanks.

[2022-05-04 11:35] shadcn commented on #190
I'd probably implement an API route and a hook to fetch data inside components. Something like this:

## 1. pages/api/config/[name].ts

This API route fetches data from Drupal. This is run on the server. It is safe to use keys and make authenticated requests.

[code]

## 2. hooks/use-config.ts

Then we can implement a custom hook for fetching data inside components.

We're using [swr](https://swr.

[2022-05-04 12:17] theodorosploumis commented on #190
Many thanks! It works fine!

And can, also, be reused for any entity that we need to get data inside Components.

The Page from `/api/config/[name].ts` is available to anonymous users? How could we disallow access for non authorized users to this page?

[2022-05-04 16:08] shadcn commented on #190
Do you mean unauthenticated users? Or do you want to block access from outside your domain?

[2022-05-04 16:09] theodorosploumis commented on #190
Block unauthenticated users.

[2022-05-04 17:56] shadcn commented on #190
Hmm I don't think there's a way to block this API route from public access unless you're authenticating your users (on the front-end), say with something like next-auth.

Right now, with no authentication, you're calling the api route in your React component which means this has to be a public call. We can't really use a private key here either since this would be exposed in the browser.

I think

[2022-05-04 18:01] theodorosploumis commented on #190
Initially I was using a middleware but I could create a build since it is an experimental feature. I then removed it at all.

The site is public available only.

[2022-05-04 18:17] shadcn commented on #190
I see. You could try with CORS. See https://github.com/vercel/next.js/blob/canary/examples/api-routes-cors/pages/api/cors.js

[2022-05-05 09:05] shadcn commented on #59
The `DrupalClient` now handles this and we explicitly removed all dependencies on environment variables in the client.

Marking this as done. Feel free to re-open if you have any question. Happy to discuss this further. Thank you.

[2022-05-05 09:05] #59 closed

[2022-05-05 09:10] shadcn commented on #178
@je34429 Let me know what you find from the tests.

[2022-05-05 09:10] #160 closed

[2022-05-05 09:11] shadcn commented on #169
@kdejaeger How's the client working out? Did you get bearer tokens to work?

[2022-05-05 09:13] shadcn commented on #172
@MichaelCastelbuono next-drupal will always handle slugs as arrays. If you're passing slug directly, we assume you have the slug properly encoded.

[2022-05-05 09:13] #172 closed

[2022-05-05 09:14] shadcn commented on #168
@bandita0907 did you figure this out?

[2022-05-05 09:25] kdejaeger commented on #169
No sorry my backend colleagues don't consume the tokens yet on drupal. But as far as I can see from the source code, the new client picks up the token from the session.

[2022-05-05 11:47] shadcn commented on #169
@kdejaeger ok. I'll keep this open. We can revisit when confirmed the tokens are properly sent.

[2022-05-05 13:17] je34429 commented on #178
hi @shadcn we had 2 problems:

1. we updated the next module and forgot to apply the patch again which caused a 404 page for almost every content
   solution: install the patches (subrequest and decoupled router)
2. we forgot to revalidate those paths that CMS editors had used before therefore those paths after being disabled would get a permanent 404 page associated through the router and won't u

[2022-05-06 12:48] mikegikas opened #201 "Caching getMenu not working"
Hello,

I am trying to get the menu, but the request didn't return the full menu.

https://next-drupal.org/docs/client/cache

If the Link at the menu is /node/{id} the method didn't return the items but only the items with absolute path.

Full Menu:
![full_menu](https://user-images.githubusercontent.com/14880242/167132928-e7852797-b804-4475-a944-e7f3e51bee4c.jpg)

Response Request has only two ite

[2022-05-06 16:56] shadcn commented on #201
I see. Are the menu items publicly available in Drupal? As in can anonymous users view and access those menu items?

[2022-05-09 12:42] mikegikas commented on #201
I added the Authentication clientId and clientSecret.

In the console, I can see that the getMenu() returns the fullMenu, but I got the following error.

Error:
![error](https://user-images.githubusercontent.com/14880242/167411750-634cf3c2-e8d7-446b-a4de-63decf074417.jpg)

getMenu response:
![full_menu](https://user-images.githubusercontent.com/14880242/167411052-5f7d6c6c-a626-4790-a0c2-20b9f335ee

[2022-05-09 12:53] shadcn commented on #201
So once you’ve configured `auth` with a `client_id` and `client_secret`, you can make authenticated requests to Drupal using the `withAuth` option:

[code]

This will make an authentication request to Drupal to fetch the menu items.

[2022-05-10 06:29] shadcn commented on #201
hmm that's weird. Are `DRUPAL_CLIENT_ID` and `DRUPAL_CLIENT_SECRET` defined in your `.env.local` file?

[2022-05-10 08:44] mikegikas commented on #201
I have the right one because it works with the old getMenu on the same application.

The strange thing is that the new getMenu() returns the menu, but then it throws the error.

[2022-05-11 12:35] eiriksm commented on #156
Hola!

Did you manage to get around this somehow? Interested in the same question :)

[2022-05-11 12:37] shadcn commented on #156
@eiriksm We added support for basic auth to the `DrupalClient`. See https://next-drupal.org/docs/client/auth

[2022-05-12 14:33] mikegikas commented on #201
I had a lifecycle problem with one component. It works as designed.
@shadcn Thank you very much for your help.

[2022-05-12 14:33] #201 closed

[2022-05-12 22:30] kevlarswift opened #204 "Search: return Search Result highlighting input view mode"
Hi, I have just enabled the Search on my site. I'm wondering if, in addition to returning the node, it is possible to return the 'Search Result highlighting input' view mode. This way, you could see the word you have input in bold and in context of the page content.

Thanks for this great project.

[2022-05-13 00:46] shadcn commented on #204
@kevlarswift My friend @robdecker just published a guide on how to do this :)

https://www.chapterthree.com/blog/search-api-excerpts-nextjs

[2022-05-13 13:34] theodorosploumis commented on #40
Just for the documentation, this error is due to the fact that a **Drupal field** which is used on `include` on the JSON:API call does not exist at all on the **Drupal Content type**.

[2022-05-20 12:22] stoker88 opened #206 "Allow passing contextual filters to a view"
Looking for the possibility to pass a contextual filter to a view , for instance:

//Current
 const related = await drupal.getView('related_blog_articles--whats_new');

//Proposed
 const related = await drupal.getView('related_blog_articles--whats_new', {filter: '1234'});

[2022-05-20 14:27] shadcn commented on #206
You can use params to filter.

[code]

or if you have filters configured for the view you can use

[code]

See https://next-drupal.org/docs/reference#getview

[2022-05-20 14:27] shadcn commented on #204
@kevlarswift was the guide helpful? Did you figure it out?

[2022-05-20 15:17] kevlarswift commented on #204
I missed this comment. That's great though! Let me take a look.

[2022-05-20 15:30] stoker88 commented on #206
@shadcn thanks set me down the right path there, helps when you read the jsonapi_views module README.

For reference contextual filters are in the format '?views-argument[]={{ value }': in my case to filter by current nid:

const filters = {
        params: {
            'views-argument[]': resource.drupal_internal__nid,
        },
    };

const related = await drupal.getView('related_blog_article

[2022-05-20 15:30] #206 closed

[2022-05-23 15:34] karthi-keya opened #208 "Content access: Unable to fetch content created under group content type"
Hi, Thanks for the great module.

I have created a few views to display the latest content feed on the homepage of Next. This is working perfectly with the Drupal backend for content types without any access restrictions.

But when I am trying to integrate the group module - https://www.drupal.org/project/group to restrict the content access, it is not showing any results on the Next frontend.

I

[2022-05-24 08:01] #190 closed

[2022-05-24 08:04] shadcn commented on #208
@karthi-keya How are you handling auth on the Next.js side?

[2022-05-24 11:08] karthi-keya commented on #208
@shadcn. I am using [password grant](https://next-drupal.org/docs/authentication/password-grant) -  for authentication along with the following permissions:

- Bypass content access control
- Issue subrequests
- View user information
- Bypass group access control

[2022-05-24 17:48] fnick851 opened #209 "Will DrupalClient be the default and only option?"
I'm curious about why this option exists (https://next-drupal.org/docs/client), and if the plan is to make this the only option in future?

Thanks.

[2022-05-24 17:54] shadcn commented on #209
@fnick851 Yes. The plan is to move to the `DrupalClient` in the future.

ICYMI, here's the blog post https://next-drupal.org/blog/next-drupal-1-3

[2022-05-24 18:22] #209 closed, assigned to nobody

[2022-05-24 18:42] fnick851 commented on #74
@shadcn I think the solution for this issue should be at least mentioned in the guide, especially for new comers.

Every time I start a `next-drupal` project and follow the guide, I encounter this exact issue on step https://next-drupal.org/learn/quick-start/create-nexts-project. I have a note for this issue so I'll just open this issue and follow the steps to generate a `UNSTABLE_DRUPAL_ACCESS_TO

[2022-05-27 09:25] shadcn commented on #208
@karthi-keya Following up here. Did you figure it out?

[2022-05-27 10:31] theodorosploumis opened #212 "Converting circular structure to JSON (Drupal entity reference field)"
Hi, has anyone solved the issue "**Converting circular structure to JSON**" where JSON:API loops over an entity reference in Drupal. I get this when a Node references other Nodes which they reference back to the Node on a JSONAPI get call.

I can see that the `next-drupal` functions are using the native [JSON.stringify()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Obj

[2022-05-27 10:39] shadcn commented on #212
@theodorosploumis We have hit this once I think and from what I can see we've used `safe-json-stringify`.

[code]

[2022-05-27 10:46] TheRuslan commented on #212
I also used [safe-json-stringify](https://github.com/debitoor/safe-json-stringify) in my code when I ran into such errors with circular structure. A similar solution was given in the shadcn's example.

But it only was happening when I returned whole node(s) in props. I found the most convenient way is to massage data and return only necessary so the chance to run into this error is minimal.

[2022-05-27 10:48] shadcn commented on #212
+1 to what @TheRuslan said above. We rarely fetch the entire resource. Always use sparse fieldsets.

[2022-05-27 10:51] theodorosploumis commented on #212
I need to get the data on a NextJS API page by using the next-drupal functions like `getView` which by default fetches the whole Node (or not?).

An example for such an API page:

[code]

[2022-05-27 10:54] shadcn commented on #212
`getView` accepts all the JSON:API params. You can use `fields`.

[code]

[2022-05-27 11:00] theodorosploumis commented on #212
I tried that but I get Nodes for **multiple Node bundles** from views 😃.
Which probably does not work even if I use:

[code]

[2022-05-27 11:01] theodorosploumis commented on #212
My fault, it works! I can use multiple `fields`.

[2022-05-27 11:05] #212 closed

[2022-05-31 14:48] kdejaeger opened #214 "DrupalClient post/patch/delete"
Hi, we'll also post/patch/delete to the endpoints. It that still something that will be facilitated through the DrupalClient?

[2022-06-01 10:23] laurencefass opened #215 "Posslble documentation issue. Im using Basic Auth with drupal-client version but seeing a {"message":"Invalid preview secret."} on node page."
Prerequisites: Ive followed all of the instructions and my Next JS site works fine and I can see new nodes on page refresh on my next site.

I've followed setup instructions in [Basic Auth](https://next-drupal.org/learn/preview-mode/basic) with drupal-client version but seeing a {"message":"Invalid preview secret."} on node page. I think its because [the documentation](https://next-drupal.org/lear

[2022-06-01 10:26] shadcn commented on #215
You're right. The documentation should mention to update the `DrupalClient`.

[code]

I'll update it.

Thank you.

[2022-06-01 10:33] laurencefass commented on #215
I have modified pages/api/preview.ts

from

[code]

to
[code]

please can you confirm that this is correct?

also note that I aliased the drupal import to overcome naming conflict

[2022-06-01 10:54] laurencefass commented on #215
I have updated lib/drupal.ts as below so as not to remove previous configuration. Is this correct?

[code]

[2022-06-01 10:58] #214 closed

[2022-06-01 11:08] laurencefass commented on #215
I assume this needs to go into /lib/drupal.ts which looks like this (for basic auth)

[code]

This results in an error on the node preview iframe:

[code]

where preview.ts is unchanged from the default installed code:

[code]

[2022-06-01 11:37] laurencefass opened #216 "Node Preview iframe outputs "Server Error: The path attribute is missing for entity with slug /blog/node-title""
I raised issue with missing documentation and modified code accordingly.

[code]

For a node with a title of "node-title" this results in an error on the node preview iframe:

[code]

where preview.ts is unchanged from the default installed code:

[code]

![image](https://user-images.githubusercontent.com/3512857/171391482-3b0ac65c-2c07-4028-999a-9a222f9c7bde.png)

[2022-06-01 11:42] laurencefass commented on #216
Looking at the network call I see:

Request URL: https://nextdrupal.syntapse.co.uk/api/preview?secret=nextdrupal1234&slug=/blog/drupal-and-next-js-working&locale=en&defaultLocale=en&resourceVersion=rel%3Alatest-version
Request Method: GET
Status Code: 500
Remote Address: 51.38.64.221:443
Referrer Policy: strict-origin-when-cross-origin

Obsevration: The secret isnt hashed so visible to public.

[2022-06-01 11:53] laurencefass opened #217 "Feature request: provide tabbed or dual view for site preview configured content types."
Ive just started working with this module so apologies if I have missed some configuration details on how to do this.

By following the  [introductory configuration for content types](https://next-drupal.org/learn/preview-mode/configure-content-types) lose the Drupal core output of a node only presented with the Next JS preview.

Is the only way to restore the Drupal core view to remove the config

[2022-06-01 12:03] #215 closed

[2022-06-01 13:06] laurencefass opened #218 "Cant access a node's action tabs (view, edit, delete, revisions, translate) from a node type with preview mode enabled."
The example video [here](https://next-drupal.org/guides/route-syncing) shows that a node's action tabs are visible when viewing a node in preview mode. .e.g  "view, edit, delete, revisions, translate" tabs are visible.

My installation appears not to display them (I have raised a separate issue to notify of the error). Note the absence of the node action tabs.

![image](https://user-images.githubu

[2022-06-01 13:14] laurencefass commented on #216
The raw JSON:API request contains a path attribute/alias:

https://cmsnext.syntapse.co.uk/jsonapi/node/article/bc799b09-586a-4994-820a-47ac808096c8

returns

[code]

[2022-06-01 16:11] shadcn commented on #218
I see. Bartik does not render the tabs by default.

Can you try setting the default theme to Seven?

By default, the preview takes over the main content area (we might make this configurable later).

[2022-06-01 16:13] laurencefass commented on #218
I moved the tabs blocks in Drupal core blocks layouts to anoter region. This works for my testing needs now.

[2022-06-01 16:13] #218 closed, assigned to nobody

[2022-06-01 16:21] laurencefass commented on #217
yes, exactly that. presently the views are mutually exclusive and i have to delete configuration to restore the drupal core display. would it be possible to have them both?

[2022-06-01 18:20] laurencefass commented on #216
alpine linux. im serving both drupal and nextjs from a docker container.

bash-5.1# cat /etc/os-release
NAME="Alpine Linux"
ID=alpine
VERSION_ID=3.15.0
PRETTY_NAME="Alpine Linux v3.15"
HOME_URL="https://alpinelinux.org/"
BUG_REPORT_URL="https://bugs.alpinelinux.org/"

[2022-06-01 18:30] laurencefass commented on #216
Also running php 8

[code]

[2022-06-01 18:33] laurencefass commented on #217
no its not a blocker thanks for asking.

at this stage i am just testing capaibilities seeing how everything works and fits together.

[2022-06-01 19:04] TheRuslan commented on #217
This option could be useful.

[2022-06-03 09:14] laurencefass opened #220 "Can't apply required patches on Drupal 9/ PHP 8/Alpine installation."
Problem:

Node preview displays an error. It was suggested [here](https://github.com/chapter-three/next-drupal/issues/216) that this may be due to the required patches not being installed, but I cannot install them to a Drupal9 PHP8 environment, and the patches are not verified as tested on PHP 8.

Node preview results in:

[code]

I am unable to install the [required patches](https://next-drupal.

[2022-06-03 09:37] laurencefass commented on #220
update:

After installing dev versions of both modules, the drupal/subrequests patch installed and I can now see the preview version, but this is depedent upon using the dev version of the module, and is therefore not stable.

The decoupled_router patch still doesnt apply even using the dev version

[code]

[2022-06-03 09:38] laurencefass commented on #216
Moving this to https://github.com/chapter-three/next-drupal/issues/220

[2022-06-03 09:38] #216 closed

[2022-06-03 09:48] laurencefass commented on #220
I've raised a drupal issue to make module maintainers aware of potential incompatibility.

https://www.drupal.org/project/decoupled_router/issues/3283966

[2022-06-03 12:50] laurencefass opened #221 "Support question: live updates on save?"
Is the preview meant to update on edit/save? I cant find any immediate videos or docs suggesting it would, but it would be a great feature.

Is github the best place to support questions?

Thanks

[2022-06-03 13:19] laurencefass opened #222 "Feature request: Logging in/out and editing in the client?"
Is there a template for logging in/out and basic content editing in the client? Is there an API to support this?

Im not referring to the webform API, but to actual content editing to replace the core editor?

Are these features roadmapped for your core nextjs-drupal module, or will you leave this level of functionality  to be implemented by individual clients?

[2022-06-03 14:35] shadcn commented on #220
@laurencefass Thanks for reporting back. I'll look into it and see if the patch is obsolete and if we need a new one.

[2022-06-03 14:38] shadcn commented on #221
The iframe preview (the one running inside Drupal) always shows the latest content. Every time you preview content it pulls fresh content from Drupal.

However if you want to update your production Next.js site on content update, you'll need to implement [on-demand revalidation](https://nextjs.org/docs/basic-features/data-fetching/incremental-static-regeneration#on-demand-revalidation-beta).

You

[2022-06-03 14:43] shadcn commented on #222
For authentication, we recommend next-auth. See our implementation here:

1. Implementation: https://github.com/chapter-three/next-drupal/blob/main/examples/example-umami/pages/api/auth/%5B...nextauth%5D.ts
2. Custom Login form: https://github.com/chapter-three/next-drupal/blob/main/examples/example-umami/components/form--login.tsx

[2022-06-06 13:06] laurencefass commented on #222
thanks for the links.

[2022-06-06 13:06] #222 closed

[2022-06-08 10:49] theRuslan opened #226 "Localized search results"
I found a non-obvious behavior with always returning default translation (original) node if no locale defined in fetch body.
Maybe we should supplement [documentation for getSearchIndex](https://next-drupal.org/guides/search-api) for i18n case?

[code]

[2022-06-08 13:36] Kroonax opened #227 "Preview mode is undefined when called inside of an iframe"
Hello !

For context, I am updating an existing website on Next to use next-drupal, and I want to add the preview mode to it.
When navigating to the preview URL manually, the `preview` variable in context is correctly defined to `true`, but when provided by the Drupal module iframe, the value is always `undefined`.

I also have problems with the cookies (I made a GDPR compliant cookies manager), s

[2022-06-08 14:22] shadcn commented on #227
@Kroonax is this happening on localhost or in prod?

[2022-06-08 14:24] Kroonax commented on #227
It's been happening in localhost with a Drupal on ddev, not tested in a production environment.

[2022-06-08 14:38] shadcn commented on #227
OK. Yeah this is a know issue running Next.js in an iframe. If your Drupal site is say at http://drupal.test and the Next.js site is running at http://localhost:3000, Next.js cannot properly set the required cookie for preview mode.

This does not happen in prod.

We have a work-around for this during development. See https://next-drupal.org/docs/client/configuration#forceiframesamesitecookie

Can

[2022-06-08 14:47] Kroonax commented on #227
I had to change my config and manually set everything in the `DrupalClient`, it seems that documentation on the subject is a little inconsistent from one point to another.

Once I set everything up I get `Error: The path attribute is missing for entity with slug /my/slug`.

[2022-06-08 14:52] shadcn commented on #227
You're seeing this error after setting `forceIframeSameSiteCookie: true`?

[2022-06-08 14:57] Kroonax commented on #227
Yes, before that it loaded correctly but was not able to retrieve the preview mode, now it just errors out.

[2022-06-08 15:34] shadcn commented on #227
Did you figure it out?

[2022-06-08 15:52] shadcn commented on #227
Hmm how is your `getStaticPaths` set up?

[2022-06-08 16:26] Kroonax commented on #227
I've mixed up everything and every pages, I'm back on tracks (was working on a page without a slug or generated paths, it's a lonely node in its own content type).

Let's say we have this scenario :

The route is `/article/myslug`.

The context is :
[code]

[code]

`null` is returned by `getResourceFromContext`.

If I debug inside of `next-drupal`, I see that the path returned by `getPathFromConte

[2022-06-09 07:29] Kroonax commented on #227
I just tried changing it to `/article` but it does not change anything.

The node has a path alias and it matches, this is becoming weirder and weirder.

[2022-06-09 12:26] kretzschr opened #228 "getResourceFromContext returns null result during build"
I'm currently facing an issue while running & building my project. My Drupal backend is running as a container in an Azure Web App. Pages are generated within `getStaticProps`.

`const apiResource: JsonApiResource = await getResourceFromContext(type, context);`

Type and context parameters are set correctly, but the result is always null. Below you'll find an example output of some console.log sta

[2022-06-09 13:15] shadcn commented on #228
It it's working on local, we can assume you got the Next.js code correctly. It's most likely the Drupal backend on the Azure server here.

Can you access the `/jsonapi` path on the server? Is it public?

[2022-06-09 13:34] kretzschr commented on #228
Yes, requesting /jsonapi via cURL, Postmon etc. is working fine. I'm  also wondering why requests made from my `index.tsx` are working:

[code]

Both requests are also returning results, when called within getStaticProps of `[...slug].tsx`.

I also tested calling getRessourceCollectionFromContext from `[...slug].tsx` and I also received results.

`const categories: JsonApiResource[] = await getRes

[2022-06-09 15:22] kretzschr commented on #228
After a debugging session I found, that the returned resource objects from index.js (drupal-next) differ:

**Local**
[code]

So, locally I got a valid JSONAPI node object. From my remote backend I receive the following:

[code]

I assume, that something is wrong with my remote Drupal configuration.

[2022-06-09 17:23] fnick851 commented on #74
@shadcn  I believe some users (like me) are experimenting this issue is because on this page: https://next-drupal.org/learn/quick-start/create-consumer, under "Generate keys" section, there should be a step 5: Click __Save__.

Many users probably only clicked Generate and not Save which causes this issue later on.

[2022-06-09 17:27] shadcn commented on #74
@fnick851 Ah nice catch. I'll update the docs. Thank you.

[2022-06-09 22:32] fnick851 opened #229 "Global site search"
I have a question. If I want to implement a global search with Drupal Search API that can search through the entire site, which includes something like a home page, a contact page, etc., does this mean I need to put all these pages in Drupal as content types?

So say I have several of these pages (home, about us, contact, additional info, etc.), should I create one content type for each page? What

[2022-06-10 05:59] kretzschr commented on #228
Checked a few more things and it turned it out, that subrequests module causes this issue. Probably it is related to this bug here: https://www.drupal.org/project/subrequests/issues/3049395

I disabled caching in Drupal and finally receive a node / taxonomy-term.

Nevertheless, I still run into empty resource values:

[code]

I'm running a non I18N-site, which results in an empty `context.locale`.

[2022-06-10 07:52] Kroonax commented on #227
Ok, it seems that it is caused by the lines 65-67 of `get-resource.ts`.

[code]

It was so obvious I didn't see it, the website is not localized, therefore it always returns `null`, what's the short term solution ? Giving `getResourceFromContext` and `getPathsFromContext` a fake context with hardcoded langcode ?

[2022-06-10 08:24] shadcn commented on #227
Ah this was added because of a bug how localized route was being handled but it assumes a `default_langcode` is returned from the server.

Are you disabling some fields on the Drupal server? Say with JSON:API extras?

We fixed this in the `DrupalClient` version.

If it's not a lot of work, maybe try upgrading to the DrupalClient version? https://next-drupal.org/docs/client/upgrade

[2022-06-10 08:25] shadcn commented on #226
Yeah unfortunately API routes have no context of locale. You need to pass it from the router.

Let me tag this under documentation. I'll update it.

Thank you.

[2022-06-10 08:28] shadcn commented on #228
@kretzschr It looks like you're hitting the same issue @Kroonax as mentioned here: https://github.com/chapter-three/next-drupal/issues/227#issuecomment-1152079200.

Is it possible to upgrade to the DrupalClient?

(I'll also be patching this in the 1.4 release)

[2022-06-10 08:32] TheRuslan commented on #229
@fnick851 If you want to search through content with Drupal Search API so yes, that content should be in the Drupal's database.

You can have few separate content types or one universal content type.
For example you could create few paragraph types for different types of data and one "basic page" content type with paragraphs field. So your search api would search through that field in one content

[2022-06-10 08:34] shadcn commented on #229
It would be same as you would implement in a non-decoupled Drupal: **the content has to be in entity types that Search API can index**.

You then ping the Search API from your Next.js site and ask for the search results.

You can configure an index that searches across mutiple entity types:

![search-index](https://user-images.githubusercontent.com/124599/173025596-da9ae07e-5a91-42b8-9741-67724dd8

[2022-06-10 08:37] kretzschr commented on #228
@shadcn Of course I will give it a try.

[2022-06-10 08:55] shadcn commented on #227
@Kroonax  Since this bug came up a few times, I backported the fix and created a new release.

Can you upgrade to `next-drupal 1.4-rc1` and test please?

Note: I'd still recommend the `DrupalClient` going forward.

Thank you.

[2022-06-10 08:55] shadcn commented on #228
@kretzschr Since this bug came up a few times, I backported the fix and created a new release.

Can you upgrade to `next-drupal 1.4-rc1` and test please?

Note: I'd still recommend the `DrupalClient` going forward.

Thank you.

[2022-06-10 09:13] kretzschr commented on #228
@shadcn Ran a few tests and everything is working as expected. :)
I will now check out `DrupalClient`.

Thanks for providing the quickfix.

[2022-06-10 09:15] Kroonax commented on #227
Upgrading to the rc1 fixed the issue ! Thanks a lot !

[2022-06-10 09:15] #227 closed

[2022-06-10 09:16] #228 closed

[2022-06-10 09:16] kretzschr commented on #228
Thanks for providing the quickfix.

[2022-06-14 16:27] shadcn commented on #214
@kdejaeger It's here: https://next-drupal.org/blog/next-drupal-1-4

[2022-06-14 16:58] fnick851 commented on #229
@TheRuslan I haven't build it out yet. But I think I have some ideas thanks for your inputs. I'll close it for now.

[2022-06-14 16:58] #229 closed

[2022-06-14 18:12] fnick851 opened #233 "Swagger like solution for documenting APIs?"
I know with next-drupal front end developers do not work directly with the RESTful API endpoints.

But is there a solution similar to Swagger that documents all the possible APIs that the front end can call? I think this helps if the front end developer does not work on the Drupal backend. He/she might has little knowledge and need to look up a documentation for APIs.

Thanks.

[2022-06-14 19:09] theRuslan opened #234 "Propose: usage catalog"
What if we create a directory of websites powered by Next-Drupal?

[2022-06-15 08:07] shadcn commented on #233
Drupal has [OpenAPI](https://www.drupal.org/project/openapi) which works with [Swagger](https://www.drupal.org/project/openapi_ui_swagger).

Can you give this a try?

[2022-06-15 12:28] lauriii opened #235 "Cache tags based revalidation"
The current revalidation logic in _next_extras_ has some potential scalability issues since it's using paths for revalidating pages. It's complex to use this approach with lists and entity references since currently those would have to be added manually to the revalidation logic. If we implemented that while using the path based approach, with larger sites, this could lead into hundreds or thousan

[2022-06-15 13:41] shadcn commented on #235
Adding links to some ongoing discussions:

https://github.com/vercel/next.js/discussions/34585
https://github.com/vercel/next.js/discussions/34567

[2022-06-17 05:21] shadcn commented on #234
This is a great idea. I'll ping the community and we can build a showcase.

[2022-06-20 06:21] shadcn commented on #226
I've updated the docs.

https://next-drupal.org/guides/search-api#localized-search-results

Thanks @theRuslan

[2022-06-20 06:21] #226 closed

[2022-06-20 06:28] LarssonHenrik opened #236 "Not able to access paragraphs data"
Hi, first and foremost, thanks for a great integration with Drupal!

We're trying this out and we're running into issues when trying to populate [paragraphs](https://www.drupal.org/project/paragraphs) data to our basic pages.

In `[...slug].tsx` we're including `field_content` which holds all our paragraphs:

[code]

When we console.log our `response` (the entire node data) we can see that there i

[2022-06-20 06:36] shadcn commented on #236
Hi.

What's under attributes here?

![174537634-46b3c92a-4216-4f44-8d4f-530e9018db87](https://user-images.githubusercontent.com/124599/174539790-9a63e1d4-4173-4c2b-9de2-28a1e6e8d9cd.png)

What are the fields under the hero paragraph?

[2022-06-20 06:45] LarssonHenrik commented on #236
Hi, thanks for the quick answer :)

Below `attributes` we have:

![CleanShot 2022-06-20 at 08 42 49@2x](https://user-images.githubusercontent.com/37071548/174540878-2bbe86e1-a7a7-4b12-b1cf-47abf1a84292.png).

So far we've only added fields for a title, preamble and an image.

[2022-06-20 06:58] shadcn commented on #236
Hmm yeah you should've the `field_preamble` and `field_title` in the hero paragraph. Let's see...

The fields are visible when you visit `http://localhost/jsonapi/node/page?include=field_content` un-authenticated?

[2022-06-20 07:14] LarssonHenrik commented on #236
They are visible below `included` but not below `data.attributes`:

<img width="2304" alt="CleanShot 2022-06-20 at 09 03 23@2x" src="https://user-images.githubusercontent.com/37071548/174544420-d6107370-330b-4c35-bc76-1d7d39bd3696.png">

I know we have bumped into something similar before while trying decoupled where we had to access the `included` part to get all the data from our paragraphs, whe

[2022-06-20 07:17] shadcn commented on #236
You can chain the nested includes like this:

[code]

[2022-06-20 07:35] LarssonHenrik commented on #236
Yep we've tried that but then the following error occurs:

`Error: 400 Bad Request
'field_content.field_title' is not a valid include path. 'field_title' is not a valid relationship field name. Possible values: paragraph_type, field_image.`

[2022-06-20 07:36] shadcn commented on #236
Yeah that's because `field_title` is not an entity reference field. Is `field_image` coming through?

[2022-06-20 07:38] LarssonHenrik commented on #236
Aa got it!

No unfortunately not, still get the same result as before with:

[code]

<img width="2304" alt="CleanShot 2022-06-20 at 09 37 28@2x" src="https://user-images.githubusercontent.com/37071548/174549548-89e4d358-6b12-442d-9329-1f29e731faeb.png">

[2022-06-20 07:47] shadcn commented on #236
@LarssonHenrik can you share the whole code please? Including the part where the fetch call is made with the params. Thank you.

I've also tried to reproduce this. I have a drupal site set up here: https://dev-next-drupal.pantheonsite.io/jsonapi/node/landing_page/1f46f892-aaaa-45cd-b8d4-dee422e65530

This is a **`node--landing_page` with a paragraphs field named `field_sections`**.

This is how I'

[2022-06-20 12:32] lodewijkloos opened #238 "Disallow anonymous users to see the iframe preview, but keep access to JSONAPI"
Not sure if this is configuration I missed…… when I turn on the (default) Iframe previewer in the Next Drupal module, all “node view” pages (for the enabled entity types) get the iframe showing the Next.js preview instead of the classic Drupal HTML render.
However this is also the case for anonymous users. And they can also see the preview secret in the HTML.
I’d like to disallow anonymous users t

[2022-06-20 12:55] LarssonHenrik commented on #236
I also tested to copy you `index.tsx` code but ended up with the same result, no paragraph fields data available, maybe it has got to do with authentication or something?

[2022-06-20 14:08] shadcn commented on #238
I see. Yeah most of our implementations redirect anonymous users to the login page as well.

However, I can see how a permission like "view the iframe preview" can be useful.

Let's see how best we can implement this.

[2022-06-20 15:06] shadcn commented on #236
@LarssonHenrik The code looks good.

If the fields are visible when you visit http://localhost/jsonapi/node/page?include=field_content un-authenticated, then `next-drupal` should be able to access it.

Is the site available online where I can try debug this?

You can also DM me directly on Drupal Slack.

[2022-06-20 22:37] fiasco commented on #132
In Acquia CMS we want two modes of headless operation:
- pure headless where Drupal's node view capabilities are disabled
- hybrid mode where Drupal can continue to render content.

When next.js site preview is enabled, it doesn't work in pure headless mode because Drupal is no longer using the HtmlRenderer to render the Drupal view. It also doesn't work in hybrid mode because it overtakes the ren

[2022-06-21 05:59] LarssonHenrik commented on #236
Hi again @shadcn!

I continued to investigate this yesterday and it seems like I hadn't configured the module `Paragraphs Type Permissions` properly.

After I configured that anonymous users would be able to view my Hero paragraph, the data is now showing up in my response.

<img width="1325" alt="CleanShot 2022-06-21 at 07 57 42@2x" src="https://user-images.githubusercontent.com/37071548/17472671

[2022-06-21 05:59] #236 closed

[2022-06-21 07:53] shadcn commented on #132
@fiasco I see. This has been discussed here: #217

Let's hash this out on the other issue?

(This issue here is for adding support for https://www.drupal.org/project/jsonapi_node_preview)

Thanks

[2022-06-21 07:56] shadcn commented on #171
@je34429 I'm marking this as completed following the comment here: https://github.com/chapter-three/next-drupal/issues/178#issuecomment-1118537941. Feel free to reopen if not. Thank you.

[2022-06-21 07:56] #171 closed

[2022-06-21 07:59] shadcn commented on #91
This has been fixed in the latest release. https://next-drupal.org/docs/reference/getresourcebypath

You can now use authentication using the `withAuth` option.

[2022-06-21 07:59] #91 closed

[2022-06-22 12:34] ansdb opened #240 "getResource() in a nested for loop and props not updated with fetched data"
Hi

Please I have this issue when fetching Layout Builder, I have the following code.

[code]

[code]

**LBPage** fetched normally but **resource** has empty arrays here is it hen logged on the devtool

[code]
every section there should has it's own blocks inside the array, _by the way, the blocks fetched has been logged on the server nodejs but not passed to props_

_**resources** is just to know

[2022-06-22 12:51] soft4net commented on #240
Hello, each interation call in:

`section.section.components.forEach(async (comp, j) => {...}`

returns a Promise that is not resolved, try to wrap this loop with

with "await Promise.all(...)".

[2022-06-22 14:18] soft4net commented on #240
"async" returned from forEach returns an unresolved Promise, that receives data back after execution getStaticProps function body.
`await Promise.all(section.section.components.forEach(async (comp, j) => {...});`

Anyway do you need to call
`const blocks = await getResource(nodeType, nodeUid);`
inside loop? This is not a good practise, because you spin every request for each iteration. Can't you g

[2022-06-22 16:33] shadcn commented on #240
You're probably using the [layout builder patch](https://www.drupal.org/project/drupal/issues/2942975).

@soft4net is right. You should wrap the top `forEach` in a `Promise.all`.

[code]

You could also use a `for ... of ...`

[code]

[2022-06-22 19:04] ansdb commented on #240
Hi

@shadcn Yes I use that layout builder patch

Okay thanks a lot, I will test what you say and come back to you with the result

Thanks a lot for both of you.

[2022-06-22 20:52] fiasco commented on #217
I've opened #241 to share what we've done to date. I think we'd want to extend it to

- Allow the HtmlRenderer intervention to be disabled (so Drupal could still render a frontend if it wanted to.
- Support non-Node entities.

[2022-06-24 17:49] Heb-l opened #242 "Invalid preview secret in preview iFrame"
Hey, first of all thanks for all your work on this module. It's really interesting.

I've followed the guides from here: https://next-drupal.org/learn/quick-start to set up a Drupal install and a connected Next.js site.

I'm getting an "invalid preview secret" message in the iframe Drupal side. The secrets match in both the Drupal config and the env.local file on the Next.js site.

Do you have any

[2022-06-24 17:52] shadcn commented on #242
Hi. Can you confirm if a `previewSecret` is configured on the client?

[code]

https://next-drupal.org/docs/preview-mode

[2022-06-24 17:58] Heb-l commented on #242
Hey, I didn't have anything in there. I've added the following in drupal.ts now, but it's still the same issue.

[code]

[2022-06-24 18:05] Heb-l commented on #242
Yes, both patches have been applied. I've given the next.js role bypass content access permission too.

[2022-06-24 18:06] shadcn commented on #242
Does the anonymous role have the "Issue subrequests" permission?

[2022-06-25 15:29] #242 closed

[2022-06-28 07:49] shadcn commented on #217
OK so some updates here.

I implemented a POC for the headless tab (uses a new route `entity.ENTITY_TYPE.headless_preview`) and ran some tests. It looks like while this works for the default entity view, it introduces some complexity when dealing with non-canonical routes (example revision routes or preview routes. See @Elendev solution at #132).

Example: `node/12/headless` renders the latest rev

[2022-06-28 08:30] laurencefass commented on #217
As the site select is an optional block, what is the default display under the view tab? Something would need to be displayed if the block is not visible.

Would this be configurable by next_drupal, the block, or the node?

[2022-06-28 08:46] shadcn commented on #217
We can show the Twig preview by default (if available) or make this configurable by entity type.

[2022-06-28 08:49] laurencefass commented on #217
+1 for configurable options.

Is the Twig Preview the Drupal default display?

[2022-06-28 08:50] shadcn commented on #217
Yes or whatever the main content block render. Example the default display on a node view route or a revision display on a revision route.

[2022-06-28 18:46] xpersonas opened #244 "Error: Resource of type 'node--article' not found"
I feel like an idiot here. I'm failing at a relatively early stage in this process. Trying to provide as much info as possible, but there's not a lot to go on...

[code]

[code]

I've tried connecting to a new site install following along with the docs `composer create-project drupal/recommended-project drupal-site` and I have tried on some of my existing Drupal sites. Always the same result.

No

[2022-06-28 19:03] xpersonas commented on #244
Ah ok. Didn't know to check there. Now I'm seeing an error. But not sure what to make of it. The site(s) I'm trying to access are fully functional local sites with clean urls. Let me know if any other details would help.

(I'm using Larave's Valet currently, but `drush runserver 127.0.0.1:8888` gave the same result.)

[code]

[2022-06-28 19:08] shadcn commented on #244
I use Valet as well. This might help https://github.com/laravel/valet/issues/771

I’m not at my desk right now. I can send my valet config when I get back.

[2022-06-28 20:36] xpersonas commented on #244
Well, I went through everything I could with that link. Never really ended up in a better place. I can get `/jsonapi` not to show an error now, but still not connecting the front and back ends.

I can verify that `/jsonapi/node/article` does list my articles. Testing with browser and Postman, I get results.

So I'm thinking jsonapi is fine on the Drupal side. But still getting nowhere on the Next.

[2022-06-29 19:59] iamfredrik commented on #94
For me it was the TypeScript Interface NodePageProps etc. that was causing the problems. Removed them and it builds just fine.

[2022-06-30 03:41] iamfredrik opened #245 "Starter does not build because of Type error"
I can't get the starter to build. I tried creating a new project with the starter and without doing any modifications and the same problem persists. There is no problem running 'npm run dev', but when adding "build": "next build" to the scripts section in package.json and running 'npm run build', I get the following error:

Adding the following to next.config.js inside module.exports allows the pr

[2022-06-30 07:53] lauriii opened #246 "Updating Next.js entity types should clear caches using relevant cache tags"
At the moment, updating Next.js entity types is not clearing any caches when configuration is updated. This means that if any of the entity pages are cached, the cached version of the page is still served even if the rendering of the entity should change based on the Next.js entity types configuration.

### Steps for reproducing

1. Enable dynamic page caching
2. Generate new node using any conten

[2022-06-30 08:01] shadcn commented on #246
Bug confirmed. Adding this to the current work I'm doing on preview (where we fixed a bug with the router cache rebuild: #217)

Thanks @lauriii

[2022-06-30 08:05] shadcn commented on #245
Let me try and reproduce this. I'm guessing `unstable_revalidate` has been updated in the latest `next`release. Looking.

Note: I've also published a quick guide here on how to can run the headless umami demo on your local. See https://gist.github.com/shadcn/23d2cff86eb68836774f877a3ecc88a3

[2022-06-30 08:07] shadcn commented on #245
@iamfredrik which next version is in your `package.json`?

[2022-06-30 08:17] shadcn commented on #245
Hmm I can't reproduce it with `npm` either. Can you try the following?

1. Delete the `node_modules` dir and`package-lock.json`.
2. Lock the `next` version to `12.1.4`

[code]

3. Run `npm install`
4. Then run `npm build` again.

Thank you

[2022-06-30 08:24] iamfredrik commented on #245
That seems to have done the trick. Thanks!

[2022-06-30 08:26] shadcn commented on #245
Nice. Probably the next 12.2 upgrade. We're still working on upgrading next-drupal to 12.2.

[2022-06-30 08:28] shadcn commented on #244
Still not sure what could be happening here. It looks like you got everything properly configured. Looking...

[2022-06-30 12:44] lauriii opened #247 "Environment variables include variables that are specific to certain examples"
It seems like some of the environment variables are no longer required by _next-drupal-basic-starter_ since it has started using the `DrupalClient`. At least `DRUPAL_FRONT_PAGE` and `DRUPAL_SITE_ID` seem unused, and could potentially be removed from the environment variables that are provided by the Drupal module. If we still want to keep this in the module output, I guess we should at least add a

[2022-06-30 17:49] septembre2018 opened #248 "Error: Initial locale argument was not passed into serverSideTranslations"
Hello,

I'm trying to test the new example-umami out of the box.
While I'm trying to access to a node i'll get the error : Initial locale argument was not passed into serverSideTranslations

Errors logs :
`error - Error: Initial locale argument was not passed into serverSideTranslations
    at _callee$ (/Users/septembre/Documents/GitHub/japi/test-umami/node_modules/next-i18next/dist/commonjs/serve

[2022-06-30 17:52] shadcn commented on #248
@septembre2018 quick question. Are you following the guide at https://gist.github.com/shadcn/23d2cff86eb68836774f877a3ecc88a3?

[2022-06-30 18:46] septembre2018 commented on #248
no, I've tried with my server where I've install a drupal instance

[2022-07-01 11:38] MokDevelopment opened #249 "Error: Umami Example: Articles Api: drupal.createFileResource()"
I was able to set up the Umami example by following the guide.

I found an issue when trying to create an article node via the **form--article component**, which is using the /api/articles api endpoint.

**Path: /pages/api/articles/index.ts**

I receive a server error (500) when getting to this part of the script (line 66):

      "media--image",
      {
        data: {
          type: "field_medi

[2022-07-01 12:02] shadcn commented on #249
Can you add a log in the catch in pages/api/articles.ts?

[2022-07-01 12:11] MokDevelopment commented on #249
PINO says:

`{"level":30,"time":1656677372592,"pid":81479,"hostname":"50","err":{"type":"Error","message":"Resource of type 'undefined' not found.","stack":"Error: Resource of type 'undefined' not found.\n    at /Users/mk/WORK/WORKSPACE/react/next-example-umami-main/node_modules/next-drupal/dist/index.js:2023:17\n    at runMicrotasks (<anonymous>)\n    at processTicksAndRejections (node:internal/p

[2022-07-01 12:38] MokDevelopment commented on #249
I added the two values to the attributes object:

and it seems to work... I just don't understand why ;)

[2022-07-01 13:49] MokDevelopment commented on #249
Thank you too.
May I ask if the outdated logic is also applies to the "next-drupal" library or is it just the Umami Example code base?

[2022-07-01 14:19] shadcn commented on #249
Looks like it's only the separate repo at https://github.com/chapter-three/next-example-umami that needs updating.

The example here is up to date: https://github.com/chapter-three/next-drupal/tree/main/examples/example-umami

[2022-07-02 08:40] septembre2018 commented on #248
HI,
I've strictly follow the guide and I still have the same error.

[2022-07-02 16:15] shadcn commented on #248
OK this might sound like an easy fix but I just had this error as well and clearing the cache on the Drupal site fixed it. Can you give it a try?

[2022-07-03 09:16] shadcn commented on #249
Done. I've updated the example. https://github.com/chapter-three/next-example-umami/blob/898669660bb7cda03ebc3e2c6bcca185ca774e9e/pages/api/articles/index.ts#L64

[2022-07-03 09:16] #249 closed

[2022-07-03 09:21] shadcn commented on #246
I've moved this to the `1.3.0` release since the work done in #217 might take a while and be probably added in the `2.0.0` release.

[2022-07-03 09:28] shadcn commented on #217
I moved this to the `2.0.0` release for now but if we can figure out how to implement this in a non-breaking way, we could consider it in a dot release.

[2022-07-03 10:04] shadcn commented on #178
Marking this as completed.

[2022-07-03 10:04] #178 closed

[2022-07-03 10:05] shadcn commented on #168
@bandita0907 I'm going to close this as done/stale. Feel free to reopen if not. Thank you.

[2022-07-03 10:05] #168 closed

[2022-07-03 10:05] shadcn commented on #154
@caroline-dsouza I'm going to close this as done/stale. Feel free to reopen if not. Thank you.

[2022-07-03 10:05] #154 closed

[2022-07-03 10:07] shadcn commented on #169
@kdejaeger I'm going to close this as done/stale. Feel free to reopen if not. Thank you.

PS: the `DrupalClient` supports creating resources as of `1.4.0`: https://next-drupal.org/docs/creating-resources

[2022-07-03 10:07] #169 closed

[2022-07-03 10:07] shadcn commented on #157
@theodorosploumis I'm going to close this as done/stale. Feel free to reopen if not. Thank you.

[2022-07-03 10:07] #157 closed

[2022-07-03 10:07] shadcn commented on #122
@nethravathi95  I'm going to close this as done/stale. Feel free to reopen if not. Thank you.

[2022-07-03 10:07] #122 closed

[2022-07-03 10:08] shadcn commented on #15
@itamair I'm going to close this as done/stale. Feel free to reopen if not. Thank you.

[2022-07-03 10:08] #15 closed

[2022-07-03 10:09] shadcn commented on #41
@simon-olsen Is this still an issue?

[2022-07-03 17:27] shadcn commented on #245
@iamfredrik Marking this as fixed. Feel free to reopen if not. Thank you.

[2022-07-03 17:27] #245 closed

[2022-07-03 21:07] septembre2018 commented on #248
Sorry it doesn't change anything.

[2022-07-04 18:35] ansdb commented on #240
Hi @shadcn

Thanks a lot I've got the block using `for loop` .

I've tried `Promise.all` it has to work but maybe I did a mistake, anyway.

Please I have a question why I'm not able to push blocks fetched using the first approach with `.forEach` method and i can push using the `for loop`?

Thanks a lot.

[2022-07-04 22:23] simon-olsen commented on #41
All good to close this issue. My recent versions are

[code]

and there hasn't bee this warning since.

[2022-07-04 22:23] #41 closed

[2022-07-05 06:53] shadcn commented on #247
I've created a PR to fix this. Thanks @lauriii

https://github.com/chapter-three/next-drupal/pull/251

[2022-07-05 11:53] lauriii opened #252 "Upgrade guide for DrupalClient missing withAuth"
We are updating `next-acms` starterkit to use _DrupalClient_ on https://github.com/acquia/next-acms/pull/39. We followed steps from https://next-drupal.org/docs/upgrade-guide but it resulted in all of the requests being made as anonymous user, leading into permission issues and pages failing to render. To get the same behavior as with the previous APIs, it is required to also have `withAuth: true`

[2022-07-05 12:29] shadcn commented on #252
Step 5 on the Upgrade Guide covers the `withAuth` option.

I'm open to suggestions on how we can improve this part of the docs :)

[2022-07-05 13:06] lauriii commented on #252
Thanks for the quick response! I somehow missed that step completely 👍

If you want to reduce chances of that happening to others, it might make sense to cover it around step 2 where authorization is mentioned earlier.

[2022-07-06 02:08] fiasco commented on #217
Being a block, would it only work on an entity view page? This wouldn't work in scenarios where Drupal was a hybrid CMS unless you relied solely on the site selector and viewed the site directly (no iframe, new tab) through that?

[2022-07-06 07:10] shadcn commented on #252
@lauriii I created a PR with updated docs: https://github.com/chapter-three/next-drupal/pull/253

[2022-07-06 07:13] shadcn commented on #217
@fiasco You'll be able to place the block on any canonical route for any entity type.

When in hybrid mode, the block will default to the default html renderer so you will see the Twig template. You can then use the site selector to switch sites.

[2022-07-06 08:14] #252 closed

[2022-07-06 08:14] #247 closed

[2022-07-07 12:31] suresh-kumar-ogilvy commented on #220
Hi, Experienced the same issue on windows 10, Added the path.exe ("C:\Program Files\Git\usr\bin") on the windows environment variable, and it works.

[2022-07-07 14:38] phenaproxima opened #254 "Document that this does not work with Laravel Valet 2"
While setting up next-drupal (as part of working on acquia/next-acms), I ran this problem which was caused because I'm using Laravel Valet for local development: https://github.com/laravel/valet/issues/771.

The problem was fixed in Valet 3.1.8 by https://github.com/laravel/valet/commit/665a1fb4a349a5cb1ba688e2c0b012d74ac963e0, but not backported to Valet 2. So this means that next-drupal essentia

[2022-07-07 14:50] shadcn commented on #254
Hmm I use Valet as well (still on version 2) but it looks like I have this fix as a patch from way before `next-drupal`.

I'll document the link to the patch for Valet 2 and recommend Valet 3.

Thanks for the feedback.

[2022-07-07 14:52] shadcn opened #255 "Add a Known Issues / Troubleshooting page to documentation"
See #254

[2022-07-08 07:46] lauriii opened #256 "Add handling for Next.js static paths on Drupal"
The Next.js entity preview feature is really powerful! It would be really useful to be able to do something similar with Next.js static paths.

For example, I have a static path for /articles in a Next.js site which is linked in a menu. If I click that link from the menu view, it leads to a 404 page on Drupal which is not great UX.

## Potential solutions

1. Render a page similar to entity previe

[2022-07-08 08:58] shadcn commented on #256
Adding this to the list of features to consider for #217

As a temporary solution, if you want to prevent navigation on link click inside the iframe, you can add the static paths to **Skip routes**. See https://next-drupal.org/guides/route-syncing#skipping-routes

[2022-07-08 18:16] ansdb opened #257 "getResourceFromContext returns null for dynamic page generation"
Hi

I have the following file `pages/[LB].tsx`

I want to fetch a page that has the **layout builder** many blocks inside of it.

here is the code

[code]
what it returs:

[code]

Thanks a lot.

[2022-07-08 18:25] shadcn commented on #257
`context` assumes a `[slug].tsx` route. You should call it from a `pages/[...slug].tsx` page.

[2022-07-08 18:26] shadcn commented on #257
See https://next-drupal.org/docs/pages#advanced-example

[2022-07-08 18:46] ansdb commented on #257
Hi @shadcn

Thanks for your reply

here is what I changed

[code]

change `pages/[LB].tsx` into `pages/[...slug].tsx`

and I still get null

[2022-07-08 18:57] shadcn commented on #257
You don’t need the params part. This is handled for you.

[code]

[2022-07-08 19:08] ansdb commented on #257
Thanks a lot @shadcn , the problem solved, thank you very much :smiley:

[2022-07-08 19:08] #257 closed

[2022-07-10 22:41] fiasco commented on #256
Another idea: Create a content representation of a next.js static path in Drupal that could be linked into the menu and, when visited, either showed the site preview at the given route or redirected to the site itself.

This could be done through a Site reference field which allowed you to choose the site the entity represented. You could then ship a Static Path Content Type with the site referenc

[2022-07-11 06:27] shadcn commented on #256
@fiasco This is an interesting solution. We're using this on our own site where we have a blog landing built on the Next.js site. On Drupal, we created a temporary page which resolves to this same url.

[2022-07-12 14:31] nishud16 opened #259 "Issue with [...slug].js"
I am building a PLP with url structure as /shop/[...slug]

directory structure :
pages -> shop -> [...slug].js

export async function getStaticPaths(context) {
    return {
        paths: await getPathsFromContext(['taxonomy_term--product_category'], context),
        fallback: 'blocking',
    };
}
/*
 * Use below function to get node/product details
 * */
export async function getStaticProps(cont

[2022-07-14 07:59] nishud16 commented on #259
Thanks for the response @shadcn .

But on update i get the following error:

**CODE**
`export async function getStaticPaths(context) {
    return {
        paths: await getPathsFromContext(['taxonomy_term--product_category'], context),
        fallback: 'blocking',
    };
}

export async function getStaticProps(context) {
    const path = await translatePathFromContext(context);
    if (!path) {

[2022-07-14 08:01] shadcn commented on #259
You need to pass it to `getResourceFromContext`.

[2022-07-14 08:04] nishud16 commented on #259
Is it possible we can connect in a chat room or via google meet i am still facing issue

[2022-07-14 08:23] shadcn commented on #259
I'm on Drupal Slack in #nextjs channel: https://drupal.slack.com/archives/C01E36BMU72

[2022-07-14 14:53] Defranos opened #260 "Support for react 18"
Hello,

I'm on a project that uses this library and in the process of migrating towards React 18.
However, because of a version mismatch with this library use of React version (17), we are facing errors.

Any plans on upgrading ?

[2022-07-14 16:14] shadcn commented on #260
@Defranos What's the error?

(We are looking into upgrading soon. I'm currently testing next 12.2.0 as well)

[2022-07-15 08:01] kanchamk opened #261 "npn run dev not working as expected, throwing an error"
![Nextjs error](https://user-images.githubusercontent.com/34206567/179179502-78cfa64f-ecb1-4f03-a1b1-cb68f691102c.PNG)

I followed the steps mentioned in this url https://next-drupal.org/learn/quick-start/create-nexts-project. but getting below error.

`D:\Sites\drupal_demo\next\node_modules\next\dist\trace\report\index.js:14
    reporters = [];
              ^

SyntaxError: Unexpected token =

[2022-07-15 09:35] shadcn commented on #261
hmm not sure what's happening here. I don't have a Windows machine to try and debug this either.

Can you check if you can reproduce this error using a vanilla Next.js: `npx create-next-app`?

[2022-07-15 16:20] ghost opened #262 "Create project documentation improvements - how to use yarn"
👉 Here you show how to start the server.
![image](https://user-images.githubusercontent.com/88319069/179264844-193e915b-c60f-4ccf-b13f-34a33dc41a79.png)

👉 But there are no examples of how to start a project with yarn.
![image](https://user-images.githubusercontent.com/88319069/179264892-2f0179ea-812c-4c25-a20f-188e4e5977eb.png)

👉 I am not a front-end expert and there is no npm/npx in the most po